Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2018-06, with the labels that each got.

#2213 Adding infinte canvas to read me
  readme.md
Labels: documentation

#2203 Update InheritDoc version
  build/build.cake
Labels: reviewers wanted

#2227 Updating Gaze to fix hit testing and the invokation of hit targets
  GazeInputTest/App.xaml.cs
  GazeInputTest/MainPage.xaml
  GazeInputTest/MainPage.xaml.cs
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeCursor.cpp
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeCursor.h
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeFeedbackPopupFactory.cpp
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeFeedbackPopupFactory.h
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeInput.cpp
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeInput.h
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazePointer.cpp
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazePointer.h
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazePointerProxy.cpp
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeTargetItem.cpp
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeTargetItem.h
Labels: gaze

#2244 Fixed gaze feedback being hit testable. Started improviing comments. Made Loaded/Unloaded logic assert when stressed.
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeFeedbackPopupFactory.cpp
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeInput.cpp
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazePointer.cpp
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazePointer.h
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazePointerProxy.cpp
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazePointerProxy.h
Labels: gaze
