Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2018-09, with the labels that each got.

#2435 Introduction of XamlHost (XamlIslands) for Windows Forms and Windows Presentation Foundation
  Directory.Build.props
  Directory.Build.targets
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/Interop/Win32/NativeDefines.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/Interop/Win32/SafeNativeMethods.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/Interop/Win32/SetWindowPosFlags.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/Interop/Win32/UnsafeNativeMethods.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/Microsoft.Toolkit.Forms.UI.XamlHost.csproj
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/Properties/AssemblyInfo.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/Properties/Resources.Designer.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/Properties/Resources.resx
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/Properties/Settings.Designer.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/Properties/Settings.settings
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/WindowsXamlHost.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/WindowsXamlHostBase.KeyboardFocus.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/WindowsXamlHostBase.Layout.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/WindowsXamlHostBase.Window.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/WindowsXamlHostBase.WndProc.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/WindowsXamlHostBase.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/Win32/WM.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.XamlHost/DesktopWindowXamlSourceExtensions.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.XamlHost/IDesktopWindowXamlSourceNative.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.XamlHost/MetadataProviderDiscovery.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.XamlHost/UWPTypeFactory.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.XamlHost/XamlApplication.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.sln
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.XamlHost/Microsoft.Toolkit.Wpf.UI.XamlHost.csproj
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.XamlHost/Properties/AssemblyInfo.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.XamlHost/Properties/Resources.Designer.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.XamlHost/Properties/Resources.resx
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.XamlHost/Properties/Settings.Designer.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.XamlHost/Properties/Settings.settings
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.XamlHost/VisualStudioToolsManifest.xml
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.XamlHost/WindowsXamlHost.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.XamlHost/WindowsXamlHostBase.Focus.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.XamlHost/WindowsXamlHostBase.Layout.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.XamlHost/WindowsXamlHostBase.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/Cookies/CookieTests.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/NavigateToLocalStreamUri/TestStreamResolver.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/WebViewFormContextSpecification.cs
  docs/controls/WindowsXAMLHost.md
  docs/resources/images/Controls/WindowsXAMLHost/add-files-to-folder.png
  docs/resources/images/Controls/WindowsXAMLHost/class-library-project.png
  docs/resources/images/Controls/WindowsXAMLHost/code-behind-file-uwp-class.png
  docs/resources/images/Controls/WindowsXAMLHost/edit-project.png
  docs/resources/images/Controls/WindowsXAMLHost/folder-to-project.png
  docs/resources/images/Controls/WindowsXAMLHost/host-controls.png
  docs/resources/images/Controls/WindowsXAMLHost/type-name-property-windows-forms.png
  docs/resources/images/Controls/WindowsXAMLHost/type-name-property-wpf-custom.png
  docs/resources/images/Controls/WindowsXAMLHost/type-name-property-wpf.png
  docs/resources/images/Controls/WindowsXAMLHost/windows-forms-control-toolbox.png
  docs/resources/images/Controls/WindowsXAMLHost/windows-xaml-control-toolbox.png
  docs/resources/images/Controls/WindowsXAMLHost/xaml-content-updated-event-windows-forms.png
  docs/resources/images/Controls/WindowsXAMLHost/xaml-content-updated-event-wpf-custom.png
  docs/resources/images/Controls/WindowsXAMLHost/xaml-content-updated-event-wpf.png
  docs/toc.md
Labels: controls, reviewers wanted, win32

#2395 Fix markdown parser crash when typing comments
  Microsoft.Toolkit.Parsers/Markdown/Inlines/CommentInline.cs
Labels: parsers, reviewers wanted

#2480 Add more robust type loading system for Xaml Islands
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.XamlHost/MetadataProviderDiscovery.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.XamlHost/XamlApplication.cs
Labels: XamlIslands, reviewers wanted, win32

#2447 Fix wpf webview dpi
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/Win32/UnsafeNativeMethods.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.Controls.WebView/WebView.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.Controls.WebView/WebViewHost.cs
  Microsoft.Toolkit.Win32/WebView.Shared/Interop/Win32/DpiHelper.cs
Labels: WebView, controls, reviewers wanted, win32

#2488 Add entry for WebViewCompatible in manifest
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.Controls.WebView/VisualStudioToolsManifest.xml
Labels: WebView, controls, reviewers wanted

#2472 Fix for issue "#2436 - Layout Cycle in DataGrid"
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridColumns.cs
Labels: DataGrid

#2490 Mcleans xamlislands wrappers squished
  docs/controls/wpf-winforms/InkCanvas.md
  docs/controls/wpf-winforms/InkToolbar.md
  docs/controls/wpf-winforms/MediaPlayerElement.md
  docs/controls/wpf-winforms/WebView-known-issues.md
  docs/controls/wpf-winforms/WebView.md
  docs/controls/wpf-winforms/WebViewCompatible.md
  docs/controls/wpf-winforms/WindowsXamlHost.md
  docs/modernization/InkCanvas.md
  docs/modernization/InkToolbar.md
  docs/modernization/MediaPlayerElement.md
  docs/resources/images/Controls/WindowsXAMLHost/type-name-property-windows-forms.png
  docs/resources/images/Controls/WindowsXAMLHost/xaml-content-updated-event-windows-forms.png
  docs/resources/images/Controls/WindowsXAMLHost/xaml-content-updated-event-wpf.png
  docs/toc.md
Labels: XamlIslands, documentation

#2481 XamlIslands: WinForms focus fix
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/WindowsXamlHostBase.KeyboardFocus.cs
Labels: XamlIslands, controls, reviewers wanted, win32

#2462 Joncamp/gaze hid parsing
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/DwellProgressState.h
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeFeedbackPopupFactory.cpp
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeFeedbackPopupFactory.h
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeHidParsers.cpp
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeHidParsers.h
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeHidUsages.h
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazePointerProxy.cpp
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazePointerProxy.h
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/Microsoft.Toolkit.UWP.Input.GazeInteraction.vcxproj
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/Microsoft.Toolkit.UWP.Input.GazeInteraction.vcxproj.filters
Labels: feature

#2494 Xaml Islands: Handle native DLL load attempt
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.XamlHost/MetadataProviderDiscovery.cs
Labels: XamlIslands

#2505 Add `AddPreLoadedScript(string)` to WebView
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/IWebView.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlHost.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/PreLoad/PreLoadTests.cs
Labels: WebView, controls, reviewers wanted, win32

#2504 Update to SDK 17763
  Directory.Build.props
  azure-pipelines.yml
Labels: build, reviewers wanted
