Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2018-12, with the labels that each got.

#2632 Clean up Microsoft.Toolkit.Uwp.Helpers docs
  Microsoft.Toolkit.Uwp/Helpers/BackgroundTaskHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/CameraHelper/CameraHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/CameraHelper/CameraHelperResult.cs
  Microsoft.Toolkit.Uwp/Helpers/CameraHelper/FrameEventArgs.cs
  Microsoft.Toolkit.Uwp/Helpers/ColorHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/DispatcherHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/BaseObjectStorageHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/IObjectStorageHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/LocalObjectStorageHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/RoamingObjectStorageHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/PackageVersionHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/PrintHelper/PrintHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/PrintHelper/PrintHelperOptions.cs
  Microsoft.Toolkit.Uwp/Helpers/PrintHelper/PrintHelperStateBag.cs
  Microsoft.Toolkit.Uwp/Helpers/ScreenUnitHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/StorageFileHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/StreamHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/SystemInformation.cs
Labels: documentation, reviewers wanted

#2687 OnDevice markup extension added (take 2)
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/OnDevice/OnDevice.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/OnDevice/OnDevicePage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/OnDevice/OnDevicePage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/OnDevice/OnDeviceXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI/Extensions/Markup/OnDevice.cs
Labels: extensions, reviewers wanted

#2679 Radial gauge step size zero
  Microsoft.Toolkit.Uwp.UI.Controls/RadialGauge/RadialGauge.cs
Labels: bug, controls, reviewers wanted
