Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2018-04, with the labels that each got.

#1914 Removing Moldavian language from Bing service
  Microsoft.Toolkit.Services/Services/Bing/BingLanguage.cs
Labels: introduce breaking changes, services

#1945 Fix XAML Connected Animation crash (fixes #1913).
  Microsoft.Toolkit.Uwp.UI.Animations/ConnectedAnimations/ConnectedAnimationHelper.cs
Labels: animations, reviewers wanted

#1942 IncrementalLoadingCollection Fixes
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Incremental Loading Collection/IncrementalLoadingCollectionPage.xaml.cs
  Microsoft.Toolkit.Uwp/IncrementalLoadingCollection/IncrementalLoadingCollection.cs
Labels: helpers, reviewers wanted

#1971 always take InvariantCulture when parsing floats
  Microsoft.Toolkit.Uwp.UI/Extensions/Visual/VisualExtensions.cs
Labels: animations, reviewers wanted

#1970 Changed AdvancedCollectionView _source to IList
  Microsoft.Toolkit.Uwp.UI/AdvancedCollectionView/AdvancedCollectionView.cs
Labels: helpers, introduce breaking changes, reviewers wanted

#1966 fix wrap panel layout bug
  Microsoft.Toolkit.Uwp.UI.Controls/WrapPanel/WrapPanel.cs
Labels: controls, reviewers wanted

#1952 Nav view settings detect
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenu.Events.cs
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenu.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenu.cs
  docs/controls/HamburgerMenu.md
Labels: controls, reviewers wanted

#1921 Stacked in-app notification
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/InAppNotification/InAppNotificationXaml.bind
  Microsoft.Toolkit.Uwp.UI.Controls/InAppNotification/InAppNotification.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InAppNotification/InAppNotification.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InAppNotification/NotificationOptions.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InAppNotification/StackMode.cs
  docs/controls/InAppNotification.md
Labels: controls, improvements, reviewers wanted

#1899 Remove is touch optimized
  Microsoft.Toolkit.Uwp.UI.Controls.Design/RangeSelectorMetadata.cs
  Microsoft.Toolkit.Uwp.UI.Controls/RangeSelector/RangeSelector.cs
  Microsoft.Toolkit.Uwp.UI.Controls/RangeSelector/RangeSelector.xaml
Labels: controls, introduce breaking changes, reviewers wanted

#1884 feat: Parsing categories in rss Item
  Microsoft.Toolkit.Parsers/Rss/Rss2Parser.cs
  Microsoft.Toolkit.Parsers/Rss/RssHelper.cs
  Microsoft.Toolkit.Parsers/Rss/RssSchema.cs
Labels: parsers, reviewers wanted

#1964 Sample app: add custom printing sample.
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PrintHelper/PrintHelperCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PrintHelper/PrintHelperPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PrintHelper/PrintHelperPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PrintHelper/PrintHelperXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  docs/helpers/PrintHelper.md
Labels: helpers

#1917 Add sample page for LayoutTransformControl
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/LayoutTransformControl/LayoutTransformControl.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/LayoutTransformControl/LayoutTransformControlPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/LayoutTransformControl/LayoutTransformControlPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/LayoutTransformControl/LayoutTransformControlXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  docs/controls/LayoutTransformControl.md
Labels: controls, reviewers wanted, sample app

#1981 Deprecating PullToRefreshListView for controls available in next Windows release
  Directory.Build.props
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PullToRefreshListView/PullToRefreshListViewPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PullToRefreshListView/PullToRefreshListViewXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI.Controls/PullToRefreshListView/PullToRefreshListView.cs
  Microsoft.Toolkit.Uwp.UI.Controls/PullToRefreshListView/PullToRefreshListView.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/PullToRefreshListView/PullToRefreshListViewRefreshContainerTemplate.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/PullToRefreshListView/PullToRefreshListViewTemplate.xaml
  docs/controls/PullToRefreshListview.md
Labels: controls, reviewers wanted

#1977 Add VB samples to docs
  docs/.template.md
  docs/animations/AnimationSet.md
  docs/animations/Blur.md
  docs/animations/Expressions.md
  docs/animations/Fade.md
  docs/animations/FadeHeader.md
  docs/animations/Light.md
  docs/animations/Offset.md
  docs/animations/ParallaxService.md
  docs/animations/ReorderGrid.md
  docs/animations/Rotate.md
  docs/animations/Saturation.md
  docs/animations/Scale.md
  docs/controls/AdaptiveGridView.md
  docs/controls/BladeView.md
  docs/controls/Carousel.md
  docs/controls/DropShadowPanel.md
  docs/controls/HamburgerMenu.md
  docs/controls/InAppNotification.md
  docs/controls/Loading.md
  docs/controls/RangeSelector.md
  docs/controls/SlidableListItem.md
  docs/controls/TextToolbar.md
  docs/extensions/LogicalTree.md
  docs/extensions/VisualTree.md
  docs/helpers/AdvancedCollectionView.md
  docs/helpers/BackgroundTaskHelper.md
  docs/helpers/BluetoothLEHelper.md
  docs/helpers/Colors.md
  docs/helpers/DeepLinkParsers.md
  docs/helpers/DispatcherHelper.md
  docs/helpers/HttpHelper.md
  docs/helpers/HttpHelperRequest.md
  docs/helpers/HttpHelperResponse.md
  docs/helpers/ImageCache.md
  docs/helpers/IncrementalLoadingCollection.md
  docs/helpers/NetworkHelper.md
  docs/helpers/ObjectStorage.md
  docs/helpers/PrintHelper.md
  docs/helpers/StorageFiles.md
  docs/helpers/Streams.md
  docs/helpers/ThemeListener.md
  docs/parsers/MarkdownParser.md
  docs/parsers/RSSParser.md
  docs/services/Bing.md
  docs/services/Facebook.md
  docs/services/Linkedin.md
  docs/services/MicrosoftGraph.md
  docs/services/MicrosoftTranslator.md
  docs/services/OneDrive.md
  docs/services/Twitter.md
Labels: documentation, reviewers wanted

#1937 Fix SlidableListItem multi-window crash: Specify brushes in XAML
  Microsoft.Toolkit.Uwp.UI.Controls/SlidableListItem/SlidableListItem.cs
  Microsoft.Toolkit.Uwp.UI.Controls/SlidableListItem/SlidableListItem.xaml
Labels: controls, reviewers wanted

#2022 Fix NavigationViewExtensions for build 17134
  Microsoft.Toolkit.Uwp.UI/Extensions/NavigationView/NavigationViewExtensions.cs
Labels: bug, extensions, reviewers wanted
