Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2018-02, with the labels that each got.

#1639 Implementing Relative Links/Images/Emails in MarkdownTextBlock
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/MarkdownTextBlock/InitialContent.md
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/MarkdownTextBlock/MarkdownTextBlock.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/MarkdownTextBlock/MarkdownTextBlockPage.xaml.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/MarkdownTextBlock.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/Parse/Inlines/HyperlinkInline.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/Parse/Inlines/ImageInline.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/Parse/Inlines/MarkdownLinkInline.cs
  Microsoft.Toolkit/Extensions/StringExtensions.cs
Labels: controls, improvements

#1773 Documentation Image Loading + Caching W/ Relative and Absolute images
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/Models/Sample.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/MarkdownTextBlock/InitialContent.md
  Microsoft.Toolkit.Uwp.SampleApp/Shell.xaml.cs
Labels: improvements, reviewers wanted, sample app

#1634 Loading svg images & image width support in MarkdownTextBlock
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/MarkdownTextBlock/InitialContent.md
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/Display/XamlRenderer.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/MarkdownTextBlock.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/Parse/Inlines/ImageInline.cs
  UnitTests/Markdown/Parse/ImageInlineTests.cs
  UnitTests/UnitTests.csproj
Labels: controls, improvements

#1777 Fix for Carousel crash under multi-window
  Microsoft.Toolkit.Uwp.UI.Controls/Carousel/Carousel.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Carousel/Carousel.xaml
Labels: controls, good to merge I, reviewers wanted

#1723 Added support to tweets with 280 characters
  Microsoft.Toolkit.Uwp.Services/Services/Twitter/Tweet.cs
  Microsoft.Toolkit.Uwp.Services/Services/Twitter/TwitterExtended.cs
Labels: reviewers wanted, services

#1792 Fix layout when Margin of GridViewItem is not zero
  Microsoft.Toolkit.Uwp.UI.Controls/AdaptiveGridView/AdaptiveGridView.cs
  Microsoft.Toolkit.Uwp.UI.Controls/AdaptiveGridView/AdaptiveHeightValueConverter.cs
Labels: controls, reviewers wanted

#1804 Connected animations fix for cached pages
  Microsoft.Toolkit.Uwp.UI.Animations/ConnectedAnimations/Connected.cs
  Microsoft.Toolkit.Uwp.UI.Animations/ConnectedAnimations/ConnectedAnimationHelper.cs
Labels: animations, reviewers wanted

#1805 IncrementalLoadingCollection Refresh Fix
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Incremental Loading Collection/IncrementalLoadingCollectionPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Incremental Loading Collection/PeopleSource.cs
  Microsoft.Toolkit.Uwp/IncrementalLoadingCollection/IncrementalLoadingCollection.cs
Labels: helpers, reviewers wanted

#1801 Improving TextboxRegex to use StringExtensions
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/StringExtensions/StringExtensionsPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/StringExtensions/StringExtensionsPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI/Extensions/TextBoxRegEx/TextBoxRegex.cs
  Microsoft.Toolkit/Extensions/StringExtensions.cs
  docs/extensions/StringExtensions.md
Labels: extensions, need documentation, reviewers wanted

#1813 Add DockPanel padding
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/DockPanel/DockPanel.bind
  Microsoft.Toolkit.Uwp.UI.Controls/DockPanel/DockPanel.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/DockPanel/DockPanel.cs
  docs/controls/DockPanel.md
Labels: controls, reviewers wanted

#1799 Reset launch count
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/SystemInformation/SystemInformationCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/SystemInformation/SystemInformationPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/SystemInformation/SystemInformationPage.xaml.cs
  Microsoft.Toolkit.Uwp/Helpers/SystemInformation.cs
  docs/helpers/SystemInformation.md
Labels: helpers, improvements, reviewers wanted

#1824 docs(SystemInformation): add list of possible DeviceFamily
  Microsoft.Toolkit.Uwp/Helpers/SystemInformation.cs
Labels: documentation, helpers

#1826 Added check to prevent exceptions when AdaptiveGridView parent availalbe size is Inf
  Microsoft.Toolkit.Uwp.UI.Controls/AdaptiveGridView/AdaptiveGridView.cs
Labels: controls, reviewers wanted

#1810 Add Composition based Backdrop Brushes
  Microsoft.Toolkit.Uwp.SampleApp/Icons/Brushes.png
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/Models/Sample.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropBlurBrush/BackdropBlurBrush.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropBlurBrush/BackdropBlurBrushPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropBlurBrush/BackdropBlurBrushPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropBlurBrush/BackdropBlurBrushXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropGammaTransferBrush/BackdropGammaTransferBrush.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropGammaTransferBrush/BackdropGammaTransferBrushPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropGammaTransferBrush/BackdropGammaTransferBrushPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropGammaTransferBrush/BackdropGammaTransferBrushXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropInvertBrush/BackdropInvertBrush.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropInvertBrush/BackdropInvertBrushPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropInvertBrush/BackdropInvertBrushPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropInvertBrush/BackdropInvertBrushXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropSaturationBrush/BackdropSaturationBrush.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropSaturationBrush/BackdropSaturationBrushPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropSaturationBrush/BackdropSaturationBrushPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropSaturationBrush/BackdropSaturationBrushXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropSepiaBrush/BackdropSepiaBrush.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropSepiaBrush/BackdropSepiaBrushPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropSepiaBrush/BackdropSepiaBrushPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackdropSepiaBrush/BackdropSepiaBrushXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ImageBlendBrush/ImageBlendBrush.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ImageBlendBrush/ImageBlendBrushPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ImageBlendBrush/ImageBlendBrushPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ImageBlendBrush/ImageBlendBrushXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI/Brushes/BackdropBlurBrush.cs
  Microsoft.Toolkit.Uwp.UI/Brushes/BackdropGammaTransferBrush.cs
  Microsoft.Toolkit.Uwp.UI/Brushes/BackdropInvertBrush.cs
  Microsoft.Toolkit.Uwp.UI/Brushes/BackdropSaturationBrush.cs
  Microsoft.Toolkit.Uwp.UI/Brushes/BackdropSepiaBrush.cs
  Microsoft.Toolkit.Uwp.UI/Brushes/ImageBlendBrush.cs
  Microsoft.Toolkit.Uwp.UI/Brushes/ImageBlendMode.cs
  Microsoft.Toolkit.Uwp.UI/Microsoft.Toolkit.Uwp.UI.csproj
  build/build.cake
  docs/brushes/BackdropBlurBrush.md
  docs/brushes/BackdropGammaTransferBrush.md
  docs/brushes/BackdropInvertBrush.md
  docs/brushes/BackdropSaturationBrush.md
  docs/brushes/BackdropSepiaBrush.md
  docs/brushes/ImageBlendBrush.md
  docs/resources/images/Brushes-BackdropBlur.jpg
  docs/resources/images/Brushes-BackdropGamma.jpg
  docs/resources/images/Brushes-BackdropInvert.jpg
  docs/resources/images/Brushes-BackdropSaturation.jpg
  docs/resources/images/Brushes-BackdropSepia.jpg
  docs/resources/images/Brushes-ImageBlend.jpg
  docs/toc.md
  readme.md
Labels: feature, reviewers wanted

#1820 Add a Visual Studio Code Style for RS3 NavigationView control
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/NavigationViewStyles/NavigationViewStyles.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/NavigationViewStyles/NavigationViewStylesPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/NavigationViewStyles/NavigationViewStylesPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/NavigationViewStyles/NavigationViewStylesXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.SampleApp/readme.md
  Microsoft.Toolkit.Uwp.UI/Extensions/NavigationView/NavigationView.xaml
  Microsoft.Toolkit.Uwp.UI/Extensions/NavigationView/NavigationViewExtensions.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/NavigationView/Styles/VSCodeActivityBarStyle.xaml
  docs/controls/HamburgerMenu.md
  docs/extensions/NavigationView.md
  docs/resources/images/Styles-NavigationView.gif
  docs/toc.md
  readme.md
Labels: controls, reviewers wanted

#1829 Menu focus on press on textbox
  Microsoft.Toolkit.Uwp.UI.Controls/Menu/Menu.Events.cs
Labels: controls, reviewers wanted

#1827 Added easing functions for composition animations and behaviors
  Microsoft.Toolkit.Uwp.SampleApp/Models/Sample.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Blur/BlurBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Fade/FadeBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Light/LightBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Offset/OffsetBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Rotate/RotateBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Saturation/SaturationBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Scale/ScaleBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Blur.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/CompositionBehaviorBase.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Fade.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Light.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Offset.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Rotate.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Saturation.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Scale.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Effects/AnimationEffect.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.Blur.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.Fade.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.Light.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.Offset.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.Rotate.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.Saturation.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.Scale.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.cs
  docs/animations/AnimationSet.md
  docs/animations/Blur.md
  docs/animations/Fade.md
  docs/animations/Light.md
  docs/animations/Offset.md
  docs/animations/Rotate.md
  docs/animations/Saturation.md
  docs/animations/Scale.md
Labels: animations, reviewers wanted

#1825 Deprecated AppPinManager
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/AppPinManager/AppPinManagerHelperCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/AppPinManager/AppPinManagerHelperPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/AppPinManager/AppPinManagerHelperPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp/Helpers/AppPinManager/AppPinManager.cs
  docs/helpers/AppPinManager.md
  readme.md
Labels: helpers, reviewers wanted

#1834 Markdown empty text
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/MarkdownTextBlock.Methods.cs
Labels: controls, reviewers wanted

#1831 Added warning for depricated APIs in sample app
  Microsoft.Toolkit.Uwp.SampleApp/Models/Sample.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.SampleApp/Shell.xaml
  Microsoft.Toolkit.Uwp.SampleApp/Shell.xaml.cs
Labels: reviewers wanted, sample app

#1584 add StepFrequency to RangeSelector
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/RangeSelector/RangeSelectorCode.bind
  Microsoft.Toolkit.Uwp.UI.Controls/RangeSelector/RangeSelector.cs
  docs/controls/RangeSelector.md
Labels: controls

#1839 Replacing implicit animations on Expander with Storyboard
  Microsoft.Toolkit.Uwp.UI.Controls/Expander/Expander.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Expander/Expander.xaml
Labels: controls

#1843 OnlineId support added for background tasks
  Microsoft.Toolkit.Uwp.Services/Services/OneDrive/OneDriveService.cs
  docs/services/OneDrive.md
Labels: services

#1848 Fixed issue where Images for Adaptive Grid View did not load in the sample app, due to an undocumented bug.
  docs/controls/AdaptiveGridView.md
Labels: bug, documentation

#1850 sync thumbs on left/right arrow keys
  Microsoft.Toolkit.Uwp.UI.Controls/RangeSelector/RangeSelector.cs
Labels: controls, reviewers wanted
