Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2018-03, with the labels that each got.

#1864 fix(InAppNotification): fix error in docs
  docs/controls/InAppNotification.md
Labels: documentation, reviewers wanted

#1873 Fixed Twitter home query
  Microsoft.Toolkit.Uwp.Services/Services/Twitter/TwitterDataProvider.cs
Labels: reviewers wanted, services

#1893 PrintHelper Print Settings Customization
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PrintHelper/PrintHelperCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PrintHelper/PrintHelperPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PrintHelper/PrintHelperPage.xaml.cs
  Microsoft.Toolkit.Uwp/Helpers/PrintHelper/PrintHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/PrintHelper/PrintHelperOptions.cs
  docs/helpers/PrintHelper.md
Labels: helpers, reviewers wanted

#1898 Change default StepFrequency
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/RangeSelector/RangeSelectorCode.bind
  Microsoft.Toolkit.Uwp.UI.Controls/RangeSelector/RangeSelector.cs
Labels: controls, introduce breaking changes, reviewers wanted

#1902 Added ItemContainerStyleSelector to the MasterDetailsView ListView
  Microsoft.Toolkit.Uwp.UI.Controls/MasterDetailsView/MasterDetailsView.xaml
Labels: controls, reviewers wanted

#1852 Alternate color of items when items are added or removed
  Microsoft.Toolkit.Uwp.UI/Extensions/ListViewBase/ListViewExtensions.cs
Labels: controls, reviewers wanted

#1918 Add HeaderStyle Property for Expander
  Microsoft.Toolkit.Uwp.UI.Controls/Expander/Expander.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Expander/Expander.xaml
  docs/controls/Expander.md
Labels: controls, reviewers wanted
