Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2018-05, with the labels that each got.

#2057 Expose WPF / WinForms extension methods for WebViewControlProcess
  Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebViewControlProcessExtensions.cs
  Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebViewControlProcessExtensions.cs
Labels: controls, win32

#1975 Add Super UniformGrid Grid - WPF Compatible
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/UniformGrid/UniformGrid.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/UniformGrid/UniformGridPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/UniformGrid/UniformGridPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/UniformGrid/UniformGridXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI.Controls/Microsoft.Toolkit.Uwp.UI.Controls.csproj
  Microsoft.Toolkit.Uwp.UI.Controls/UniformGrid/TakenSpotsReferenceHolder.cs
  Microsoft.Toolkit.Uwp.UI.Controls/UniformGrid/UniformGrid.Helpers.cs
  Microsoft.Toolkit.Uwp.UI.Controls/UniformGrid/UniformGrid.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/UniformGrid/UniformGrid.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/Markup/NullableBool.cs
  Microsoft.Toolkit/Extensions/ArrayExtensions.cs
  UnitTests/Extensions/Helpers/ObjectWithNullableBoolProperty.cs
  UnitTests/Extensions/Test_ArrayExtensions.cs
  UnitTests/Extensions/Test_NullableBoolMarkupExtension.cs
  UnitTests/UI/Controls/Test_UniformGrid_AutoLayout.cs
  UnitTests/UI/Controls/Test_UniformGrid_Dimensions.cs
  UnitTests/UI/Controls/Test_UniformGrid_FreeSpots.cs
  UnitTests/UI/Controls/Test_UniformGrid_RowColDefinitions.cs
  UnitTests/UnitTests.Notifications.Shared/Test_Adaptive_Xml.cs
  UnitTests/UnitTests.csproj
  docs/controls/UniformGrid.md
  docs/extensions/ArrayExtensions.md
  docs/extensions/NullableBoolMarkup.md
  docs/extensions/StringExtensions.md
  docs/resources/images/Controls/UniformGrid/DialogButtons.png
  docs/resources/images/Controls/UniformGrid/FixedChild.png
  docs/resources/images/Controls/UniformGrid/Orientation.png
  docs/resources/images/Controls/UniformGrid/SizedChild.png
  docs/resources/images/Controls/UniformGrid/SizedRowCol.png
  docs/resources/images/Controls/UniformGrid/Spacing.png
Labels: controls, reviewers wanted

#2046 Multi-Language Code Block
  Microsoft.Toolkit.Uwp.SampleApp/Controls/SampleAppMarkdownRenderer.cs
  docs/.template.md
  docs/controls/HamburgerMenu.md
  docs/controls/MarkdownTextBlock.md
  docs/controls/SlidableListItem.md
  docs/helpers/DispatcherHelper.md
  docs/services/OneDrive.md
Labels: improvements, sample app

#2080 Fix issue with Windows Forms WebView control RECT on resize
  Directory.Build.props
  Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.cs
  version.json
Labels: bug, controls, win32

#2074 Enhance StringExtensions page in Sample app
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/StringExtensions/StringExtensionsPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/StringExtensions/StringExtensionsPage.xaml.cs
Labels: improvements, sample app

#2101 Fix for OSVERSIONINFOEX
  Microsoft.Toolkit.Win32.UI.Controls/Interop/OSVersionHelper.cs
  Microsoft.Toolkit.Win32.UI.Controls/Interop/Win32/NativeMethods.cs
  Microsoft.Toolkit.Win32.UI.Controls/Interop/Win32/OSVERSIONINFOEX.cs
  Microsoft.Toolkit.Win32.UI.Controls/Interop/Win32/ProductType.cs
Labels: bug, win32

#2100 Remove Progress indicator from ImageEx.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageEx.xaml
  docs/controls/ImageEx.md
Labels: controls, reviewers wanted

#2091 Do not recreate expired files - overwrite existing files
  Microsoft.Toolkit.Uwp.UI/Cache/CacheBase.cs
Labels: helpers, reviewers wanted

#2042 Fixing issue on Graph Service when using V2 Endpoint
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Microsoft Graph Service/MicrosoftGraphPage.xaml
  docs/services/MicrosoftGraph.md
Labels: services

#2090 RangeSelector - Updating UI when changing value programmatically
  Microsoft.Toolkit.Uwp.UI.Controls/RangeSelector/RangeSelector.cs
Labels: bug, controls, reviewers wanted

#2124 Flattening Markdown Namespaces.
  Microsoft.Toolkit.Parsers/Markdown/Blocks/CodeBlock.cs
  Microsoft.Toolkit.Parsers/Markdown/Blocks/HeaderBlock.cs
  Microsoft.Toolkit.Parsers/Markdown/Blocks/HorizontalRuleBlock.cs
  Microsoft.Toolkit.Parsers/Markdown/Blocks/LinkReferenceBlock.cs
  Microsoft.Toolkit.Parsers/Markdown/Blocks/List/ListItemBlock.cs
  Microsoft.Toolkit.Parsers/Markdown/Blocks/List/ListItemBuilder.cs
  Microsoft.Toolkit.Parsers/Markdown/Blocks/List/ListItemPreamble.cs
  Microsoft.Toolkit.Parsers/Markdown/Blocks/List/NestedListInfo.cs
  Microsoft.Toolkit.Parsers/Markdown/Blocks/ListBlock.cs
  Microsoft.Toolkit.Parsers/Markdown/Blocks/ParagraphBlock.cs
  Microsoft.Toolkit.Parsers/Markdown/Blocks/QuoteBlock.cs
  Microsoft.Toolkit.Parsers/Markdown/Blocks/TableBlock.cs
  Microsoft.Toolkit.Parsers/Markdown/Enums/ColumnAlignment.cs
  Microsoft.Toolkit.Parsers/Markdown/Enums/HyperlinkType.cs
  Microsoft.Toolkit.Parsers/Markdown/Enums/InlineParseMethod.cs
  Microsoft.Toolkit.Parsers/Markdown/Enums/ListStyle.cs
  Microsoft.Toolkit.Parsers/Markdown/Enums/MarkdownBlockType.cs
  Microsoft.Toolkit.Parsers/Markdown/Enums/MarkdownInlineType.cs
  Microsoft.Toolkit.Parsers/Markdown/Helpers/Common.cs
  Microsoft.Toolkit.Parsers/Markdown/Helpers/InlineTripCharHelper.cs
  Microsoft.Toolkit.Parsers/Markdown/Inlines/BoldItalicTextInline.cs
  Microsoft.Toolkit.Parsers/Markdown/Inlines/BoldTextInline.cs
  Microsoft.Toolkit.Parsers/Markdown/Inlines/CodeInline.cs
  Microsoft.Toolkit.Parsers/Markdown/Inlines/CommentInline.cs
  Microsoft.Toolkit.Parsers/Markdown/Inlines/EmojiInline.cs
  Microsoft.Toolkit.Parsers/Markdown/Inlines/HyperlinkInline.cs
  Microsoft.Toolkit.Parsers/Markdown/Inlines/ImageInline.cs
  Microsoft.Toolkit.Parsers/Markdown/Inlines/ItalicTextInline.cs
  Microsoft.Toolkit.Parsers/Markdown/Inlines/LinkAnchorInline.cs
  Microsoft.Toolkit.Parsers/Markdown/Inlines/MarkdownLinkInline.cs
  Microsoft.Toolkit.Parsers/Markdown/Inlines/StrikethroughTextInline.cs
  Microsoft.Toolkit.Parsers/Markdown/Inlines/SuperscriptTextInline.cs
  Microsoft.Toolkit.Parsers/Markdown/Inlines/TextRunInline.cs
  Microsoft.Toolkit.Parsers/Markdown/MarkdownBlock.cs
  Microsoft.Toolkit.Parsers/Markdown/MarkdownDocument.cs
  Microsoft.Toolkit.Parsers/Markdown/MarkdownInline.cs
  Microsoft.Toolkit.Parsers/Markdown/Render/MarkdownRendererBase.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/Render/MarkdownRenderer.Blocks.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/Render/MarkdownRenderer.Inlines.cs
Labels: controls, introduce breaking changes, parsers

#2103 [Twitter service] support for 280 characters on non streaming api calls
  Microsoft.Toolkit.Uwp.Services/Services/Twitter/Tweet.cs
  Microsoft.Toolkit.Uwp.Services/Services/Twitter/TwitterDataProvider.cs
  docs/services/Twitter.md
Labels: reviewers wanted, services

#2040 Middle click scrolling
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/MiddleClickScrolling-CursorType.res
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ScrollViewerExtensions/ScrollViewerExtensionsCode.bind
  Microsoft.Toolkit.Uwp.UI/Extensions/ScrollViewer/MiddleClickScrolling-CursorType.res
  Microsoft.Toolkit.Uwp.UI/Extensions/ScrollViewer/ScrollViewerExtensions.MiddleClickScrolling.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/ScrollViewer/ScrollViewerExtensions.Properties.cs
  docs/extensions/ScrollViewerExtensions.md
  docs/resources/images/Extensions/MiddleClickScrolling.gif
Labels: extensions, feature, reviewers wanted

#2083 Platform Specific Analyzer
  Microsoft.Toolkit.Uwp.PlatformDifferencesGen/App.config
  Microsoft.Toolkit.Uwp.PlatformDifferencesGen/DifferencesGen.csproj
  Microsoft.Toolkit.Uwp.PlatformDifferencesGen/Program.cs
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/Analyzer.cs
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/Differences-5.0.0.0.gz
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/Differences-6.0.0.0.gz
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/HowToGuard.cs
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer.csproj
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/NewMember.cs
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/Platform.cs
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/PlatformKind.cs
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/PlatformSpecificAnalyzerCS.cs
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/PlatformSpecificAnalyzerVB.cs
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/PlatformSpecificFixerCS.cs
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/PlatformSpecificFixerVB.cs
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/tools/install.ps1
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/tools/uninstall.ps1
  Windows Community Toolkit.sln
  docs/platform-specific/PlatformSpecificAnalyzer.md
  docs/platform-specific/PlatformSpecificDifferencesGenerator.md
  docs/resources/images/CodeAnalysis.png
  docs/resources/images/CodeAnalysisVB.png
  docs/resources/images/CodeFixSuggestion.png
  docs/resources/images/CodeFixSuggestionVB.png
Labels: helpers, reviewers wanted

#1919 MasterDetailsView fixes
  Microsoft.Toolkit.Uwp.UI.Controls/MasterDetailsView/MasterDetailsView.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MasterDetailsView/MasterDetailsView.xaml
Labels: controls, introduce breaking changes, reviewers wanted

#2131 Adding extra brush, default null, to outline control when gaze enters…
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/DwellProgressState.h
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeInput.cpp
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeInput.h
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeTargetItem.cpp
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeTargetItem.h
Labels: gaze

#2134 Cleanup warnings, removed Google Analytics, changed NavigationVIewExtensions to static
  GazeInputTest/GazeInputTest.csproj
  Microsoft.Toolkit.Uwp.Notifications/Microsoft.Toolkit.Uwp.Notifications.csproj
  Microsoft.Toolkit.Uwp.SampleApp/App.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/Controls/SampleAppMarkdownRenderer.cs
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/Models/Sample.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/NavigationViewStyles/NavigationViewStylesPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PrintHelper/PrintHelperPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/TrackingManager.cs
  Microsoft.Toolkit.Uwp.Samples.BackgroundTasks/Microsoft.Toolkit.Uwp.Samples.BackgroundTasks.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Design/Microsoft.Toolkit.Uwp.UI.Controls.Design.csproj
  Microsoft.Toolkit.Uwp.UI.Controls/GridSplitter/GridSplitter.Events.cs
  Microsoft.Toolkit.Uwp.UI.Controls/UniformGrid/UniformGrid.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/NavigationView/NavigationViewExtensions.cs
  Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs
  UnitTests/Markdown/Parse/HyperlinkTests.cs
  UnitTests/Markdown/Parse/ListTests.cs
  UnitTests/Markdown/Parse/MarkdownLinkTests.cs
  UnitTests/Markdown/Parse/ParseTestExtensionMethods.cs
  UnitTests/Markdown/Parse/QuoteTests.cs
  UnitTests/Markdown/Parse/TableTests.cs
  UnitTests/UnitTests.Notifications.UWP/UnitTests.Notifications.UWP.csproj
  UnitTests/UnitTests.Notifications.WinRT/UnitTests.Notifications.WinRT.csproj
  UnitTests/UnitTests.csproj
Labels: introduce breaking changes, reviewers wanted

#2135 Improve Graph Service initialization - add constructor
  Microsoft.Toolkit.Services/Services/MicrosoftGraph/MicrosoftGraphService.cs
  docs/services/MicrosoftGraph.md
Labels: reviewers wanted, services

#2129 Remove assumptions that (1) page is not loaded when proxy is attached…
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazePointerProxy.cpp
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazePointerProxy.h
Labels: gaze

#2139 Added documentation to cover new DwellFeedbackEnterBrush for GazeInput
  docs/gaze/GazeInteractionLibrary.md
Labels: gaze

#1776 Extends TextBoxRegex with ValidationMode.Instantly/Number
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TextBoxRegex/TextBoxRegex.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TextBoxRegex/TextBoxRegexPage.xaml
  Microsoft.Toolkit.Uwp.UI/Extensions/TextBoxRegEx/TextBoxRegex.Data.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/TextBoxRegEx/TextBoxRegex.Properties.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/TextBoxRegEx/TextBoxRegex.cs
  docs/extensions/TextBoxRegex.md
Labels: extensions, reviewers wanted

#1958 Infinite canvas
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/InfiniteCanvas/InfiniteCanvas.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/InfiniteCanvas/InfiniteCanvas.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/InfiniteCanvas/InfiniteCanvasPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/InfiniteCanvas/InfiniteCanvasPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TextToolbar/TextToolbarPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TextToolbar/TextToolbarPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Commands/IInfiniteCanvasCommand.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Commands/InfiniteCanvasClearAllCommand.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Commands/InfiniteCanvasCreateInkCommand.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Commands/InfiniteCanvasCreateTextBoxCommand.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Commands/InfiniteCanvasEraseInkCommand.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Commands/InfiniteCanvasRemoveTextBoxCommand.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Commands/InfiniteCanvasUpdateTextColorCommand.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Commands/InfiniteCanvasUpdateTextCommand.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Commands/InfiniteCanvasUpdateTextFontSizeCommand.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Commands/InfiniteCanvasUpdateTextStyleCommand.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Commands/InfiniteCanvasUpdateTextWeightCommand.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Controls/InfiniteCanvasTextBox.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Controls/InfiniteCanvasVirtualDrawingSurface.Commands.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Controls/InfiniteCanvasVirtualDrawingSurface.Ink.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Controls/InfiniteCanvasVirtualDrawingSurface.Render.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Controls/InfiniteCanvasVirtualDrawingSurface.TextBox.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Controls/InfiniteCanvasVirtualDrawingSurface.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Drawables/IDrawable.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Drawables/InkDrawable.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Drawables/TextDrawable.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/InfiniteCanvas.Events.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/InfiniteCanvas.TextBox.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/InfiniteCanvas.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/InfiniteCanvas.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/JsonConverters/SerializablePoint.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/JsonConverters/SerializableStroke.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Microsoft.Toolkit.Uwp.UI.Controls.csproj
  Microsoft.Toolkit.Uwp.UI.Controls/Themes/Generic.xaml
  docs/controls/InfiniteCanvas.md
  docs/resources/images/Controls/InfiniteCanvas.gif
Labels: controls

#1926 Add EasingMode
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Blur/BlurBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Fade/FadeBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Light/LightBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Offset/OffsetBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Rotate/RotateBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Saturation/SaturationBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Scale/ScaleBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.UI.Animations/AnimationSet.cs
  Microsoft.Toolkit.Uwp.UI.Animations/AnimationTask.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Blur.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/CompositionBehaviorBase.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Fade.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/FadeHeaderBehavior.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Light.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Offset.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Rotate.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Saturation.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Scale.cs
  Microsoft.Toolkit.Uwp.UI.Animations/EasingType.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Effects/AnimationEffect.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.Blur.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.Fade.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.Light.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.Offset.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.Rotate.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.Saturation.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.Scale.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Microsoft.Toolkit.Uwp.UI.Animations.csproj
Labels: animations, reviewers wanted

#2146 Bug fixes for WebView
  Microsoft.Toolkit.Win32.Samples.WPF.WebView/MainWindow.xaml
  Microsoft.Toolkit.Win32.Samples.WPF.WebView/MainWindow.xaml.cs
  Microsoft.Toolkit.Win32.Samples.WinForms.WebView/Form1.Designer.cs
  Microsoft.Toolkit.Win32.Samples.WinForms.WebView/Form1.cs
  Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlHost.cs
  Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs
Labels: controls, win32

#1980 Camera helper WIP
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/Package.appxmanifest
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CameraHelper/CameraHelper.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CameraHelper/CameraHelperCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CameraHelper/CameraHelperPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CameraHelper/CameraHelperPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CameraPreview/CameraPreview.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CameraPreview/CameraPreviewCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CameraPreview/CameraPreviewPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CameraPreview/CameraPreviewPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CameraPreview/CameraPreviewXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI.Controls/CameraPreview/CameraPreview.Constants.cs
  Microsoft.Toolkit.Uwp.UI.Controls/CameraPreview/CameraPreview.Events.cs
  Microsoft.Toolkit.Uwp.UI.Controls/CameraPreview/CameraPreview.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/CameraPreview/CameraPreview.cs
  Microsoft.Toolkit.Uwp.UI.Controls/CameraPreview/CameraPreview.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/CameraPreview/PreviewFailedEventArgs.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Themes/Generic.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/VisualStudioToolsManifest.xml
  Microsoft.Toolkit.Uwp/Helpers/CameraHelper/CameraHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/CameraHelper/CameraHelperResult.cs
  Microsoft.Toolkit.Uwp/Helpers/CameraHelper/FrameEventArgs.cs
  docs/controls/CameraPreview.md
  docs/helpers/CameraHelper.md
Labels: controls

#1691 Fix MasterDetails back button and state management
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/MasterDetailsView/MasterDetailsView.bind
  Microsoft.Toolkit.Uwp.UI.Controls/MasterDetailsView/MasterDetailsView.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MasterDetailsView/MasterDetailsView.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MasterDetailsView/MasterDetailsView.xaml
  docs/controls/MasterDetailsView.md
Labels: controls, introduce breaking changes, reviewers wanted

#2149 Fix LayoutTransformControl Skew Transform and add Matrix Extensions
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/LayoutTransformControl/LayoutTransformControlXaml.bind
  Microsoft.Toolkit.Uwp.UI.Controls/LayoutTransformControl/LayoutTransformControl.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/Media/MatrixExtensions.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/Media/MatrixHelperEx.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/Media/RotateTransformExtensions.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/Media/ScaleTransformExtensions.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/Media/SkewTransformExtensions.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/Media/TranslateTransformExtensions.cs
  docs/extensions/MatrixExtensions.md
  docs/extensions/MatrixHelperEx.md
  docs/extensions/TransformExtensions.md
  docs/toc.md
Labels: controls, introduce breaking changes, reviewers wanted

#2013 UI Update: WIP
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BladeView/BladeCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Expander/ExpanderPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Expander/ExpanderXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/GridSplitter/GridSplitter.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/InAppNotification/InAppNotificationPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/InAppNotification/InAppNotificationPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/InAppNotification/InAppNotificationXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Menu/Menu.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/OrbitView/OrbitViewPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/OrbitView/OrbitViewXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/RadialGauge/RadialGaugeCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/RangeSelector/RangeSelectorCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TextToolbar/TextToolbar.bind
  Microsoft.Toolkit.Uwp.SampleApp/Shell.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/BladeView/BladeItem.cs
  Microsoft.Toolkit.Uwp.UI.Controls/BladeView/BladeView.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/Expander/Expander.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/GridSplitter/GridSplitter.cs
  Microsoft.Toolkit.Uwp.UI.Controls/GridSplitter/GridSplitter.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/InAppNotification/InAppNotification.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/InAppNotification/Styles/MSEdgeNotificationStyle.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/Menu/Menu.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Menu/Menu.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/Menu/MenuItem.cs
  Microsoft.Toolkit.Uwp.UI.Controls/OrbitView/OrbitView.cs
  Microsoft.Toolkit.Uwp.UI.Controls/OrbitView/OrbitView.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/OrbitView/OrbitViewPanel.cs
  Microsoft.Toolkit.Uwp.UI.Controls/RadialGauge/RadialGauge.cs
  Microsoft.Toolkit.Uwp.UI.Controls/RadialGauge/RadialGauge.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/RangeSelector/RangeSelector.cs
  Microsoft.Toolkit.Uwp.UI.Controls/RangeSelector/RangeSelector.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/TextToolbar/TextToolbar.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/TextToolbar/ToolbarItems/ToolbarButton.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/TextToolbar/ToolbarItems/ToolbarSeparator.xaml
Labels: controls, introduce breaking changes, reviewers wanted

#2179 Add ability to navigate to local content in WebView
  Microsoft.Toolkit.Win32.UI.Controls/IWebView.cs
  Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/UriToLocalStreamResolver.cs
  Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlHost.cs
  Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs
  Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.cs
  docs/controls/WebView-known-issues.md
Labels: controls, feature, win32

#2184 Fix could not use tail eraser of Pen
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/InfiniteCanvas.Events.cs
Labels: bug, controls, reviewers wanted
