Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2018-11, with the labels that each got.

#2644 [SetListDataItemForNextConnectedAnimation] Deprecated misspelled method and added correct spelling
  Microsoft.Toolkit.Uwp.UI.Animations/ConnectedAnimations/Connected.cs
Labels: animations, reviewers wanted

#2625 GridSplitter Loaded event subscribes after initialize.
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/GridSplitter/GridSplitter.bind
  Microsoft.Toolkit.Uwp.UI.Controls/GridSplitter/GridSplitter.cs
Labels: controls, reviewers wanted

#2649 Avoid using UWP controls in the wrapper classes during design time
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.Controls/InkCanvas/InkCanvas.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.Controls/InkToolbar/InkToolbar.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.Controls/InkToolbar/InkToolbarCustomPenButton.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.Controls/InkToolbar/InkToolbarCustomToolButton.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.Controls/InkToolbar/InkToolbarMenuButton.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.Controls/InkToolbar/InkToolbarPenButton.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.Controls/InkToolbar/InkToolbarStencilButton.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.Controls/InkToolbar/InkToolbarToggleButton.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.Controls/InkToolbar/InkToolbarToolButton.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.Controls/MapControl/MapControl.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.Controls/MediaPlayerElement/MediaPlayerElement.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.Controls/MediaPlayerElement/MediaPlayerElementDesigner.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.Controls/SwapChainPanel/SwapChainPanel.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.Controls/UwpControlProperties.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/WindowsXamlHostBase.KeyboardFocus.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/WindowsXamlHostBase.cs
Labels: XamlIslands, reviewers wanted

#2671 Applied a change to invoke the Completed event after setting the resu…
  Microsoft.Toolkit.Uwp.UI.Animations/AnimationSet.cs
Labels: animations
