Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2018-08, with the labels that each got.

#2332 WebView: Remove APIs not finished in RS5
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/IWebView.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlProcess.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlProcessOptions.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewDefaults.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.Init.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/UserAgent/UserAgentTests.cs
Labels: WebView, reviewers wanted

#2339 Removed CommandBar from DataGrid sample
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/DataGrid/DataGridCode.bind
Labels: DataGrid, controls

#2344 Update asserts hit in DEBUG builds for WinForms WebView
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.Init.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.cs
Labels: WebView, controls, visualstudio, win32

#2349 Protect actions and delay navigation until last moment
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs
Labels: WebView

#2354 DataGrid fix for release mode
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/Properties/AssemblyInfo.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Graph/Properties/AssemblyInfo.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Properties/AssemblyInfo.cs
Labels: DataGrid, bug

#2347 WPF WebView: Protect actions and delay navigation until last moment 3.0.x
  Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs
Labels: WebView

#2359 Move WWAHost process creation into dispatcher 3.0.x
  Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs
Labels: WebView, reviewers wanted

#2362 Add Close before HWND destroyed (3.0.x)
  Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.cs
Labels: WebView, reviewers wanted

#2363 Add Close before HWND destroyed (4.0.0)
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.cs
Labels: WebView, reviewers wanted

#2358 Move WWAHost process creation into dispatcher 4.0.0
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs
Labels: WebView, reviewers wanted

#2370 Fix deadlock on InvokeScript (3.0.x)
  Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlHost.cs
  Microsoft.Toolkit.Win32.UI.Controls/WPF/TaskExtensions.WPF.cs
  Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs
  Microsoft.Toolkit.Win32.UI.Controls/WinForms/TaskExtensions.WinForms.cs
  Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.cs
Labels: WebView, reviewers wanted

#2371 Fix deadlock on InvokeScript (4.0.0)
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlHost.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WPF/TaskExtensions.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/TaskExtensions.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/InvokeScript/InvokeScriptTests.cs
Labels: WebView, reviewers wanted

#2376 Add tests for NavigateWithHttpMessage
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/Navigation/NavigateWithHttpMessageTests.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/WebViewFormContextSpecification.cs
Labels: WebView, reviewers wanted

#2381 Add support for creating web views in the same WWAHost process
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.Init.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/Cookies/CookieTests.cs
  docs/controls/WebView-known-issues.md
  docs/controls/WebView.md
Labels: WebView, controls, feature, reviewers wanted, win32

#2394 Change GridSplitter color when pressed.
  Microsoft.Toolkit.Uwp.UI.Controls/GridSplitter/GridSplitter.xaml
Labels: controls, reviewers wanted

#2385 Windows sdk 17733
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/IWebView.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlHost.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Microsoft.Toolkit.Win32.UI.Controls.csproj
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/PreLoad/PreLoadTests.cs
  build/vsts-build.yml
Labels: WebView, controls, reviewers wanted, win32

#2384 Remove UI hang for some WPF WebView properties and methods
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WPF/DispatcherExtensions.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.Dispatch.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/PreLoad/PreLoadTests.cs
Labels: WebView, controls, reviewers wanted

#2423 Modify StaggeredPanel description text
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
Labels: controls, sample app

#2409 Fix tweet background for dark theme
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Twitter Service/TwitterPage.xaml
Labels: reviewers wanted, sample app

#2410 Adjust AdaptiveGridView for the BorderThickness
  Microsoft.Toolkit.Uwp.UI.Controls/AdaptiveGridView/AdaptiveGridView.cs
Labels: controls, reviewers wanted
