Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2018-07, with the labels that each got.

#2286 Add `AddWebAllowedObject` to unsupported API list
  docs/controls/WebView-known-issues.md
Labels: WebView, documentation

#2263 Prevents exception on hovering / pressing GridSplitter when its background isn't a SolidColorBrush. Fixes #2262
  Microsoft.Toolkit.Uwp.UI.Controls/GridSplitter/GridSplitter.xaml
Labels: controls

#2195 Provide NavigateToLocalStreamUri implementation
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/IWebView.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/GenericUriToStreamResolver.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/IUriToStreamResolver.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/UriToLocalStreamResolver.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlHost.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/PathUtilities.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/UriHelper.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.Navigation.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/NavigateToLocalStreamUri/BuildStreamTests.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/NavigateToLocalStreamUri/NavigateToLocalStreamUriTests.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/NavigateToLocalStreamUri/TestStreamResolver.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/NavigateToLocalStreamUri/async.htm
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/NavigateToLocalStreamUri/sync.htm
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/WebViewFormContextSpecification.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/UnitTests.WebView.WinForms.csproj
  docs/controls/WebView-known-issues.md
Labels: WebView, controls, feature, win32

#2219 Support WebViewControl functionality for 17692
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/IWebView.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlAcceleratorKeyPressedEventArgs.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlHost.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlProcess.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlProcessOptions.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewDefaults.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Microsoft.Toolkit.Win32.UI.Controls.csproj
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.Events.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.Init.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/PreLoad/PreLoadTests.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/PreLoad/preload.js
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/UnitTests.WebView.WinForms.csproj
Labels: WebView, controls, feature, win32

#2293 [Fix] Negative index validation in TextBoxRegEx
  Microsoft.Toolkit.Uwp.UI/Extensions/TextBoxRegEx/TextBoxRegex.cs
Labels: extensions

#2292 WebView: NavigateWithHttpMessage
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/IWebView.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlHost.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Microsoft.Toolkit.Win32.UI.Controls.csproj
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WPF/WebView/WebView.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.Navigation.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.Shared/TestConstants.Uris.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/Navigation/NavigateTests.cs
  docs/controls/WebView-known-issues.md
Labels: WebView, controls, feature, win32

#2200 Add assembly strong naming
  Directory.Build.props
  Microsoft.Toolkit.Parsers/Markdown/Blocks/ListBlock.cs
  Microsoft.Toolkit.Services/AssemblyInfo.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Graph/Properties/AssemblyInfo.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Properties/AssemblyInfo.cs
  Microsoft.Toolkit.Uwp.UI.Controls/UniformGrid/UniformGrid.Helpers.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Properties/AssemblyInfo.cs
  toolkit.snk
Labels: reviewers wanted

#2308 Update Win32 project to use Insiders SDK 17713
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlPermissionType.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Microsoft.Toolkit.Win32.UI.Controls.csproj
  build/vsts-build.yml
Labels: WebView, controls, reviewers wanted, win32

#2312 HamburgerMenu focus indicator for keyboard navigation fix
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenuTemplate.xaml
Labels: controls, reviewers wanted

#2307 deprecated publish_actions and dependencies
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Facebook Service/FacebookCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Facebook Service/FacebookPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Facebook Service/FacebookPage.xaml.cs
  Microsoft.Toolkit.Uwp.Services/Services/Facebook/FacebookService.cs
  docs/services/Facebook.md
Labels: introduce breaking changes, reviewers wanted, services

#2228 Infinite canvas #2190
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Controls/InfiniteCanvasTextBox.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Controls/InfiniteCanvasVirtualDrawingSurface.Commands.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Controls/InfiniteCanvasVirtualDrawingSurface.Ink.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Controls/InfiniteCanvasVirtualDrawingSurface.Render.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Controls/InfiniteCanvasVirtualDrawingSurface.TextBox.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Controls/InfiniteCanvasVirtualDrawingSurface.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Drawables/InkDrawable.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/InfiniteCanvas.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/JsonConverters/CustomInkDrawingAttribute.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/JsonConverters/InkCanvasExportModel.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/JsonConverters/SerializableStroke.cs
Labels: bug, reviewers wanted

#2305 Correct issues with ApiInformation implementation
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/ApiInformationExtensions.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlHost.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlProcess.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlProcessOptions.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/WinForms/WebView/WebView.Init.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/UserAgent/UserAgentTests.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/UnitTests.WebView.WinForms.csproj
Labels: WebView, bug, controls, reviewers wanted, win32

#2309 Fix broken WebView tests after strong naming
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/UriToLocalStreamResolver.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Interop/WinRT/WebViewControlHost.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Properties/AssemblyInfo.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls/Verify.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.Shared/NativeMethods.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.Shared/Properties/AssemblyInfo.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.Shared/UnitTests.WebView.Shared.csproj
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WPF/Properties/AssemblyInfo.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WPF/UnitTests.WebView.WPF.csproj
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/ControlProcess/EnterpriseIdTests.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/Ctor/MultipleWebViews.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/Ctor/WebViewControlProcessCreateWebViewAsyncTests.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/Input/MousewheelTests.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/NavigateToLocalStreamUri/BuildStreamTests.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/Navigation/NavigationEvents.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/ProcessFactoryWebViewContextSpecification.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/FunctionalTests/Termination/TerminationTests.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/Properties/AssemblyInfo.cs
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/UnitTests.WebView.WinForms.csproj
  Microsoft.Toolkit.Win32/Tests/UnitTests.WebView.WinForms/UnitTests.WebView.WinForms.csproj.DotSettings
Labels: WebView, controls, reviewers wanted, win32

#2324 Enabling "TreatWarningsAsErrors" on release builds
  Directory.Build.props
  Microsoft.Toolkit.Services/Services/MicrosoftGraph/MicrosoftGraphService.cs
  Microsoft.Toolkit.Services/Services/OneDrive/OneDriveStorageItem.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Microsoft.Toolkit.Uwp.UI.Animations.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Graph/AadLogin/AadLogin.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/CameraPreview/CameraPreview.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/JsonConverters/SerializableStroke.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Microsoft.Toolkit.Uwp.UI.Controls.csproj
  Microsoft.Toolkit.Uwp.UI.Controls/RangeSelector/RangeSelector.cs
Labels: maintenance, reviewers wanted

#2338 Fixed Toolbox items for new win32 packages
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls.WPF/Microsoft.Toolkit.Win32.UI.Controls.WPF.csproj
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Controls.WPF/VisualStudioToolsManifest.xml
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.Sample/Microsoft.Toolkit.Win32.UI.Interop.Sample.csproj
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.Sample/Properties/AssemblyInfo.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.Sample/Properties/Resources.Designer.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.Sample/Properties/Resources.resx
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.Sample/Properties/Settings.Designer.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.Sample/Properties/Settings.settings
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.Sample/WrappedButton.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.Sample/WrappedRectangle.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.Shared/IDesktopWindowXamlSourceNative.Visibility.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.Shared/IDesktopWindowXamlSourceNative.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.Shared/UWPTypeFactory.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.Shared/XamlApplication.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WPF/Microsoft.Toolkit.Win32.UI.Interop.WPF.csproj
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WPF/Microsoft.Windows.Interop.WPF.csproj
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WPF/Properties/AssemblyInfo.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WPF/Properties/Resources.Designer.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WPF/Properties/Resources.resx
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WPF/Properties/Settings.Designer.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WPF/Properties/Settings.settings
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WPF/VisualStudioToolsManifest.xml
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WPF/WindowsXamlHost.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WPF/WindowsXamlHostBase.Focus.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WPF/WindowsXamlHostBase.Layout.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WPF/WindowsXamlHostBase.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WinForms/DesktopWindowXamlSourceExtensions.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WinForms/Interop/Win32/NativeDefines.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WinForms/Interop/Win32/SafeNativeMethods.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WinForms/Interop/Win32/SetWindowPosFlags.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WinForms/Interop/Win32/UnsafeNativeMethods.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WinForms/Microsoft.Toolkit.Win32.UI.Interop.WinForms.csproj
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WinForms/Properties/AssemblyInfo.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WinForms/Properties/Resources.Designer.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WinForms/Properties/Resources.resx
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WinForms/Properties/Settings.Designer.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WinForms/Properties/Settings.settings
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WinForms/WindowsXamlHost.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WinForms/WindowsXamlHostBase.KeyboardFocus.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WinForms/WindowsXamlHostBase.Layout.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WinForms/WindowsXamlHostBase.Window.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WinForms/WindowsXamlHostBase.WndProc.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.UI.Interop.WinForms/WindowsXamlHostBase.cs
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Win32.sln
  Microsoft.Toolkit.Win32/TestSample/TestSample.csproj
Labels: controls, win32
