Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2018-10, with the labels that each got.

#2513 [PrintHelper] Fix async communication between parent and children page
  Microsoft.Toolkit.Uwp/Helpers/PrintHelper/PrintHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/PrintHelper/PrintHelperStateBag.cs
Labels: helpers, reviewers wanted

#2497 Temporary workaround for internal aggressive FAILFAST
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Forms.UI.XamlHost/WindowsXamlHostBase.WndProc.cs
Labels: XamlIslands, controls, reviewers wanted

#2516 Reseting the scrollviewer again width/height to auto
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/InfiniteCanvas.cs
Labels: bug, controls, reviewers wanted

#2524 Update docs of ArrayExtensions, StringExtensions
  Microsoft.Toolkit/Extensions/ArrayExtensions.cs
  Microsoft.Toolkit/Extensions/StringExtensions.cs
  docs/extensions/ArrayExtensions.md
  docs/extensions/StringExtensions.md
Labels: documentation, extensions

#2397 Expander collapse animation
  Microsoft.Toolkit.Uwp.UI.Controls/Expander/Expander.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Expander/Expander.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Expander/Expander.xaml
Labels: bug, controls

#2528 Update Min and Target version
  .github/ISSUE_TEMPLATE.md
  Directory.Build.props
  Directory.Build.targets
  GazeInputTest/GazeInputTest.csproj
  Microsoft.Toolkit.Parsers/Microsoft.Toolkit.Parsers.csproj
  Microsoft.Toolkit.Services/Microsoft.Toolkit.Services.csproj
  Microsoft.Toolkit.Uwp.Connectivity/Microsoft.Toolkit.Uwp.Connectivity.csproj
  Microsoft.Toolkit.Uwp.DeveloperTools/Microsoft.Toolkit.Uwp.DeveloperTools.csproj
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/Microsoft.Toolkit.UWP.Input.GazeInteraction.vcxproj
  Microsoft.Toolkit.Uwp.Notifications/Microsoft.Toolkit.Uwp.Notifications.csproj
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer.csproj
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.Samples.BackgroundTasks/Microsoft.Toolkit.Uwp.Samples.BackgroundTasks.csproj
  Microsoft.Toolkit.Uwp.Services/Microsoft.Toolkit.Uwp.Services.csproj
  Microsoft.Toolkit.Uwp.UI.Animations/Microsoft.Toolkit.Uwp.UI.Animations.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid.Design/Microsoft.Toolkit.Uwp.UI.Controls.DataGrid.Design.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/Microsoft.Toolkit.Uwp.UI.Controls.DataGrid.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Design/Microsoft.Toolkit.Uwp.UI.Controls.Design.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Graph/Microsoft.Toolkit.Uwp.UI.Controls.Graph.csproj
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageExBase.Members.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Microsoft.Toolkit.Uwp.UI.Controls.csproj
  Microsoft.Toolkit.Uwp.UI/Microsoft.Toolkit.Uwp.UI.csproj
  Microsoft.Toolkit.Uwp/Microsoft.Toolkit.Uwp.csproj
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Sample.Wpf.App/Microsoft.Toolkit.Sample.Wpf.App.csproj
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Sample.Wpf.WebView/Microsoft.Toolkit.Sample.Wpf.WebView.csproj
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Sample.Wpf.XamlHost/Microsoft.Toolkit.Sample.Wpf.XamlHost.csproj
  Microsoft.Toolkit.Win32/WebView.Shared/Interop/Windows10Release.cs
  Microsoft.Toolkit/Microsoft.Toolkit.csproj
  UnitTests/UnitTests.Notifications.UWP/UnitTests.Notifications.UWP.csproj
  UnitTests/UnitTests.Notifications.WinRT/UnitTests.Notifications.WinRT.csproj
  UnitTests/UnitTests.csproj
  global.json
  readme.md
Labels: maintenance, reviewers wanted

#2485 Added ComboBox Column for the DataGrid
  Microsoft.Toolkit.Uwp.SampleApp/Data/DataGridDataSource.cs
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/DataGrid/DataGridCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/DataGrid/DataGridPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/DataGrid/DataGridPage.xaml.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/Automation/DataGridCellAutomationPeer.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridComboBoxColumn.cs
Labels: DataGrid, controls, need documentation

#2534 Updated ColorCode
  Microsoft.Toolkit.Uwp.UI.Controls/Microsoft.Toolkit.Uwp.UI.Controls.csproj
Labels: controls, reviewers wanted

#2531 New API differences for SDK 17763
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/Differences-5.0.0.0.gz
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/Differences-7.0.0.0.gz
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer.csproj
Labels: reviewers wanted

#2533 ConnectedAnimations helper improvements and bug fixes
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Connected Animations/ConnectedAnimationsPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Connected Animations/Pages/FirstPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Connected Animations/Pages/SecondPage.xaml.cs
  Microsoft.Toolkit.Uwp.UI.Animations/ConnectedAnimations/Connected.cs
  Microsoft.Toolkit.Uwp.UI.Animations/ConnectedAnimations/ConnectedAnimationHelper.cs
Labels: animations, documentation done, reviewers wanted

#2425 Fixing menuItem issue with OnApplyTemplate recalled #2300
  Microsoft.Toolkit.Uwp.UI.Controls/Menu/Menu.Logic.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Menu/Menu.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Menu/MenuItem.cs
Labels: controls, reviewers wanted

#2529 Addressed High Contrast issues with MarkDownTextBlock.
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/MarkdownTextBlock/MarkdownTextBlock.bind
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/MarkdownTextBlock.xaml
Labels: accessibility, controls, reviewers wanted

#2294 Update Regex for Phone Number
  Microsoft.Toolkit/Extensions/StringExtensions.cs
  docs/extensions/StringExtensions.md
Labels: helpers

#2535 Update TranslatorService to use the new Translator Text API v3.0
  Microsoft.Toolkit.Services/Services/MicrosoftTranslator/DetectedLanguage.cs
  Microsoft.Toolkit.Services/Services/MicrosoftTranslator/DetectedLanguageBase.cs
  Microsoft.Toolkit.Services/Services/MicrosoftTranslator/DetectedLanguageResponse.cs
  Microsoft.Toolkit.Services/Services/MicrosoftTranslator/ITranslatorService.cs
  Microsoft.Toolkit.Services/Services/MicrosoftTranslator/ServiceLanguage.cs
  Microsoft.Toolkit.Services/Services/MicrosoftTranslator/Translation.cs
  Microsoft.Toolkit.Services/Services/MicrosoftTranslator/TranslationResponse.cs
  Microsoft.Toolkit.Services/Services/MicrosoftTranslator/TranslatorService.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Microsoft Translator Service/MicrosoftTranslatorCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Microsoft Translator Service/MicrosoftTranslatorPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Microsoft Translator Service/MicrosoftTranslatorPage.xaml.cs
  docs/services/MicrosoftTranslator.md
Labels: documentation done, reviewers wanted, services

#2559 Removing RoundImageEx
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ImageEx/ImageExCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ImageEx/ImageExPage.xaml.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageExBase.Members.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageExBase.Placeholder.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageExBase.Source.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageExBase.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/RoundImageEx.Members.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/RoundImageEx.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/RoundImageEx.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/Themes/Generic.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/VisualStudioToolsManifest.xml
Labels: controls, documentation done, introduce breaking changes

#2560 Fixed GridSplitter default to follow Rel-4.0.0 release
  Microsoft.Toolkit.Uwp.UI.Controls/GridSplitter/GridSplitter.xaml
Labels: accessibility, controls

#2501 Script to determine SDK versions
  build/Find-WindowsSDKVersions.ps1
  build/build.cake
Labels: build, improvements, reviewers wanted

#2408 Update BladeView to allow binding of ItemsSource
  Microsoft.Toolkit.Uwp.UI.Controls/BladeView/BladeView.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/BladeView/BladeView.cs
Labels: controls, reviewers wanted

#2549 AadLogin: fixed signoutcompleted event, removed obsolete event and method
  Microsoft.Toolkit.Uwp.UI.Controls.Graph/AadLogin/AadLogin.Events.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Graph/AadLogin/AadLogin.cs
Labels: controls, graph, introduce breaking changes, reviewers wanted

#2556 Fixed not subscribing/unsubscribing to events if DeferRefresh() is ac…
  Microsoft.Toolkit.Uwp.UI/AdvancedCollectionView/AdvancedCollectionView.cs
  UnitTests/Helpers/Test_AdvancedCollectionView.cs
  UnitTests/UnitTests.csproj
Labels: helpers, reviewers wanted

#2527 Updated expander animations and removed layout updates
  Microsoft.Toolkit.Uwp.UI.Controls/Expander/Expander.Constants.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Expander/Expander.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Expander/Expander.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Expander/Expander.xaml
Labels: controls, reviewers wanted

#2538 WPF WebView Source property reflects current document location
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.Controls.WebView/WebView.cs
Labels: WebView, reviewers wanted

#2562 Removing HamburgerMenu
  Microsoft.Toolkit.Uwp.SampleApp/App.xaml
  Microsoft.Toolkit.Uwp.SampleApp/Controls/ExtendedHamburgerMenu.cs
  Microsoft.Toolkit.Uwp.SampleApp/Controls/ExtendedHamburgerMenu.xaml
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/Pages/About.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/Pages/SampleController.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/HamburgerMenu/HamburgerMenu.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/HamburgerMenu/HamburgerMenuCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/HamburgerMenu/HamburgerMenuPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/HamburgerMenu/HamburgerMenuPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.SampleApp/Shell.SamplePicker.cs
  Microsoft.Toolkit.Uwp.SampleApp/Shell.Search.cs
  Microsoft.Toolkit.Uwp.SampleApp/Shell.xaml
  Microsoft.Toolkit.Uwp.SampleApp/Shell.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/Styles/Generic.xaml
  Microsoft.Toolkit.Uwp.UI.Controls.Design/HamburgerMenuMetadata.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Design/Microsoft.Toolkit.Uwp.UI.Controls.Design.csproj
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenu.Events.cs
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenu.HamburgerButton.cs
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenu.Options.cs
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenu.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenu.cs
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenu.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenuItemInvokedEventArgs.cs
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenuNavViewItemStyleSelector.cs
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenuNavViewItemTemplateSelector.cs
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenuNavViewTemplate.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenuTemplate.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/MenuItems/HamburgerMenuGlyphItem.cs
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/MenuItems/HamburgerMenuImageItem.cs
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/MenuItems/HamburgerMenuItem.cs
  Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/MenuItems/HamburgerMenuItemCollection.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Themes/Generic.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/VisualStudioToolsManifest.xml
Labels: documentation done, introduce breaking changes, reviewers wanted

#2382 ImageEx control support base64 source
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageExBase.Source.cs
Labels: controls, reviewers wanted

#2568 UIA Tree for the Xaml Island is not exposed
  Microsoft.Toolkit.Win32/Microsoft.Toolkit.Wpf.UI.XamlHost/WindowsXamlHost.cs
Labels: XamlIslands, win32

#2400 Added the Symbols type to TwitterEntities - this was missed in my pre…
  Microsoft.Toolkit.Services/Microsoft.Toolkit.Services.csproj
  Microsoft.Toolkit.Services/Services/Twitter/Tweet.cs
  Microsoft.Toolkit.Services/Services/Twitter/TwitterEntities.cs
  Microsoft.Toolkit.Services/Services/Twitter/TwitterSymbol.cs
  Microsoft.Toolkit.Services/Services/Twitter/TwitterUser.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Twitter Service/TwitterPage.xaml.cs
  UnitTests/UnitTests.csproj
Labels: reviewers wanted, services

#2570 Removing sealed from sealed controls
  Microsoft.Toolkit.Uwp.UI.Controls/InAppNotification/InAppNotification.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/MarkdownTextBlock.cs
  Microsoft.Toolkit.Uwp.UI.Controls/OrbitView/OrbitView.cs
  Microsoft.Toolkit.Uwp.UI.Controls/RadialProgressBar/RadialProgressBar.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TileControl/TileControl.cs
Labels: controls, introduce breaking changes, reviewers wanted

#2575 OneDrive Service - Large file upload fix
  Microsoft.Toolkit.Services/Services/OneDrive/Platform/Uwp/OneDriveStorageFolderPlatform.cs
Labels: graph, reviewers wanted, services

#2545 DataGrid fixes and updates
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/DataGrid/DataGridPage.xaml.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGrid.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridCheckBoxColumn.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridColumns.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridComboBoxColumn.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridError.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridTextColumn.cs
Labels: DataGrid, bug, controls, sample bug

#2563 Removing Obsolete controls and helpers
  Microsoft.Toolkit.Services/Core/ExtensionMethods.cs
  Microsoft.Toolkit.Services/Microsoft.Toolkit.Services.csproj
  Microsoft.Toolkit.Services/Services/Bing/BingCountry.cs
  Microsoft.Toolkit.Services/Services/Bing/BingDataProvider.cs
  Microsoft.Toolkit.Services/Services/Bing/BingLanguage.cs
  Microsoft.Toolkit.Services/Services/Bing/BingParser.cs
  Microsoft.Toolkit.Services/Services/Bing/BingQueryType.cs
  Microsoft.Toolkit.Services/Services/Bing/BingResult.cs
  Microsoft.Toolkit.Services/Services/Bing/BingSearchConfig.cs
  Microsoft.Toolkit.Services/Services/Bing/BingService.cs
  Microsoft.Toolkit.Services/Services/Twitter/Tweet.cs
  Microsoft.Toolkit.Services/Services/Twitter/TwitterDataProvider.cs
  Microsoft.Toolkit.Services/Services/Twitter/TwitterService.cs
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Bing Service/BingCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Bing Service/BingPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Bing Service/BingPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Bing Service/icon.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/NavigationViewStyles/NavigationViewStyles.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/NavigationViewStyles/NavigationViewStylesPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/NavigationViewStyles/NavigationViewStylesPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/NavigationViewStyles/NavigationViewStylesXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ParallaxService/Parallax.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ParallaxService/ParallaxPage.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ParallaxService/ParallaxPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ParallaxService/ParallaxPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PullToRefreshListView/PullToRefreshListView.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PullToRefreshListView/PullToRefreshListViewCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PullToRefreshListView/PullToRefreshListViewPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PullToRefreshListView/PullToRefreshListViewPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PullToRefreshListView/PullToRefreshListViewXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/SlidableListItem/SlidableListItem.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/SlidableListItem/SlidableListItemCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/SlidableListItem/SlidableListItemPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/SlidableListItem/SlidableListItemPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI.Animations/ParallaxService.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Design/Microsoft.Toolkit.Uwp.UI.Controls.Design.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Design/PullToRefreshListViewMetadata.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Design/SlidableListItemMetadata.cs
  Microsoft.Toolkit.Uwp.UI.Controls/PullToRefreshListView/PullToRefreshListView.cs
  Microsoft.Toolkit.Uwp.UI.Controls/PullToRefreshListView/PullToRefreshListView.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/PullToRefreshListView/PullToRefreshListViewRefreshContainerTemplate.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/PullToRefreshListView/PullToRefreshListViewTemplate.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/PullToRefreshListView/RefreshProgressEventArgs.cs
  Microsoft.Toolkit.Uwp.UI.Controls/SlidableListItem/SlidableListItem.cs
  Microsoft.Toolkit.Uwp.UI.Controls/SlidableListItem/SlidableListItem.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/SlidableListItem/SlidableListItemSwipeControlTemplate.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/SlidableListItem/SwipeStatus.cs
  Microsoft.Toolkit.Uwp.UI.Controls/SlidableListItem/SwipeStatusChangedEventArgs.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Themes/Generic.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/VisualStudioToolsManifest.xml
  Microsoft.Toolkit.Uwp.UI/Extensions/NavigationView/NavigationView.xaml
  Microsoft.Toolkit.Uwp.UI/Extensions/NavigationView/NavigationViewExtensions.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/NavigationView/Styles/VSCodeActivityBarStyle.xaml
  UnitTests/Services/Test_BingService.cs
  UnitTests/UnitTests.csproj
  readme.md
Labels: documentation done, introduce breaking changes, reviewers wanted

#2580 quick fix for connected animation for older sdks
  Microsoft.Toolkit.Uwp.UI.Animations/ConnectedAnimations/ConnectedAnimationHelper.cs
Labels: animations, reviewers wanted

#2561 Master details back button behavior
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/MasterDetailsView/MasterDetailsView.bind
  Microsoft.Toolkit.Uwp.UI.Controls/MasterDetailsView/BackButtonBehavior.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MasterDetailsView/MasterDetailsView.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MasterDetailsView/MasterDetailsView.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MasterDetailsView/MasterDetailsView.xaml
  Microsoft.Toolkit.Uwp.UI/Extensions/Tree/VisualTree.cs
  docs/controls/MasterDetailsView.md
Labels: controls, reviewers wanted

#2522 Radial Gauge accessibility: high contrast and narrator
  Microsoft.Toolkit.Uwp.UI.Controls/RadialGauge/RadialGauge.cs
  Microsoft.Toolkit.Uwp.UI.Controls/RadialGauge/RadialGauge.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/RadialGauge/RadialGaugeAutomationPeer.cs
Labels: accessibility, controls, reviewers wanted

#2583 Addressing High Contrast issues with InAppNotification
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/InAppNotification/InAppNotificationXaml.bind
  Microsoft.Toolkit.Uwp.UI.Controls/InAppNotification/InAppNotification.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/InAppNotification/Styles/MSEdgeNotificationStyle.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/InAppNotification/Styles/VSCodeNotificationStyle.xaml
Labels: accessibility, controls, reviewers wanted

#2446 .NET Framework implementations for Twitter and LinkedIn services
  Microsoft.Toolkit.Services/Core/IStorageManager.cs
  Microsoft.Toolkit.Services/Microsoft.Toolkit.Services.csproj
  Microsoft.Toolkit.Services/PlatformSpecific/NETFramework/NetFrameworkAuthenticationBroker.cs
  Microsoft.Toolkit.Services/PlatformSpecific/NETFramework/NetFrameworkPasswordManager.cs
  Microsoft.Toolkit.Services/PlatformSpecific/NETFramework/NetFrameworkSignatureManager.cs
  Microsoft.Toolkit.Services/PlatformSpecific/NETFramework/NetFrameworkStorageManager.cs
  Microsoft.Toolkit.Services/PlatformSpecific/NETFramework/PasswordManagerNativeMethods.cs
  Microsoft.Toolkit.Services/PlatformSpecific/NETFramework/PopupForm.Designer.cs
  Microsoft.Toolkit.Services/PlatformSpecific/NETFramework/PopupForm.cs
  Microsoft.Toolkit.Services/PlatformSpecific/NETFramework/PopupWPF.xaml
  Microsoft.Toolkit.Services/PlatformSpecific/NETFramework/PopupWPF.xaml.cs
  Microsoft.Toolkit.Services/PlatformSpecific/Uwp/UwpStorageManager.cs
  Microsoft.Toolkit.Services/Services/LinkedIn/LinkedInDataProvider.cs
  Microsoft.Toolkit.Services/Services/LinkedIn/LinkedInService.cs
  Microsoft.Toolkit.Services/Services/Twitter/TwitterDataProvider.cs
  Microsoft.Toolkit.Services/Services/Twitter/TwitterService.cs
  Microsoft.Toolkit.Services/Services/Weibo/WeiboDataProvider.cs
  Microsoft.Toolkit.Services/Services/Weibo/WeiboService.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Twitter Service/TwitterPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Weibo Service/WeiboPage.xaml.cs
  docs/services/Linkedin.md
  docs/services/Twitter.md
Labels: introduce breaking changes, reviewers wanted, services

#2348 Reload the RadialGradientBrush when the app is resumed
  Microsoft.Toolkit.Uwp.UI/Media/CanvasBrushBase.cs
Labels: brush, reviewers wanted

#2368 Markdown Parse add the yaml header and superscript and subscript parse
  Microsoft.Toolkit.Parsers/Markdown/Blocks/YamlHeaderBlock.cs
  Microsoft.Toolkit.Parsers/Markdown/Enums/InlineParseMethod.cs
  Microsoft.Toolkit.Parsers/Markdown/Enums/MarkdownBlockType.cs
  Microsoft.Toolkit.Parsers/Markdown/Enums/MarkdownInlineType.cs
  Microsoft.Toolkit.Parsers/Markdown/Helpers/Common.cs
  Microsoft.Toolkit.Parsers/Markdown/Inlines/CommentInline.cs
  Microsoft.Toolkit.Parsers/Markdown/Inlines/SubscriptTextInline.cs
  Microsoft.Toolkit.Parsers/Markdown/Inlines/SuperscriptTextInline.cs
  Microsoft.Toolkit.Parsers/Markdown/MarkdownDocument.cs
  Microsoft.Toolkit.Parsers/Markdown/Render/MarkdownRendererBase.Blocks.cs
  Microsoft.Toolkit.Parsers/Markdown/Render/MarkdownRendererBase.Inlines.cs
  Microsoft.Toolkit.Parsers/Markdown/Render/MarkdownRendererBase.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/MarkdownTextBlock/InitialContent.md
  Microsoft.Toolkit.Uwp.SampleApp/readme.md
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/MarkdownTextBlock.Dimensions.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/MarkdownTextBlock.Methods.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/MarkdownTextBlock.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/MarkdownTextBlock.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/Render/MarkdownRenderer.Blocks.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/Render/MarkdownRenderer.Dimensions.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/Render/MarkdownRenderer.Inlines.cs
  Microsoft.Toolkit.Uwp.UI.Controls/MarkdownTextBlock/Render/MarkdownRenderer.Properties.cs
  UnitTests/Markdown/Parse/ParseTestExtensionMethods.cs
  UnitTests/Markdown/Parse/SubscriptTests.cs
  UnitTests/Markdown/Parse/SuperscriptTests.cs
  UnitTests/UnitTests.csproj
Labels: parsers, reviewers wanted

#2600 Radial gauge value step size
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/RadialGauge/RadialGaugeCode.bind
  Microsoft.Toolkit.Uwp.UI.Controls/RadialGauge/RadialGauge.cs
Labels: controls
