Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2019-09, with the labels that each got.

#2905 Fix ImageCropper stuck bug.
  Microsoft.Toolkit.Uwp.UI.Controls/ImageCropper/ImageCropper.Helpers.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageCropper/ImageCropper.Logic.cs
Labels: reviewers wanted

#2906 Fix potential NullReferenceException in ObservableBluetoothLEDevice
  Microsoft.Toolkit.Uwp.Connectivity/BluetoothLEHelper/ObservableBluetoothLEDevice.cs
Labels: reviewers wanted

#2969 #2922 RotatorTile _nextElement null exception
  Microsoft.Toolkit.Uwp.UI.Controls/RotatorTile/RotatorTile.cs
Labels: bug, reviewers wanted

#2908 Fix ImageCropper stuck bug when the mouse drags quickly.
  Microsoft.Toolkit.Uwp.UI.Controls/ImageCropper/ImageCropper.Helpers.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageCropper/ImageCropper.Logic.cs
Labels: reviewers wanted

#2886 Make the tooltip of the range selector disappear automatically.
  Microsoft.Toolkit.Uwp.UI.Controls/RangeSelector/RangeSelector.cs
  Microsoft.Toolkit.Uwp.UI.Controls/RangeSelector/RangeSelector.xaml
Labels: controls, reviewers wanted

#2639 Lazy loading feature for ImageEx
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ImageEx/ImageExCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ImageEx/ImageExLazyLoadingControl.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ImageEx/ImageExLazyLoadingControl.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ImageEx/ImageExPage.xaml.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageExBase.Members.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageExBase.Source.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageExBase.cs
Labels: controls, feature, reviewers wanted

#2839 Add column and row spacing to the StaggeredPanel
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/StaggeredPanel/StaggeredPanel.bind
  Microsoft.Toolkit.Uwp.UI.Controls/StaggeredPanel/StaggeredPanel.cs
Labels: controls, reviewers wanted

#3003 Add Singleton Pattern Helper to Microsoft.Toolkit
  Microsoft.Toolkit/Helpers/Singleton.cs
Labels: feature

#3004 Add a Debounce Extension to DispatcherTimer
  Microsoft.Toolkit.Uwp.UI/Extensions/DispatcherTimerExtensions.cs
Labels: extensions, feature

#3005 Adding StretchChild property to WrapPanel control
  Microsoft.Toolkit.Uwp.UI.Controls/WrapPanel/StretchChild.cs
  Microsoft.Toolkit.Uwp.UI.Controls/WrapPanel/WrapPanel.cs
Labels: controls, feature

#2401 Add ViewportBehavior for listening element enter or leave the viewport
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ViewportBehavior/ViewportBehavior.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ViewportBehavior/ViewportBehaviorCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ViewportBehavior/ViewportBehaviorPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ViewportBehavior/ViewportBehaviorPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ViewportBehavior/ViewportBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/CompositionBehaviorBase.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/FadeHeaderBehavior.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/QuickReturnHeaderBehavior.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/StickyHeaderBehavior.cs
  Microsoft.Toolkit.Uwp.UI/Behaviors/BehaviorBase.cs
  Microsoft.Toolkit.Uwp.UI/Behaviors/ViewportBehavior.cs
  Microsoft.Toolkit.Uwp.UI/Microsoft.Toolkit.Uwp.UI.csproj
Labels: feature request, for-review

#3006 New TokenizingTextBox control
  Microsoft.Toolkit.Uwp.UI.Controls/Microsoft.Toolkit.Uwp.UI.Controls.csproj
  Microsoft.Toolkit.Uwp.UI.Controls/Strings/en-US/Resources.resw
  Microsoft.Toolkit.Uwp.UI.Controls/TokenizingTextBox/TokenizingTextBox.Events.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TokenizingTextBox/TokenizingTextBox.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TokenizingTextBox/TokenizingTextBox.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TokenizingTextBox/TokenizingTextBox.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/TokenizingTextBox/TokenizingTextBoxItem.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TokenizingTextBox/TokenizingTextBoxItem.xaml
Labels: controls, feature
