Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2019-02, with the labels that each got.

#2755 Menu control - Add deprecation message
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI.Controls/InAppNotification/Styles/MSEdgeNotificationStyle.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/Menu/Menu.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Menu/MenuItem.cs
Labels: sample app

#2754 SharePointFileList - Fix focus lost after tab navigation
  Microsoft.Toolkit.Uwp.UI.Controls.Graph/SharePointFileList/SharePointFileList.cs
Labels: accessibility, controls, reviewers wanted

#2676 Updated to work with latest Microsoft.Identity.Client
  Microsoft.Toolkit.Services/Microsoft.Toolkit.Services.csproj
  Microsoft.Toolkit.Services/Services/MicrosoftGraph/MicrosoftGraphAuthenticationHelper.cs
  Microsoft.Toolkit.Services/Services/MicrosoftGraph/MicrosoftGraphService.cs
  Microsoft.Toolkit.Uwp/Microsoft.Toolkit.Uwp.csproj
Labels: services

#2707 Infinite canvas export image #2672
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/InfiniteCanvas/InfiniteCanvasPage.xaml.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/Controls/InfiniteCanvasVirtualDrawingSurface.Render.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/InfiniteCanvas.cs
Labels: controls, feature, reviewers wanted

#2772 Update BladeView to work better in High Contrast Modes.
  Microsoft.Toolkit.Uwp.UI.Controls/BladeView/BladeView.xaml
Labels: introduce breaking changes, reviewers wanted

#2126 New Control - Remote device picker
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/Package.appxmanifest
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/RemoteDeviceHelper/RemoteDeviceHelper.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/RemoteDeviceHelper/RemoteDeviceHelperCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/RemoteDeviceHelper/RemoteDeviceHelperPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/RemoteDeviceHelper/RemoteDeviceHelperPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/RemoteDevicePicker/RemoteDevicePicker.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/RemoteDevicePicker/RemoteDevicePickerCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/RemoteDevicePicker/RemoteDevicePickerControlPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/RemoteDevicePicker/RemoteDevicePickerControlPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI.Controls/Microsoft.Toolkit.Uwp.UI.Controls.csproj
  Microsoft.Toolkit.Uwp.UI.Controls/RemoteDevicePicker/RemoteDevicePicker.cs
  Microsoft.Toolkit.Uwp.UI.Controls/RemoteDevicePicker/RemoteDevicePicker.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/RemoteDevicePicker/RemoteDeviceSelectionMode.cs
  Microsoft.Toolkit.Uwp.UI.Controls/RemoteDevicePicker/RemoteSystemKindToSymbolConverter.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Themes/Generic.xaml
  Microsoft.Toolkit.Uwp/Helpers/RemoteDeviceHelper/RemoteDeviceHelper.cs
Labels: controls, feature

#2757 TabView Control - Fix focus navigation
  Microsoft.Toolkit.Uwp.UI.Controls/TabView/TabView.xaml
Labels: accessibility, controls, reviewers wanted

#2736 Fix GazeHidParser to properly interpret negative position values
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeHidParsers.cpp
Labels: bug
