Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2019-10, with the labels that each got.

#3025 Fix for DataGrid Issue #3010 - NullReferenceException in DataGrid.ComputeDisplayedColumns
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridColumns.cs
Labels: DataGrid

#3026 DataGrid fix for Issue# 2977 - Crash after deleting row above edited row
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGrid.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridComboBoxColumn.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridRows.cs
Labels: DataGrid

#2820 Make sure that mask variables can be escaped in TextBoxMask.Mask
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TextBoxMask/TextBoxMask.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TextBoxMask/TextBoxMaskPage.xaml
  Microsoft.Toolkit.Uwp.UI/Extensions/TextBoxMask/TextBoxMask.Properties.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/TextBoxMask/TextBoxMask.cs
Labels: improvements :sparkles:, introduce breaking changes :boom:

#3050 Separate Brushes in Microsoft.Toolkit.Uwp.UI to own package
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CameraHelper/CameraHelperPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CameraPreview/CameraPreviewPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ViewportBehavior/ViewportBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.UI.Media/Brushes/AlphaMode.cs
  Microsoft.Toolkit.Uwp.UI.Media/Brushes/BackdropBlurBrush.cs
  Microsoft.Toolkit.Uwp.UI.Media/Brushes/BackdropGammaTransferBrush.cs
  Microsoft.Toolkit.Uwp.UI.Media/Brushes/BackdropInvertBrush.cs
  Microsoft.Toolkit.Uwp.UI.Media/Brushes/BackdropSaturationBrush.cs
  Microsoft.Toolkit.Uwp.UI.Media/Brushes/BackdropSepiaBrush.cs
  Microsoft.Toolkit.Uwp.UI.Media/Brushes/CanvasBrushBase.cs
  Microsoft.Toolkit.Uwp.UI.Media/Brushes/ImageBlendBrush.cs
  Microsoft.Toolkit.Uwp.UI.Media/Brushes/ImageBlendMode.cs
  Microsoft.Toolkit.Uwp.UI.Media/Brushes/RadialGradientBrush.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Media/Brushes/RadialGradientBrush.cs
  Microsoft.Toolkit.Uwp.UI.Media/Brushes/RadialGradientBrushInterop.cs
  Microsoft.Toolkit.Uwp.UI.Media/Microsoft.Toolkit.Uwp.UI.Media.csproj
  Microsoft.Toolkit.Uwp.UI.Media/Properties/Microsoft.Windows.Toolkit.UI.Media.rd.xml
  Microsoft.Toolkit.Uwp.UI/Microsoft.Toolkit.Uwp.UI.csproj
  Windows Community Toolkit.sln
Labels: introduce breaking changes :boom:
