Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2019-04, with the labels that each got.

#2780 Fixed issue with ComboBoxColumn not updating values when changed from code
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridComboBoxColumn.cs
Labels: DataGrid, reviewers wanted

#2889 Fix RangeSelector crash when the tooltip is removed from the template.
  Microsoft.Toolkit.Uwp.UI.Controls/RangeSelector/RangeSelector.cs
Labels: controls, reviewers wanted

#2846 Allow to set CroppedRegion in ImageCropper
  Microsoft.Toolkit.Uwp.UI.Controls/ImageCropper/ImageCropper.cs
Labels: controls, reviewers wanted

#2878 Fix TextToolbar crashes on secondary window
  Microsoft.Toolkit.Uwp.UI.Controls.Design/TextToolbarMetadata.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Strings/en-US/Resources.resw
  Microsoft.Toolkit.Uwp.UI.Controls/TextToolbar/Formats/MarkDown/MarkDownButtonActions.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TextToolbar/Formats/MarkDown/MarkDownFormatter.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TextToolbar/Formats/RichText/RichTextFormatter.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TextToolbar/TextToolbar.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TextToolbar/TextToolbarStrings.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TextToolbar/ToolbarItems/Common/CommonButtons.Events.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TextToolbar/ToolbarItems/Common/CommonButtons.cs
Labels: bug, controls, reviewers wanted

#2876 CreateFileasync OneDriveService
  Microsoft.Toolkit.Services/Services/OneDrive/OneDriveHelper.cs
Labels: bug, services

#2760 Improve TabNavigation inside SampleApps SamplePicker panel
  Microsoft.Toolkit.Uwp.SampleApp/Shell.SamplePicker.cs
  Microsoft.Toolkit.Uwp.SampleApp/Shell.xaml
  Microsoft.Toolkit.Uwp.SampleApp/Shell.xaml.cs
Labels: accessibility, controls, reviewers wanted
