Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2019-03, with the labels that each got.

#2810 Add null check for Content property before applying automation peer
  Microsoft.Toolkit.Uwp.UI.Controls/InAppNotification/InAppNotification.Events.cs
Labels: bug, controls, reviewers wanted

#2836 Enable developer to have more control of the cursor shown for gaze
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeCursor.cpp
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazeCursor.h
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazePointer.h
Labels: gaze, reviewers wanted

#2838 WrapPanel control bug fixes (issues #2804 and #2837)
  Microsoft.Toolkit.Uwp.UI.Controls/WrapPanel/WrapPanel.cs
Labels: controls, reviewers wanted

#2824 Fix HeaderedContentControl throws ArgumentException
  Microsoft.Toolkit.Uwp.UI.Controls/HeaderedContentControl/HeaderedContentControl.cs
Labels: controls, reviewers wanted

#2852 fix: add unit tests to fix StringFormatConverter
  Microsoft.Toolkit.Uwp.UI/Converters/StringFormatConverter.cs
  UnitTests/Converters/Test_StringFormatConverter.cs
  UnitTests/UnitTests.csproj
Labels: bug, reviewers wanted

#2856 Improve packages description
  Microsoft.Toolkit.Parsers/Microsoft.Toolkit.Parsers.csproj
  Microsoft.Toolkit.Services/Microsoft.Toolkit.Services.csproj
  Microsoft.Toolkit.Uwp.Connectivity/Microsoft.Toolkit.Uwp.Connectivity.csproj
  Microsoft.Toolkit.Uwp.DeveloperTools/Microsoft.Toolkit.Uwp.DeveloperTools.csproj
  Microsoft.Toolkit.Uwp.Notifications.JavaScript/Microsoft.Toolkit.Uwp.Notifications.JavaScript.csproj
  Microsoft.Toolkit.Uwp.Notifications/Microsoft.Toolkit.Uwp.Notifications.csproj
  Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer/Microsoft.Toolkit.Uwp.PlatformSpecificAnalyzer.csproj
  Microsoft.Toolkit.Uwp.UI.Animations/Microsoft.Toolkit.Uwp.UI.Animations.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/Microsoft.Toolkit.Uwp.UI.Controls.DataGrid.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Graph/Microsoft.Toolkit.Uwp.UI.Controls.Graph.csproj
  Microsoft.Toolkit.Uwp.UI.Controls/Microsoft.Toolkit.Uwp.UI.Controls.csproj
  Microsoft.Toolkit.Uwp.UI/Microsoft.Toolkit.Uwp.UI.csproj
  Microsoft.Toolkit/Microsoft.Toolkit.csproj
Labels: documentation, nuget, reviewers wanted

#2849 Range Selector Tooltip Keyboard Fix #2730
  Microsoft.Toolkit.Uwp.UI.Controls/RangeSelector/RangeSelector.cs
Labels: controls, reviewers wanted

#2848 Fix reorder grid animation
  Microsoft.Toolkit.Uwp.UI.Animations/ReorderGridAnimation.cs
Labels: animations, reviewers wanted

#2834 Fix carousel animation bug when SelectedIndex changes quickly.
  Microsoft.Toolkit.Uwp.UI.Controls/Carousel/CarouselPanel.cs
Labels: animations, controls, reviewers wanted

#2798 Print Helper - Fix ElementTheme on Dark Mode
  Microsoft.Toolkit.Uwp/Helpers/PrintHelper/PrintHelper.cs
Labels: helpers, reviewers wanted

#2826 Make StaggeredPanel sensitive to HorizontalContentAlignment of children
  Microsoft.Toolkit.Uwp.UI.Controls/StaggeredPanel/StaggeredPanel.cs
Labels: controls

#2855 Fix preview pages on direct printing using PrintHelper
  Microsoft.Toolkit.Uwp/Helpers/PrintHelper/PrintHelper.cs
Labels: helpers, reviewers wanted

#2598 Extend RangeBase for the RadialGauge
  Microsoft.Toolkit.Uwp.UI.Controls/RadialGauge/RadialGauge.cs
Labels: controls, introduce breaking changes, open discussion, work in progress
