Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2020-10, with the labels that each got.

#3468 Support for nested/pointer/byref types for Type.ToTypeString()
  Microsoft.Toolkit/Extensions/TypeExtensions.cs
  UnitTests/UnitTests.Shared/Extensions/Test_TypeExtensions.cs
Labels: .NET Standard, auto merge, bug :bug:, extensions :zap:, improvements :sparkles:, needs attention :wave:

#3515 Shameful rename of [IsNullOr]WhiteSpace Guard APIs
  Microsoft.Toolkit/Diagnostics/Guard.String.cs
  Microsoft.Toolkit/Diagnostics/Internals/ThrowHelper.Guard.String.cs
Labels: .NET Standard, auto merge, improvements :sparkles:

#3513 Removed unsafe indexing from StrongReferenceMessenger
  Microsoft.Toolkit.Mvvm/Messaging/StrongReferenceMessenger.cs
  Microsoft.Toolkit.Mvvm/Messaging/WeakReferenceMessenger.cs
Labels: .NET Standard, auto merge, improvements :sparkles:, mvvm-toolkit

#3505 Leftover ObservableObject XML docs fix, minor tweaks
  Microsoft.Toolkit.Mvvm/ComponentModel/ObservableObject.cs
  Microsoft.Toolkit.Mvvm/ComponentModel/ObservableRecipient.cs
  Microsoft.Toolkit.Mvvm/ComponentModel/ObservableValidator.cs
Labels: .NET Standard, auto merge, documentation :page_with_curl:, improvements :sparkles:, mvvm-toolkit

#3380 StringPool class (ArrayPool<T>-like to cache strings)
  Microsoft.Toolkit.HighPerformance/Buffers/StringPool.cs
  UnitTests/UnitTests.HighPerformance.Shared/Buffers/Test_StringPool.cs
  UnitTests/UnitTests.HighPerformance.Shared/UnitTests.HighPerformance.Shared.projitems
Labels: auto merge, feature :bulb:, high-performance 🚂

#3338 fixes for case adding data at the end of the textbox
  Microsoft.Toolkit.Uwp.UI/Extensions/TextBoxMask/TextBoxMask.cs
Labels: auto merge, bug :bug:, for-review :book:, reviewers wanted :raised_hand:

#3526 Mutable and subclassable version of ObservableGroup
  Microsoft.Toolkit/Collections/ObservableGroup.cs
Labels: auto merge, improvements :sparkles:

#3378 Codegen improvements (removed unnecessary movsxd ops)
  Microsoft.Toolkit.HighPerformance/Extensions/ArrayExtensions.2D.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ArrayExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ReadOnlySpanExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/SpanExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/StringExtensions.cs
  Microsoft.Toolkit.HighPerformance/Helpers/HashCode{T}.cs
  Microsoft.Toolkit.HighPerformance/Helpers/ParallelHelper.ForEach.IInAction.cs
  Microsoft.Toolkit.HighPerformance/Helpers/ParallelHelper.ForEach.IRefAction.cs
  Microsoft.Toolkit.HighPerformance/Microsoft.Toolkit.HighPerformance.csproj
Labels: high-performance 🚂, optimization ☄

#3529 Fixed ImageEx.CornerRadius property
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageEx.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageExBase.Members.cs
Labels: auto merge, bug :bug:, controls :control_knobs:, introduce breaking changes :boom:

#3482 WinUI - Test Infra
  .gitignore
  UITests/UITests.App/App.xaml
  UITests/UITests.App/App.xaml.cs
  UITests/UITests.App/Assets/LockScreenLogo.scale-200.png
  UITests/UITests.App/Assets/SplashScreen.scale-200.png
  UITests/UITests.App/Assets/Square150x150Logo.scale-200.png
  UITests/UITests.App/Assets/Square44x44Logo.scale-200.png
  UITests/UITests.App/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
  UITests/UITests.App/Assets/StoreLogo.png
  UITests/UITests.App/Assets/Wide310x150Logo.scale-200.png
  UITests/UITests.App/MainPage.xaml
  UITests/UITests.App/MainPage.xaml.cs
  UITests/UITests.App/Package.appxmanifest
  UITests/UITests.App/Properties/AssemblyInfo.cs
  UITests/UITests.App/Properties/Default.rd.xml
  UITests/UITests.App/UITests.App.csproj
  UITests/UITests.App/UITests.App.pfx
  UITests/UITests.Tests.MSTest/MSTestInterop.cs
  UITests/UITests.Tests.MSTest/UITests.Tests.MSTest.csproj
  UITests/UITests.Tests.Shared/TestAssembly.cs
  UITests/UITests.Tests.Shared/Tests.cs
  UITests/UITests.Tests.Shared/UITests.Tests.Shared.projitems
  UITests/UITests.Tests.Shared/UITests.Tests.Shared.shproj
  UITests/UITests.Tests.TAEF/MainClass.cs
  UITests/UITests.Tests.TAEF/UITests.App.dependencies.Debug.txt
  UITests/UITests.Tests.TAEF/UITests.App.dependencies.Release.txt
  UITests/UITests.Tests.TAEF/UITests.Tests.TAEF.csproj
  Windows Community Toolkit.sln
  azure-pipelines.yml
  build/build.cake
  nuget.config
Labels: CI/pipeline 🔬, auto merge, build :fire:, testing :building_construction:

#3534 Remove duplicate NuGet reference
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: auto merge

#3531 Update Template Instructions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: auto merge, documentation :page_with_curl:, improvements :sparkles:

#3543 Fixed MemoryStream seek to end validation
  Microsoft.Toolkit.HighPerformance/Streams/MemoryStream.Validate.cs
  UnitTests/UnitTests.HighPerformance.Shared/Streams/Test_MemoryStream.cs
Labels: .NET Standard, auto merge, bug :bug:, high-performance 🚂

#3444 Deprecated 2D array extensions from Microsoft.Toolkit
  Microsoft.Toolkit.Uwp.UI.Controls/UniformGrid/TakenSpotsReferenceHolder.cs
  Microsoft.Toolkit.Uwp.UI.Controls/UniformGrid/UniformGrid.Helpers.cs
  Microsoft.Toolkit.Uwp.UI.Controls/UniformGrid/UniformGrid.cs
  Microsoft.Toolkit/Extensions/ArrayExtensions.cs
  UnitTests/UnitTests.Shared/Extensions/Test_ArrayExtensions.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_UniformGrid_FreeSpots.cs
Labels: .NET Standard, auto merge, extensions :zap:, for-review :book:, introduce breaking changes :boom:, needs attention :wave:, optimization ☄, reviewers wanted :raised_hand:

#3504 Added automation peer class for expander
  Microsoft.Toolkit.Uwp.UI.Controls/Expander/Expander.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Expander/ExpanderAutomationPeer.cs
Labels: accessibility :wheelchair:, auto merge, bug :bug:

#3544 RadialGauge UIA improvements
  Microsoft.Toolkit.Uwp.UI.Controls/RadialGauge/RadialGauge.cs
  Microsoft.Toolkit.Uwp.UI.Controls/RadialGauge/RadialGaugeAutomationPeer.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_RadialGauge.cs
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: accessibility :wheelchair:, auto merge, bug :bug:, sample app :iphone:

#3471 Add FrameworkElement.VerticalAlignment and FrameworkElement.HorizontalAlignment support to WrapPanel
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/WrapPanel/WrapPanel.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/WrapPanel/WrapPanelPage.xaml.cs
  Microsoft.Toolkit.Uwp.UI.Controls/WrapPanel/WrapPanel.Data.cs
  Microsoft.Toolkit.Uwp.UI.Controls/WrapPanel/WrapPanel.cs
Labels: auto merge, bug :bug:, controls :control_knobs:, next preview :airplane:, open discussion :telephone:, reviewers wanted :raised_hand:
