Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2020-09, with the labels that each got.

#3462 Add FocusBehavior and AutoFocusBehavior
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/AutoFocusBehavior/AutoFocusBehaviorPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/AutoFocusBehavior/AutoFocusBehaviorPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/AutoFocusBehavior/AutoFocusBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/FocusBehavior/FocusBehaviorPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/FocusBehavior/FocusBehaviorPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/FocusBehavior/FocusBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI/Behaviors/AutoFocusBehavior.cs
  Microsoft.Toolkit.Uwp.UI/Behaviors/FocusBehavior.cs
Labels: needs author feedback :memo:

#3481 Small fix when Independent loader might throw.
  Microsoft.Toolkit.Uwp/Extensions/StringExtensions.cs
Labels: bug :bug:

#3488 Fixed incorrect blur in loading sample
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Loading/LoadingCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Loading/LoadingPage.xaml.cs
Labels: auto merge, bug :bug:, reviewers wanted :raised_hand:, sample app :iphone:, sample bug :bug:

#3362 New BitHelper APIs
  Microsoft.Toolkit.HighPerformance/Helpers/BitHelper.cs
  UnitTests/UnitTests.HighPerformance.Shared/Helpers/Test_BitHelper.cs
Labels: auto merge, feature :bulb:, high-performance 🚂

#3351 HighPerformance package improvements
  Microsoft.Toolkit.HighPerformance/Box{T}.cs
  Microsoft.Toolkit.HighPerformance/Buffers/ArrayPoolBufferWriter{T}.cs
  Microsoft.Toolkit.HighPerformance/Buffers/MemoryBufferWriter{T}.cs
  Microsoft.Toolkit.HighPerformance/Buffers/MemoryOwner{T}.cs
  Microsoft.Toolkit.HighPerformance/Buffers/SpanOwner{T}.cs
  Microsoft.Toolkit.HighPerformance/Enumerables/Array2DColumnEnumerable{T}.cs
  Microsoft.Toolkit.HighPerformance/Enumerables/Array2DRowEnumerable{T}.cs
  Microsoft.Toolkit.HighPerformance/Enumerables/ReadOnlySpanEnumerable{T}.cs
  Microsoft.Toolkit.HighPerformance/Enumerables/ReadOnlySpanTokenizer{T}.cs
  Microsoft.Toolkit.HighPerformance/Enumerables/SpanEnumerable{T}.cs
  Microsoft.Toolkit.HighPerformance/Enumerables/SpanTokenizer{T}.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ArrayPoolExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/IBufferWriterExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ReadOnlySpanExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/SpanExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/StreamExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/StringExtensions.cs
  Microsoft.Toolkit.HighPerformance/Helpers/ParallelHelper.ThrowExceptions.cs
  Microsoft.Toolkit.HighPerformance/NullableReadOnlyRef{T}.cs
  Microsoft.Toolkit.HighPerformance/NullableRef{T}.cs
  Microsoft.Toolkit.HighPerformance/Streams/MemoryStream.ThrowExceptions.cs
  UnitTests/UnitTests.HighPerformance.Shared/Buffers/Test_ArrayPoolBufferWriter{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Buffers/Test_MemoryOwner{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Buffers/Test_SpanOwner{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Buffers/TrackingArrayPool{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/UnitTests.HighPerformance.Shared.projitems
Labels: auto merge, feature :bulb:, high-performance 🚂, improvements :sparkles:, needs attention :wave:

#3489 New SizeExtensions for Windows.Foundation.Size
  Microsoft.Toolkit.Uwp.UI.Controls.Markdown/Render/MarkdownTable.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Carousel/CarouselPanel.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Eyedropper/Eyedropper.Logic.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Eyedropper/EyedropperToolButton.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageCropper/ImageCropper.Animations.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageCropper/ImageCropper.Events.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageCropper/ImageCropper.Helpers.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageCropper/ImageCropper.Logic.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageCropper/ImageCropper.cs
  Microsoft.Toolkit.Uwp.UI.Controls/OrbitView/OrbitViewPanel.cs
  Microsoft.Toolkit.Uwp.UI.Controls/RotatorTile/RotatorTile.cs
  Microsoft.Toolkit.Uwp.UI.Controls/UniformGrid/UniformGrid.cs
  Microsoft.Toolkit.Uwp/Extensions/PointExtensions.cs
  Microsoft.Toolkit.Uwp/Extensions/SizeExtensions.cs
  UnitTests/UnitTests.UWP/Extensions/Test_PointExtensions.cs
  UnitTests/UnitTests.UWP/Extensions/Test_SizeExtensions.cs
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: auto merge, extensions :zap:, feature :bulb:, feature request :mailbox_with_mail:

#3424 Memory usage improvements/optimizations to Messenger
  Microsoft.Toolkit.Mvvm/ComponentModel/ObservableRecipient.cs
  Microsoft.Toolkit.Mvvm/Messaging/IMessenger.cs
  Microsoft.Toolkit.Mvvm/Messaging/IMessengerExtensions.cs
  Microsoft.Toolkit.Mvvm/Messaging/Internals/Microsoft.Collections.Extensions/DictionarySlim{TKey,TValue}.cs
  Microsoft.Toolkit.Mvvm/Messaging/Internals/Microsoft.Collections.Extensions/HashHelpers.cs
  Microsoft.Toolkit.Mvvm/Messaging/Internals/Microsoft.Collections.Extensions/IDictionarySlim.cs
  Microsoft.Toolkit.Mvvm/Messaging/Internals/Microsoft.Collections.Extensions/IDictionarySlim{TKey,TValue}.cs
  Microsoft.Toolkit.Mvvm/Messaging/Internals/Microsoft.Collections.Extensions/IDictionarySlim{TKey}.cs
  Microsoft.Toolkit.Mvvm/Messaging/Internals/Type2.cs
  Microsoft.Toolkit.Mvvm/Messaging/Internals/Unit.cs
  Microsoft.Toolkit.Mvvm/Messaging/MessengerExtensions.Unit.cs
  Microsoft.Toolkit.Mvvm/Messaging/StrongReferenceMessenger.cs
  Microsoft.Toolkit.Mvvm/Messaging/WeakReferenceMessenger.cs
  Microsoft.Toolkit.Mvvm/Microsoft.Toolkit.Mvvm.csproj
  UnitTests/UnitTests.Shared/Mvvm/Test_AsyncRelayCommand{T}.cs
  UnitTests/UnitTests.Shared/Mvvm/Test_Messenger.Request.cs
  UnitTests/UnitTests.Shared/Mvvm/Test_Messenger.cs
  UnitTests/UnitTests.Shared/Mvvm/Test_ObservableRecipient.cs
  UnitTests/UnitTests.Shared/Mvvm/Test_RelayCommand{T}.cs
  UnitTests/UnitTests.Shared/UnitTests.Shared.projitems
Labels: auto merge, optimization ☄, reviewers wanted :raised_hand:

#3508 Fix GitHub icon positioning
  Microsoft.Toolkit.Uwp.SampleApp/Pages/SampleController.xaml
Labels: bug :bug:, sample app :iphone:
