Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2020-11, with the labels that each got.

#3550 Parameterless ThrowHelper APIs
  Microsoft.Toolkit/Diagnostics/ThrowHelper.Generic.cs
  Microsoft.Toolkit/Diagnostics/ThrowHelper.cs
Labels: .NET Standard, auto merge, feature :bulb:, improvements :sparkles:

#3269 Update Contribution Guide
  contributing.md
  readme.md
Labels: documentation :page_with_curl:, improvements :sparkles:

#3490 Fixed thread safety for NetworkHelper.Instance
  Microsoft.Toolkit.Uwp.Connectivity/Network/NetworkHelper.cs
Labels: auto merge, bug :bug:, helpers :raised_hand:, improvements :sparkles:

#3558 Stop the Sample app needing to be rebuilt even when nothing has changed
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
Labels: auto merge, bug :bug:, sample app :iphone:

#3379 Add ColorPickerButton
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ColorPicker/ColorPicker.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ColorPicker/ColorPickerButtonPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ColorPicker/ColorPickerButtonPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ColorPicker/ColorPickerButtonXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ColorPicker/ColorPickerPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ColorPicker/ColorPickerPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ColorPicker/ColorPickerXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI.Controls/ColorPicker/ColorChannel.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ColorPicker/ColorPicker.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ColorPicker/ColorPicker.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ColorPicker/ColorPicker.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/ColorPicker/ColorPickerButton.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ColorPicker/ColorPickerButton.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/ColorPicker/ColorPickerRenderingHelpers.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ColorPicker/ColorPickerSlider.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ColorPicker/ColorPickerSlider.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ColorPicker/ColorPickerSlider.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/ColorPicker/ColorRepresentation.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ColorPicker/ColorToColorShadeConverter.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ColorPicker/ColorToHexConverter.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ColorPicker/ContrastBrushConverter.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ColorPicker/FluentColorPalette.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ColorPicker/IColorPalette.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/InfiniteCanvas.TextBox.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/InfiniteCanvas.cs
  Microsoft.Toolkit.Uwp.UI.Controls/InfiniteCanvas/InfiniteCanvas.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/Microsoft.Toolkit.Uwp.UI.Controls.csproj
  Microsoft.Toolkit.Uwp.UI.Controls/SwitchPresenter/Case.cs
  Microsoft.Toolkit.Uwp.UI.Controls/SwitchPresenter/CaseCollection.cs
  Microsoft.Toolkit.Uwp.UI.Controls/SwitchPresenter/SwitchPresenter.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Themes/Generic.xaml
  Microsoft.Toolkit.Uwp.UI/Converters/ColorToDisplayNameConverter.cs
  Windows Community Toolkit.sln
Labels: auto merge, controls :control_knobs:, feature request :mailbox_with_mail:, next preview :airplane:

#3457 New Win32 toast notification helpers (no more shortcut needed!)
  Microsoft.Toolkit.Uwp.Notifications/Adaptive/AdaptiveProgressBarValue.cs
  Microsoft.Toolkit.Uwp.Notifications/Microsoft.Toolkit.Uwp.Notifications.csproj
  Microsoft.Toolkit.Uwp.Notifications/Tiles/TileCommon.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Builder/CustomizeToast.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Builder/ToastContentBuilder.Actions.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Builder/ToastContentBuilder.Visuals.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Builder/ToastContentBuilder.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/DesktopBridgeHelpers.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/DesktopNotificationHistoryCompat.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/DesktopNotificationManagerCompat.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/InternalNotificationActivator.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/ManifestHelper.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/Native/CAppResolver.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/Native/IApplicationResolver.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/Native/IShellItem.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/Native/IShellItemImageFactory.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/Native/SIIGBF.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/Native/SIZE.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/NotificationActivator.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/NotificationUserInput.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/OnActivated.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/ToastNotificationActivatedEventArgsCompat.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/Win32AppInfo.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/ToastNotificationHistoryCompat.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/ToastNotificationManagerCompat.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/IToastActivateableBuilder.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/ToastArguments.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/ToastButton.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/BackgroundTaskHelper/TestBackgroundTask.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Toast/ToastCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Toast/ToastPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/WeatherLiveTileAndToast/WeatherLiveTileAndToastCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/WeatherLiveTileAndToast/WeatherLiveTileAndToastPage.xaml.cs
  Microsoft.Toolkit.Uwp.Samples.BackgroundTasks/TestBackgroundTask.cs
  Microsoft.Toolkit.Win32.WpfCore.SampleApp.PackagingProject/Images/LockScreenLogo.scale-200.png
  Microsoft.Toolkit.Win32.WpfCore.SampleApp.PackagingProject/Images/SplashScreen.scale-200.png
  Microsoft.Toolkit.Win32.WpfCore.SampleApp.PackagingProject/Images/Square150x150Logo.scale-200.png
  Microsoft.Toolkit.Win32.WpfCore.SampleApp.PackagingProject/Images/Square44x44Logo.scale-200.png
  Microsoft.Toolkit.Win32.WpfCore.SampleApp.PackagingProject/Images/Square44x44Logo.targetsize-24_altform-unplated.png
  Microsoft.Toolkit.Win32.WpfCore.SampleApp.PackagingProject/Images/StoreLogo.png
  Microsoft.Toolkit.Win32.WpfCore.SampleApp.PackagingProject/Images/Wide310x150Logo.scale-200.png
  Microsoft.Toolkit.Win32.WpfCore.SampleApp.PackagingProject/Microsoft.Toolkit.Win32.WpfCore.SampleApp.PackagingProject.wapproj
  Microsoft.Toolkit.Win32.WpfCore.SampleApp.PackagingProject/Package.appxmanifest
  Microsoft.Toolkit.Win32.WpfCore.SampleApp/App.xaml
  Microsoft.Toolkit.Win32.WpfCore.SampleApp/App.xaml.cs
  Microsoft.Toolkit.Win32.WpfCore.SampleApp/AssemblyInfo.cs
  Microsoft.Toolkit.Win32.WpfCore.SampleApp/MainWindow.xaml
  Microsoft.Toolkit.Win32.WpfCore.SampleApp/MainWindow.xaml.cs
  Microsoft.Toolkit.Win32.WpfCore.SampleApp/Microsoft.Toolkit.Win32.WpfCore.SampleApp.csproj
  Microsoft.Toolkit.Win32.WpfCore.SampleApp/MyToastActions.cs
  Microsoft.Toolkit.Win32.WpfCore.SampleApp/ToolkitIcon.ico
  ThirdPartyNotices.txt
  UnitTests/UnitTests.Notifications.Shared/TestToastArguments.cs
  UnitTests/UnitTests.Notifications.Shared/TestToastContentBuilder.cs
  UnitTests/UnitTests.Notifications.Shared/UnitTests.Notifications.Shared.projitems
  Windows Community Toolkit.sln
Labels: auto merge, feature :bulb:, next preview :airplane:, notifications :bell:

#3510 Refactoring with .NET 5 Unsafe APIs
  Microsoft.Toolkit.HighPerformance/Box{T}.cs
  Microsoft.Toolkit.HighPerformance/Buffers/StringPool.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ArrayExtensions.1D.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ArrayExtensions.2D.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ArrayExtensions.3D.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ObjectExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/StringExtensions.cs
  Microsoft.Toolkit.HighPerformance/Memory/Memory2D{T}.cs
  Microsoft.Toolkit.HighPerformance/Memory/ReadOnlyMemory2D{T}.cs
  Microsoft.Toolkit.HighPerformance/Microsoft.Toolkit.HighPerformance.csproj
  Microsoft.Toolkit.Uwp/Helpers/ColorHelper.cs
  UnitTests/UnitTests.HighPerformance.NetCore/UnitTests.HighPerformance.NetCore.csproj
  UnitTests/UnitTests.HighPerformance.UWP/UnitTests.HighPerformance.UWP.csproj
  UnitTests/UnitTests.Shared/Diagnostics/Test_ThrowHelper.cs
Labels: .NET Standard, auto merge, improvements :sparkles:

#3450 Created SmokeTest projects.
  Microsoft.Toolkit.Uwp.UI.Controls.Markdown/Microsoft.Toolkit.Uwp.UI.Controls.Markdown.csproj
  SmokeTests/App.xaml
  SmokeTests/App.xaml.cs
  SmokeTests/Assets/LockScreenLogo.scale-200.png
  SmokeTests/Assets/SplashScreen.scale-200.png
  SmokeTests/Assets/Square150x150Logo.scale-200.png
  SmokeTests/Assets/Square44x44Logo.scale-200.png
  SmokeTests/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
  SmokeTests/Assets/StoreLogo.png
  SmokeTests/Assets/Wide310x150Logo.scale-200.png
  SmokeTests/Microsoft.Toolkit.HighPerformance/MainPage.xaml
  SmokeTests/Microsoft.Toolkit.HighPerformance/MainPage.xaml.cs
  SmokeTests/Microsoft.Toolkit.Mvvm/MainPage.xaml
  SmokeTests/Microsoft.Toolkit.Mvvm/MainPage.xaml.cs
  SmokeTests/Microsoft.Toolkit.Parsers/MainPage.xaml
  SmokeTests/Microsoft.Toolkit.Parsers/MainPage.xaml.cs
  SmokeTests/Microsoft.Toolkit.Services/MainPage.xaml
  SmokeTests/Microsoft.Toolkit.Services/MainPage.xaml.cs
  SmokeTests/Microsoft.Toolkit.Uwp.Connectivity/MainPage.xaml
  SmokeTests/Microsoft.Toolkit.Uwp.Connectivity/MainPage.xaml.cs
  SmokeTests/Microsoft.Toolkit.Uwp.DeveloperTools/MainPage.xaml
  SmokeTests/Microsoft.Toolkit.Uwp.DeveloperTools/MainPage.xaml.cs
  SmokeTests/Microsoft.Toolkit.Uwp.Input.GazeInteraction/MainPage.xaml
  SmokeTests/Microsoft.Toolkit.Uwp.Input.GazeInteraction/MainPage.xaml.cs
  SmokeTests/Microsoft.Toolkit.Uwp.Notifications/MainPage.xaml
  SmokeTests/Microsoft.Toolkit.Uwp.Notifications/MainPage.xaml.cs
  SmokeTests/Microsoft.Toolkit.Uwp.UI.Animations/MainPage.xaml
  SmokeTests/Microsoft.Toolkit.Uwp.UI.Animations/MainPage.xaml.cs
  SmokeTests/Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/MainPage.xaml
  SmokeTests/Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/MainPage.xaml.cs
  SmokeTests/Microsoft.Toolkit.Uwp.UI.Controls.Layout/MainPage.xaml
  SmokeTests/Microsoft.Toolkit.Uwp.UI.Controls.Layout/MainPage.xaml.cs
  SmokeTests/Microsoft.Toolkit.Uwp.UI.Controls.Markdown/MainPage.xaml
  SmokeTests/Microsoft.Toolkit.Uwp.UI.Controls.Markdown/MainPage.xaml.cs
  SmokeTests/Microsoft.Toolkit.Uwp.UI.Controls/MainPage.xaml
  SmokeTests/Microsoft.Toolkit.Uwp.UI.Controls/MainPage.xaml.cs
  SmokeTests/Microsoft.Toolkit.Uwp.UI.Media/MainPage.xaml
  SmokeTests/Microsoft.Toolkit.Uwp.UI.Media/MainPage.xaml.cs
  SmokeTests/Microsoft.Toolkit.Uwp.UI/MainPage.xaml
  SmokeTests/Microsoft.Toolkit.Uwp.UI/MainPage.xaml.cs
  SmokeTests/Microsoft.Toolkit.Uwp/MainPage.xaml
  SmokeTests/Microsoft.Toolkit.Uwp/MainPage.xaml.cs
  SmokeTests/Microsoft.Toolkit/MainPage.xaml
  SmokeTests/Microsoft.Toolkit/MainPage.xaml.cs
  SmokeTests/Package.appxmanifest
  SmokeTests/Properties/AssemblyInfo.cs
  SmokeTests/Properties/Default.rd.xml
  SmokeTests/SmokeTest.csproj
  SmokeTests/SmokeTest.sln
  SmokeTests/SmokeTests.proj
  SmokeTests/nuget.config
  azure-pipelines.yml
  build/build.cake
Labels: auto merge, feature request :mailbox_with_mail:, for-review :book:, next preview :airplane:, reviewers wanted :raised_hand:

#3498 Optimizations/refactoring/tweaks to DispatcherQueueHelper
  Microsoft.Toolkit.Uwp.Connectivity/BluetoothLEHelper/BluetoothLEHelper.cs
  Microsoft.Toolkit.Uwp.Connectivity/BluetoothLEHelper/ObservableBluetoothLEDevice.cs
  Microsoft.Toolkit.Uwp.Connectivity/BluetoothLEHelper/ObservableGattCharacteristics.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/DispatcherQueueHelper/DispatcherQueueHelperPage.xaml.cs
  Microsoft.Toolkit.Uwp.UI/Cache/ImageCache.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/ScrollViewer/ScrollViewerExtensions.MiddleClickScrolling.cs
  Microsoft.Toolkit.Uwp.UI/Helpers/ThemeListener.cs
  Microsoft.Toolkit.Uwp/Deferred/EventDeferral.cs
  Microsoft.Toolkit.Uwp/Extensions/DispatcherQueueExtensions.cs
  Microsoft.Toolkit.Uwp/Extensions/StringExtensions.cs
  Microsoft.Toolkit.Uwp/Helpers/DeepLinkParser/CollectionFormingDeepLinkParser.cs
  Microsoft.Toolkit.Uwp/Helpers/DispatcherHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/DispatcherQueueHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/PrintHelper/PrintHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/PrintHelper/PrintHelperStateBag.cs
  Microsoft.Toolkit.Uwp/Helpers/RemoteDeviceHelper/RemoteDeviceHelper.cs
  Microsoft.Toolkit.Uwp/Microsoft.Toolkit.Uwp.csproj
  Microsoft.Toolkit.Uwp/Structures/OSVersion.cs
  UnitTests/UnitTests.UWP/Extensions/Test_DispatcherQueueExtensions.cs
  UnitTests/UnitTests.UWP/Helpers/Test_DispatcherHelper.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_TextToolbar_Localization.cs
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
  UnitTests/UnitTests.XamlIslands.UWPApp/TestsPage.xaml.cs
  UnitTests/UnitTests.XamlIslands.UWPApp/XamlIslandsTest_DropShadowPanel.cs
  UnitTests/UnitTests.XamlIslands.UWPApp/XamlIslandsTest_Eyedropper.cs
  UnitTests/UnitTests.XamlIslands.UWPApp/XamlIslandsTest_StringExtensions.cs
  UnitTests/UnitTests.XamlIslands.UWPApp/XamlIslandsTest_SystemInformation.cs
  UnitTests/UnitTests.XamlIslands.UWPApp/XamlIslandsTest_TextToolbar.cs
  UnitTests/UnitTests.XamlIslands.UWPApp/XamlIslandsTest_ThemeListener_Threading.cs
  UnitTests/UnitTests.XamlIslands.UWPApp/XamlIslandsTest_TokenizingTextBox.cs
  UnitTests/UnitTests.XamlIslands.UWPApp/XamlIslandsTest_WrapPanel.cs
Labels: XamlIslands :desert_island:, auto merge, extensions :zap:, improvements :sparkles:, in progress :construction:, introduce breaking changes :boom:, next preview :airplane:, optimization ☄

#3527 [Feature] Microsoft.Toolkit.Mvvm package (Preview 4)
  Microsoft.Toolkit.Mvvm/ComponentModel/ObservableObject.cs
  Microsoft.Toolkit.Mvvm/ComponentModel/ObservableValidator.cs
  Microsoft.Toolkit.Mvvm/DependencyInjection/Ioc.cs
  Microsoft.Toolkit.Mvvm/Input/AsyncRelayCommand.cs
  Microsoft.Toolkit.Mvvm/Input/AsyncRelayCommand{T}.cs
  Microsoft.Toolkit.Mvvm/Messaging/IMessengerExtensions.cs
  Microsoft.Toolkit.Mvvm/Messaging/Internals/Type2.cs
  Microsoft.Toolkit.Mvvm/Messaging/StrongReferenceMessenger.cs
  UnitTests/UnitTests.Shared/Mvvm/Test_AsyncRelayCommand.cs
  UnitTests/UnitTests.Shared/Mvvm/Test_ObservableValidator.cs
Labels: .NET Standard, auto merge, feature :bulb:, improvements :sparkles:, mvvm-toolkit, next preview :airplane:, optimization ☄

#3524 Fixed ArrayPoolBufferWriter<T> repeated new[] allocations
  Microsoft.Toolkit.HighPerformance/Buffers/ArrayPoolBufferWriter{T}.cs
  Microsoft.Toolkit.HighPerformance/Buffers/MemoryOwner{T}.cs
  Microsoft.Toolkit.HighPerformance/Buffers/StringPool.cs
  Microsoft.Toolkit.HighPerformance/Helpers/Internals/BitOperations.cs
  UnitTests/UnitTests.HighPerformance.Shared/Buffers/Test_ArrayPoolBufferWriter{T}.cs
Labels: .NET Standard, auto merge, high-performance 🚂, optimization ☄

#3530 Added [Memory|Span]Owner<T>.DangerousGetArray
  Microsoft.Toolkit.HighPerformance/Buffers/MemoryOwner{T}.cs
  Microsoft.Toolkit.HighPerformance/Buffers/SpanOwner{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Buffers/Test_MemoryOwner{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Buffers/Test_SpanOwner{T}.cs
Labels: .NET Standard, auto merge, feature :bulb:, high-performance 🚂, improvements :sparkles:

#3520 New [ReadOnly]Memory<T>.Cast<TFrom, TTo> extensions
  Microsoft.Toolkit.HighPerformance/Buffers/Internals/ArrayMemoryManager{TFrom,TTo}.cs
  Microsoft.Toolkit.HighPerformance/Buffers/Internals/Interfaces/IMemoryManager.cs
  Microsoft.Toolkit.HighPerformance/Buffers/Internals/ProxyMemoryManager{TFrom,TTo}.cs
  Microsoft.Toolkit.HighPerformance/Buffers/Internals/StringMemoryManager{TTo}.cs
  Microsoft.Toolkit.HighPerformance/Extensions/MemoryExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ReadOnlyMemoryExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ReadOnlySpanExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/SpanExtensions.cs
  Microsoft.Toolkit.HighPerformance/Helpers/Internals/RuntimeHelpers.cs
  UnitTests/UnitTests.HighPerformance.Shared/Extensions/Test_MemoryExtensions.cs
Labels: .NET Standard, auto merge, feature :bulb:, high-performance 🚂

#3522 New IBufferWriter<byte>.AsStream() extension
  Microsoft.Toolkit.HighPerformance/Extensions/ArrayPoolBufferWriterExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/IBufferWriterExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/StreamExtensions.cs
  Microsoft.Toolkit.HighPerformance/Streams/IBufferWriterStream{TWriter}.Memory.cs
  Microsoft.Toolkit.HighPerformance/Streams/IBufferWriterStream{TWriter}.cs
  Microsoft.Toolkit.HighPerformance/Streams/MemoryStream.ThrowExceptions.cs
  Microsoft.Toolkit.HighPerformance/Streams/MemoryStream.Validate.cs
  Microsoft.Toolkit.HighPerformance/Streams/MemoryStream{TSource}.cs
  Microsoft.Toolkit.HighPerformance/Streams/Sources/ArrayBufferWriterOwner.cs
  Microsoft.Toolkit.HighPerformance/Streams/Sources/IBufferWriterOwner.cs
  UnitTests/UnitTests.HighPerformance.Shared/Buffers/Test_ArrayPoolBufferWriter{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Streams/Test_IBufferWriterStream.cs
  UnitTests/UnitTests.HighPerformance.Shared/Streams/Test_MemoryStream.cs
  UnitTests/UnitTests.HighPerformance.Shared/UnitTests.HighPerformance.Shared.projitems
Labels: .NET Standard, auto merge, feature :bulb:, high-performance 🚂

#3570 Temp - Remove 'native' target for Notifications package to unblock CI
  Microsoft.Toolkit.Uwp.Notifications/Microsoft.Toolkit.Uwp.Notifications.csproj
  Windows Community Toolkit.sln
Labels: bug :bug:

#3548 Performance improvement in Count<T> extension
  Microsoft.Toolkit.HighPerformance/Helpers/Internals/SpanHelper.Count.cs
  Microsoft.Toolkit.HighPerformance/Helpers/Internals/SpanHelper.Hash.cs
Labels: .NET Standard, auto merge, high-performance 🚂, optimization ☄

#3568 Fix Sticky ScrollHeader causing unwanted scrolling with Popups on ListItems
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/StickyHeaderBehavior.cs
Labels: auto merge, bug :bug:, extensions :zap:, in progress :construction:, sample app :iphone:
