Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2021-09, with the labels that each got.

#4203 Refactor RichSuggestBox
  Microsoft.Toolkit.Uwp.UI.Controls.Input/RichSuggestBox/RichSuggestBox.Document.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/RichSuggestBox/RichSuggestBox.Helpers.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/RichSuggestBox/RichSuggestBox.Suggestion.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/RichSuggestBox/RichSuggestBox.cs
Labels: controls :control_knobs:, improvements :sparkles:

#4220 Improving ComboBoxColumn behavior to prevent triple click behavior
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridComboBoxColumn.cs
Labels: bug :bug:, DataGrid :capital_abcd:, auto merge :zap:

#4101 Fix TokenizingTextBox header to behave like normal text control headers
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenizingTextBox.xaml
Labels: bug :bug:, controls :control_knobs:

#4206 fix: Prevent focus reset for DataGridTemplateColumn
  Microsoft.Toolkit.Uwp.SampleApp/Assets/mtns.csv
  Microsoft.Toolkit.Uwp.SampleApp/Data/DataGridDataItem.cs
  Microsoft.Toolkit.Uwp.SampleApp/Data/DataGridDataSource.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/DataGrid/DataGridCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/DataGrid/DataGridPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/DataGrid/DataGridPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/XamlOnlyPage.xaml
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGrid.cs
Labels: bug :bug:, DataGrid :capital_abcd:, auto merge :zap:

#4226 UITests: Remove ref to incorrect version of winui
  UITests/UITests.App/UITests.App.csproj
Labels: testing :building_construction:, CI/pipeline 🔬

#4198 Fix and enable MVVM Toolkit source generator unit tests
  UnitTests/UnitTests.SourceGenerators/Test_SourceGeneratorsDiagnostics.cs
  UnitTests/UnitTests.SourceGenerators/UnitTests.SourceGenerators.csproj
  build/build.cake
Labels: testing :building_construction:, build :fire:, CI/pipeline 🔬, .NET, mvvm-toolkit :toolbox:

#4231 Add C# language version diagnostic
  Microsoft.Toolkit.Mvvm.SourceGenerators/AnalyzerReleases.Unshipped.md
  Microsoft.Toolkit.Mvvm.SourceGenerators/ComponentModel/ObservablePropertyGenerator.cs
  Microsoft.Toolkit.Mvvm.SourceGenerators/ComponentModel/ObservableValidatorValidateAllPropertiesGenerator.cs
  Microsoft.Toolkit.Mvvm.SourceGenerators/ComponentModel/TransitiveMembersGenerator.cs
  Microsoft.Toolkit.Mvvm.SourceGenerators/Diagnostics/DiagnosticDescriptors.cs
  Microsoft.Toolkit.Mvvm.SourceGenerators/Input/ICommandGenerator.cs
  Microsoft.Toolkit.Mvvm.SourceGenerators/Messaging/IMessengerRegisterAllGenerator.cs
  UnitTests/UnitTests.SourceGenerators/Test_SourceGeneratorsDiagnostics.cs
Labels: bug :bug:, .NET, mvvm-toolkit :toolbox:

#4230 Fix #4214 - Update AttachedDropShadow visual on layout/visibility
  Microsoft.Toolkit.Uwp.UI/Shadows/AttachedDropShadow.cs
  Microsoft.Toolkit.Uwp.UI/Shadows/AttachedShadowElementContext.cs
Labels: bug :bug:, extensions :zap:

#4183 Clear ReferenceNode ParamNames before serializing each expression string to avoid collisions
  Microsoft.Toolkit.Uwp.UI.Animations/Expressions/CompositionExtensions.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Expressions/ExpressionNodes/ExpressionNode.cs
Labels: animations :izakaya_lantern:, needs attention :wave:

#4031 RangeSelector: Moving past second handle
  Microsoft.Toolkit.Uwp.UI.Controls.Input/RangeSelector/RangeSelector.Input.Drag.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/RangeSelector/RangeSelector.Input.Pointer.cs
Labels: controls :control_knobs:, sample app :iphone:, feature request :mailbox_with_mail:, priority 🚩

#4243 Added DispatcherQueue dispatching for high contrast theme change
  Microsoft.Toolkit.Uwp.UI/Helpers/ThemeListener.cs
  UnitTests/UnitTests.XamlIslands.UWPApp/XamlIslandsTest_ThemeListener_Threading.cs
Labels: bug :bug:, helpers :raised_hand:, auto merge :zap:

#4242 Fixed [AlsoNotifyChangeFor] attribute definition
  Microsoft.Toolkit.Mvvm/ComponentModel/Attributes/AlsoNotifyChangeForAttribute.cs
  UnitTests/UnitTests.NetCore/Mvvm/Test_ObservablePropertyAttribute.cs
Labels: bug :bug:, auto merge :zap:, .NET, mvvm-toolkit :toolbox:, priority 🚩

#4251 Various 7.1 Clean-up Fixes
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TokenizingTextBox/TokenizingTextBoxPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TokenizingTextBox/TokenizingTextBoxXaml.bind
  Microsoft.Toolkit.Uwp.UI.Behaviors/Microsoft.Toolkit.Uwp.UI.Behaviors.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Core/Microsoft.Toolkit.Uwp.UI.Controls.Core.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Input/Microsoft.Toolkit.Uwp.UI.Controls.Input.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/Microsoft.Toolkit.Uwp.UI.Controls.Primitives.csproj
  Microsoft.Toolkit.Uwp.UI.Media/Microsoft.Toolkit.Uwp.UI.Media.csproj
  Microsoft.Toolkit.Uwp.UI/Microsoft.Toolkit.Uwp.UI.csproj
  Microsoft.Toolkit.Uwp/Microsoft.Toolkit.Uwp.csproj
  Windows Community Toolkit.sln
  build/Windows.Toolkit.Common.targets
Labels: bug :bug:, documentation :page_with_curl:, sample app :iphone:, bugbash :building_construction:, sample bug :bug:, nuget 📦, auto merge :zap:

#4227 Fixed generated properties within regions
  Microsoft.Toolkit.Mvvm.SourceGenerators/ComponentModel/ObservablePropertyGenerator.cs
  UnitTests/UnitTests.NetCore/Mvvm/Test_ICommandAttribute.cs
  UnitTests/UnitTests.NetCore/Mvvm/Test_ObservablePropertyAttribute.cs
Labels: bug :bug:, auto merge :zap:, .NET, mvvm-toolkit :toolbox:, priority 🚩

#4253 Fixed culture sensitivity when parsing AspectRatio components
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/ConstrainedBox/AspectRatio.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/ConstrainedBox/ConstrainedBox.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/ConstrainedBox/ConstrainedBox.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_ConstrainedBox.Alignment.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_ConstrainedBox.AspectRatio.cs
Labels: bug :bug:, controls :control_knobs:, hotfix 🌶, priority 🚩

#4221 Fixed ValidateAllProperties generation for generated properties
  Microsoft.Toolkit.Mvvm.SourceGenerators/ComponentModel/ObservablePropertyGenerator.cs
  Microsoft.Toolkit.Mvvm.SourceGenerators/ComponentModel/ObservableValidatorValidateAllPropertiesGenerator.cs
  UnitTests/UnitTests.NetCore/Mvvm/Test_ObservablePropertyAttribute.cs
Labels: bug :bug:, bugbash :building_construction:, auto merge :zap:, .NET, mvvm-toolkit :toolbox:, priority 🚩

#4255 ListDetailsView unfocus content on SelectedIndex changed.
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/ListDetailsView/ListDetailsView.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_ListDetailsView_UI.cs
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: bug :bug:, controls :control_knobs:, auto merge :zap:

#4249 Upgraded Dismiss button to be legible at 225% text display setting
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/InAppNotification/InAppNotificationXaml.bind
  Microsoft.Toolkit.Uwp.UI.Controls.Core/InAppNotification/Styles/MSEdgeNotificationStyle.xaml
Labels: bug :bug:, controls :control_knobs:, UI issue :goal_net:, accessibility :wheelchair:

#4256 Update to WinUI 2.7
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  SmokeTests/SmokeTest.csproj
  UITests/UITests.Tests.TAEF/UITests.App.dependencies.Debug.txt
  UITests/UITests.Tests.TAEF/UITests.App.dependencies.Release.txt
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
  build/Windows.Toolkit.UWP.Controls.targets
Labels: nuget 📦, WinUI :diamond_shape_with_a_dot_inside:, auto merge :zap:, priority 🚩

#4259 Remove NotificationsVisualizerLibrary from sample app
  Microsoft.Toolkit.Uwp.SampleApp/Assets/NotificationAssets/SampleLiveTiles.gif
  Microsoft.Toolkit.Uwp.SampleApp/Assets/NotificationAssets/SampleToast.gif
  Microsoft.Toolkit.Uwp.SampleApp/Assets/NotificationAssets/WeatherTileLarge.png
  Microsoft.Toolkit.Uwp.SampleApp/Assets/NotificationAssets/WeatherTileMedium.png
  Microsoft.Toolkit.Uwp.SampleApp/Assets/NotificationAssets/WeatherTileSmall.png
  Microsoft.Toolkit.Uwp.SampleApp/Assets/NotificationAssets/WeatherTileWide.png
  Microsoft.Toolkit.Uwp.SampleApp/Assets/NotificationAssets/WeatherToast.png
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/LiveTile/LiveTilePage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/LiveTile/LiveTilePage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Toast/ToastPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Toast/ToastPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/WeatherLiveTileAndToast/WeatherLiveTileAndToastPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/WeatherLiveTileAndToast/WeatherLiveTileAndToastPage.xaml.cs
Labels: sample app :iphone:, nuget 📦, optimization ☄

#4261 Fix samples.json values.
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
Labels: sample app :iphone:

#4260 Update AttachedShadow example and future doc links
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Shadows/AttachedShadowCompositionXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
Labels: documentation :page_with_curl:, sample app :iphone:

#4265 Fixed crashes for shadow animations on unloaded items
  Microsoft.Toolkit.Uwp.UI.Animations/Xaml/Abstract/ShadowAnimation{TValue,TKeyFrame}.cs
Labels: bug :bug:, animations :izakaya_lantern:, hotfix 🌶, priority 🚩

#4267 Modify DispatcherQueueTimer source for XML docs output
  Microsoft.Toolkit.Uwp/Extensions/DispatcherQueueTimerExtensions.cs
Labels: bug :bug:, documentation :page_with_curl:

#4268 Small Sample updates 7.1
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/Properties/AssemblyInfo.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ListDetailsView/ListDetailsView.bind
  Microsoft.Toolkit.Uwp.SampleApp/landingPageLinks.json
Labels: bug :bug:, sample app :iphone:, sample bug :bug:

#4274 Bugfix/implicit animations reset
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Implicit Animations/ImplicitAnimationsPage.xaml.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Implicit.cs
Labels: bug :bug:, animations :izakaya_lantern:, hotfix 🌶, priority 🚩
