Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2021-12, with the labels that each got.

#4403 Remove excessive namespace declarations
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Animations/Behaviors/BlurBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Animations/Behaviors/SaturationBehaviorXaml.bind
Labels: sample app :iphone:

#4413 Converted issue templates to use Forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/win32_controls.md
Labels: documentation :page_with_curl:, feature request :mailbox_with_mail:

#4328 Support AccessibilityView in MetadataControl
  Microsoft.Toolkit.Uwp.UI.Controls.Core/MetadataControl/MetadataControl.xaml
Labels: bug :bug:, controls :control_knobs:, accessibility :wheelchair:, partner ⏹

#4381 Improved opacity support in Radial Gauge
  Microsoft.Toolkit.Uwp.UI.Controls.Input/RadialGauge/RadialGauge.cs
Labels: controls :control_knobs:, improvements :sparkles:

#4392 Fixed broken example code in AnimationBuilder.Create docs
  Microsoft.Toolkit.Uwp.UI.Animations/Builders/AnimationBuilder.cs
Labels: documentation :page_with_curl:, hotfix 🌶
