Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2021-07, with the labels that each got.

#4082 Fix register/unregister issues of WeakReferenceMessenger
  Microsoft.Toolkit.Mvvm/Messaging/WeakReferenceMessenger.cs
  UnitTests/UnitTests.Shared/Mvvm/Test_Messenger.cs
Labels: auto merge :zap:, bug :bug:, needs attention :wave:

#4047 Expose public indexer and length properties on RefEnumerable<T> and ReadOnlyRefEnumerable<T>
  Microsoft.Toolkit.HighPerformance/Enumerables/ReadOnlyRefEnumerable{T}.cs
  Microsoft.Toolkit.HighPerformance/Enumerables/RefEnumerable{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Enumerables/Test_ReadOnlyRefEnumerable{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Enumerables/Test_RefEnumerable{T}.cs
Labels: auto merge :zap:, feature :bulb:, high-performance 🚂

#3222 SmoothScrollIntoView ListView Extension
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/Models/Sample.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ListViewExtensions/ListViewExtensionsCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ListViewExtensions/ListViewExtensionsPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ListViewExtensions/ListViewExtensionsPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ListViewExtensions/ListViewExtensionsXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI/Extensions/ListViewBase/ListViewExtensions.AlternateRows.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/ListViewBase/ListViewExtensions.SmoothScrollIntoView.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/ListViewBase/ListViewExtensions.StretchItemContainer.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/ListViewBase/ScrollItemPlacement.cs
Labels: auto merge :zap:, doc-provided :heavy_check_mark:, extensions :zap:, feature :bulb:, in progress :construction:, needs author feedback :memo:, next preview :airplane:, priority 🚩

#4048 TextBoxMask TextChanging fix for #3279
  Microsoft.Toolkit.Uwp.UI/Extensions/TextBox/TextBoxExtensions.Mask.Internals.cs
  UITests/UITests.Tests.Shared/Controls/TextBoxMaskTest.cs
  UITests/UITests.Tests.Shared/Controls/TextBoxMaskTestPage.xaml
  UITests/UITests.Tests.Shared/Controls/TextBoxMaskTestPage.xaml.cs
Labels: auto merge :zap:, bug :bug:, extensions :zap:

#4090 🧪 Add UI Tests for Gridsplitter
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/GridSplitter/GridSplitter.xaml
  UITests/UITests.App/App.AppService.xaml.cs
  UITests/UITests.App/App.xaml.cs
  UITests/UITests.App/Commands/VisualTreeHelperCommands.cs
  UITests/UITests.App/MainTestHost.xaml.cs
  UITests/UITests.App/Package.appxmanifest
  UITests/UITests.App/Properties/Default.rd.xml
  UITests/UITests.App/TestInterop.cs
  UITests/UITests.App/UITests.App.csproj
  UITests/UITests.Tests.MSTest/UITests.Tests.MSTest.csproj
  UITests/UITests.Tests.Shared/Controls/GridSplitterTest.cs
  UITests/UITests.Tests.Shared/Controls/GridSplitterTestPage.xaml
  UITests/UITests.Tests.Shared/Controls/GridSplitterTestPage.xaml.cs
  UITests/UITests.Tests.Shared/TestAssembly.cs
  UITests/UITests.Tests.Shared/UITests.Tests.Shared.projitems
  UITests/UITests.Tests.Shared/VisualTreeHelper.cs
  UITests/UITests.Tests.TAEF/UITests.Tests.TAEF.csproj
Labels: auto merge :zap:, improvements :sparkles:, testing :building_construction:

#4095 Check style.Ignore if style is not null.
  Microsoft.Toolkit.Uwp.SampleApp/Controls/SampleAppMarkdownRenderer.cs
Labels: auto merge :zap:, bug :bug:, markdown 📑, sample app :iphone:

#4099 Improve FocusBehavior: support list view lazy render. support control x:load
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/FocusBehavior/FocusBehaviorPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/FocusBehavior/FocusBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.UI.Behaviors/Focus/FocusBehavior.cs
Labels: auto merge :zap:, bug :bug:, helpers :raised_hand:, improvements :sparkles:, needs attention :wave:, next preview :airplane:, priority 🚩

#4050 WeakReferenceMessenger automatic cleanup
  Microsoft.Toolkit.Mvvm/Attributes/NotNullWhenAttribute.cs
  Microsoft.Toolkit.Mvvm/ComponentModel/ObservableRecipient.cs
  Microsoft.Toolkit.Mvvm/ComponentModel/ObservableValidator.cs
  Microsoft.Toolkit.Mvvm/Input/AsyncRelayCommand.cs
  Microsoft.Toolkit.Mvvm/Input/AsyncRelayCommand{T}.cs
  Microsoft.Toolkit.Mvvm/Messaging/Internals/ArrayPoolBufferWriter{T}.cs
  Microsoft.Toolkit.Mvvm/Messaging/Internals/ConditionalWeakTable2{TKey,TValue}.cs
  Microsoft.Toolkit.Mvvm/Messaging/Internals/Microsoft.Collections.Extensions/DictionarySlim{TKey,TValue}.cs
  Microsoft.Toolkit.Mvvm/Messaging/Internals/System/Gen2GcCallback.cs
  Microsoft.Toolkit.Mvvm/Messaging/Messages/AsyncCollectionRequestMessage{T}.cs
  Microsoft.Toolkit.Mvvm/Messaging/StrongReferenceMessenger.cs
  Microsoft.Toolkit.Mvvm/Messaging/WeakReferenceMessenger.cs
  UnitTests/UnitTests.Shared/Mvvm/Test_Messenger.cs
Labels: .NET, auto merge :zap:, improvements :sparkles:, mvvm-toolkit :toolbox:, next preview :airplane:, optimization ☄, priority 🚩

#4107 Add custom alpha mask support to DropShadowPanel
  Microsoft.Toolkit.Uwp.UI.Controls.Core/DropShadowPanel/DropShadowPanel.cs
  Microsoft.Toolkit.Uwp.UI/Helpers/IAlphaMaskProvider.cs
Labels: controls :control_knobs:, improvements :sparkles:, needs attention :wave:, next preview :airplane:, priority 🚩

#4092 Update all relevant WinUI 2.5 revs to 2.6
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TileControl/TileControl.bind
  Microsoft.Toolkit.Uwp.SampleApp/Shell.xaml
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenizingTextBoxItem.Token.xaml
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/BladeView/BladeView.xaml
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/Expander/Expander.xaml
  SmokeTests/SmokeTest.csproj
  UITests/UITests.Tests.TAEF/UITests.App.dependencies.Debug.txt
  UITests/UITests.Tests.TAEF/UITests.App.dependencies.Release.txt
  build/Windows.Toolkit.UWP.Controls.targets
Labels: DO NOT MERGE :warning:, WinUI :diamond_shape_with_a_dot_inside:, bug :bug:, in progress :construction:, introduce breaking changes :boom:, next preview :airplane:, priority 🚩, sdkcheck :checkered_flag:

#4131 Update string reliance on WinUI NavigationView
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ListDetailsView/ListDetailsView.bind
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/ListDetailsView/ListDetailsView.cs
Labels: bug :bug:, controls :control_knobs:, improvements :sparkles:, next preview :airplane:, optimization ☄

#4072 Upgrade Cake Build and its dependencies
  .gitattributes
  .runsettings
  azure-pipelines.yml
  build/Find-WindowsSDKVersions.ps1
  build/Install-WindowsSDK.ps1
  build/Install-WindowsSdkISO.ps1
  build/Sign-Package.ps1
  build/StyleXaml.bat
  build/UpdateHeaders.bat
  build/build.cake
  build/build.ps1
  build/tools/packages.config
  nuget.config
  settings.xamlstyler
  stylecop.json
  version.json
Labels: feature request :mailbox_with_mail:, needs attention :wave:

#4145 Added a parameter for configuration(Debug/Release) on the cake build script
  build/build.cake
Labels: CI/pipeline 🔬, auto merge :zap:, build :fire:

#4146 Updated Windows SDK locator script to make it more resilient to x86 vs x64 environments.
  build/Find-WindowsSDKVersions.ps1
Labels: CI/pipeline 🔬, auto merge :zap:, build :fire:

#4132 Updated TabbedCommandBar for WinUI 2.6
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TabbedCommandBar/TabbedCommandBar.bind
  Microsoft.Toolkit.Uwp.UI.Controls.Core/TabbedCommandBar/TabbedCommandBar.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Core/TabbedCommandBar/TabbedCommandBar.xaml
  Microsoft.Toolkit.Uwp.UI.Controls.Core/TabbedCommandBar/TabbedCommandBarItem.xaml
  settings.xamlstyler
Labels: auto merge :zap:, bug :bug:, controls :control_knobs:, next preview :airplane:
