Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2021-08, with the labels that each got.

#4129 Changed SmoothScrollIntoView method to be truly asynchronous
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ListViewExtensions/ListViewExtensionsPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ListViewExtensions/ListViewExtensionsPage.xaml.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/ListViewBase/ListViewExtensions.SmoothScrollIntoView.cs
Labels: auto merge :zap:, bug :bug:, improvements :sparkles:, next preview :airplane:

#4135 Improved nullability annotations in MVVM Toolkit
  Microsoft.Toolkit.Mvvm.SourceGenerators/Attributes/NullabilityAttributesGenerator.cs
  Microsoft.Toolkit.Mvvm.SourceGenerators/EmbeddedResources/INotifyPropertyChanged.cs
  Microsoft.Toolkit.Mvvm.SourceGenerators/Microsoft.Toolkit.Mvvm.SourceGenerators.csproj
  Microsoft.Toolkit.Mvvm/Attributes/NotNullAttribute.cs
  Microsoft.Toolkit.Mvvm/Attributes/NotNullIfNotNullAttribute.cs
  Microsoft.Toolkit.Mvvm/ComponentModel/ObservableObject.cs
  Microsoft.Toolkit.Mvvm/ComponentModel/ObservableRecipient.cs
  Microsoft.Toolkit.Mvvm/ComponentModel/ObservableValidator.cs
Labels: .NET, improvements :sparkles:, mvvm-toolkit :toolbox:, next preview :airplane:

#4151 Forced AnyCPU on builds.
  build/build.cake
Labels: bug :bug:

#4104 Add initial ConstrainedBox control for AspectRatio and Scaling
  Microsoft.Toolkit.Uwp.SampleApp/Assets/Samples/RangeSelector.png
  Microsoft.Toolkit.Uwp.SampleApp/Assets/checker.png
  Microsoft.Toolkit.Uwp.SampleApp/Assets/pixel.png
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Primitives/ConstrainedBox.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Primitives/ConstrainedBox.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/XamlOnlyPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/ConstrainedBox/AspectRatio.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/ConstrainedBox/ConstrainedBox.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/ConstrainedBox/ConstrainedBox.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/SwitchPresenter/SwitchPresenter.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/FrameworkElement/FrameworkElementExtensions.LogicalTree.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_ConstrainedBox.AspectRatio.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_ConstrainedBox.Combined.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_ConstrainedBox.Multiple.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_ConstrainedBox.Scale.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_InfiniteCanvas_Regression.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_ListDetailsView.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_RangeSelector.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_TextToolbar_Localization.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_TokenizingTextBox_General.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_TokenizingTextBox_InterspersedCollection.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_UniformGrid_AutoLayout.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_UniformGrid_Dimensions.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_UniformGrid_FreeSpots.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_UniformGrid_RowColDefinitions.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_WrapPanel_BasicLayout.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_WrapPanel_Visibility.cs
  UnitTests/UnitTests.UWP/UnitTestApp.xaml
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: controls :control_knobs:, feature :bulb:, feature request :mailbox_with_mail:, next preview :airplane:, sample app :iphone:

#4157 Controls.Media update winui version
  Microsoft.Toolkit.Uwp.UI.Controls.Media/Microsoft.Toolkit.Uwp.UI.Controls.Media.csproj
Labels: build :fire:, next preview :airplane:

#4142 Fix warnings in HighPerformance/Mvvm unit tests
  UnitTests/UnitTests.HighPerformance.Shared/Enumerables/Test_ReadOnlyRefEnumerable{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Enumerables/Test_RefEnumerable{T}.cs
  UnitTests/UnitTests.NetCore/Mvvm/Test_ICommandAttribute.cs
  UnitTests/UnitTests.NetCore/Mvvm/Test_INotifyPropertyChangedAttribute.cs
  UnitTests/UnitTests.NetCore/Mvvm/Test_IRecipientGenerator.cs
  UnitTests/UnitTests.NetCore/Mvvm/Test_ObservableObjectAttribute.cs
  UnitTests/UnitTests.NetCore/Mvvm/Test_ObservablePropertyAttribute.cs
  UnitTests/UnitTests.NetCore/Mvvm/Test_ObservableRecipientAttribute.cs
  UnitTests/UnitTests.Shared/Mvvm/Test_Messenger.cs
Labels: CI/pipeline 🔬, maintenance :gear:, priority 🚩

#4156 Add WinUI 2.6 Dependency to UnitTests.UWP App
  UITests/UITests.Tests.MSTest/UITests.Tests.MSTest.csproj
  UnitTests/UnitTests.HighPerformance.NetCore/UnitTests.HighPerformance.NetCore.csproj
  UnitTests/UnitTests.HighPerformance.UWP/UnitTests.HighPerformance.UWP.csproj
  UnitTests/UnitTests.NetCore/UnitTests.NetCore.csproj
  UnitTests/UnitTests.Notifications.NetCore/UnitTests.Notifications.NetCore.csproj
  UnitTests/UnitTests.Notifications.UWP/UnitTests.Notifications.UWP.csproj
  UnitTests/UnitTests.SourceGenerators/UnitTests.SourceGenerators.csproj
  UnitTests/UnitTests.UWP/App.xaml
  UnitTests/UnitTests.UWP/App.xaml.cs
  UnitTests/UnitTests.UWP/UnitTestApp.xaml
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
  UnitTests/UnitTests.XamlIslands.UWPApp/UnitTests.XamlIslands.UWPApp.csproj
Labels: CI/pipeline 🔬, auto merge :zap:, testing :building_construction:

#4138 Fixes DataGrid colors not updating on theme switch
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGrid.xaml
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridRow.cs
Labels: bug :bug:, DataGrid :capital_abcd:, auto merge :zap:

#4112 Generate shorter expression animation strings from ExpressionNode
  Microsoft.Toolkit.Uwp.UI.Animations/Expressions/ExpressionNodes/ExpressionNode.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Microsoft.Toolkit.Uwp.UI.Animations.csproj
  Microsoft.Toolkit.Uwp.UI.Animations/Properties/SkipLocalsInitAttribute.cs
Labels: animations :izakaya_lantern:, improvements :sparkles:, auto merge :zap:, next preview :airplane:

#4170 Fix typo in ConnectionInformation class.
  Microsoft.Toolkit.Uwp.Connectivity/Network/ConnectionInformation.cs
Labels: documentation :page_with_curl:, auto merge :zap:

#4069 Fixup, Format and Update Markdown files
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/win32_controls.md
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  Contributing.md
  License.md
  Microsoft.Toolkit.Uwp.SampleApp/ReadMe.md
  Microsoft.Toolkit.Win32/ReadMe.md
  ReadMe.md
Labels: documentation :page_with_curl:, needs author feedback :memo:, priority 🚩

#3891 Added TokenizingTextBox automation peer
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenizingTextBox.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenizingTextBoxAutomationPeer.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_TokenizingTextBox_AutomationPeer.cs
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: controls :control_knobs:, improvements :sparkles:

#4168 Fixed nullability attributes generation on .NET Standard targets
  Microsoft.Toolkit.Mvvm.SourceGenerators/Attributes/NullabilityAttributesGenerator.cs
  UnitTests/UnitTests.NetCore/Mvvm/Test_INotifyPropertyChangedAttribute.cs
  UnitTests/UnitTests.NetCore/UnitTests.NetCore.csproj
  UnitTests/UnitTests.NetStandard/SampleModelWithINPCAndObservableProperties.cs
  UnitTests/UnitTests.NetStandard/UnitTests.NetStandard.csproj
  Windows Community Toolkit (NET).slnf
  Windows Community Toolkit.sln
Labels: bug :bug:, mvvm-toolkit :toolbox:

#4160 New behavior KeyDownTriggerBehavior
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/KeyDownTriggerBehavior/KeyDownTriggerBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/XamlOnlyPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI.Behaviors/Keyboard/KeyDownTriggerBehavior.cs
Labels: feature :bulb:, behaviors ⚙

#4163 Added support for limiting max tokens in TokenizingTextBox
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TokenizingTextBox/TokenizingTextBoxXaml.bind
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenizingTextBox.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenizingTextBox.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenizingTextBoxItem.AutoSuggestBox.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenizingTextBoxItem.AutoSuggestBox.xaml
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenizingTextBoxItem.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_TokenizingTextBox_General.cs
Labels: bug :bug:, controls :control_knobs:

#4070 Add missing controls to Visual Studio Toolbox
  Microsoft.Toolkit.Uwp.DeveloperTools/VisualStudioToolsManifest.xml
  Microsoft.Toolkit.Uwp.UI.Controls.Core/VisualStudioToolsManifest.xml
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/VisualStudioToolsManifest.xml
  Microsoft.Toolkit.Uwp.UI.Controls.Input/VisualStudioToolsManifest.xml
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/VisualStudioToolsManifest.xml
  Microsoft.Toolkit.Uwp.UI.Controls.Markdown/VisualStudioToolsManifest.xml
  Microsoft.Toolkit.Uwp.UI.Controls.Media/VisualStudioToolsManifest.xml
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/VisualStudioToolsManifest.xml
Labels: bug :bug:, auto merge :zap:, priority 🚩

#4173 Enable item renaming and add tests for ApplicationDataStorageHelper
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/ApplicationDataStorageHelper.CacheFolder.cs
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/ApplicationDataStorageHelper.cs
  Microsoft.Toolkit/Helpers/ObjectStorage/IFileStorageHelper.cs
  UnitTests/UnitTests.UWP/Helpers/Test_ApplicationDataStorageHelper.cs
Labels: helpers :raised_hand:, improvements :sparkles:, auto merge :zap:

#4191 Fix for ConstrainedBox test in high DPI
  UnitTests/UnitTests.UWP/UI/Controls/Test_ConstrainedBox.Infinity.cs
Labels: bug :bug:

#4197 ListDetailsView now uses the Two-Pane View
  Microsoft.Toolkit.Uwp.UI.Controls.Layout.Design/Controls/ListDetailsView.Metadata.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Layout.Design/Controls/ListDetailsView.Typedata.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/ListDetailsView/BackButtonBehavior.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/ListDetailsView/ListDetailsView.BackButton.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/ListDetailsView/ListDetailsView.Events.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/ListDetailsView/ListDetailsView.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/ListDetailsView/ListDetailsView.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/ListDetailsView/ListDetailsView.xaml
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/ListDetailsView/ListDetailsViewState.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_ListDetailsView.cs
Labels: controls :control_knobs:, improvements :sparkles:, next preview :airplane:

#4023 Test IncrementalLoadingCollection itemsPerPage ctor param
  UnitTests/UnitTests.UWP/UI/Collection/Test_IncrementalLoadingCollection.cs
Labels: testing :building_construction:, for-review :book:

#4134 Color picker fixes
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ColorPicker/ColorPickerButtonXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ColorPicker/ColorPickerXaml.bind
  Microsoft.Toolkit.Uwp.UI.Controls.Input/ColorPicker/ColorPicker.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/ColorPicker/ColorPicker.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/ColorPicker/ColorPicker.xaml
  Microsoft.Toolkit.Uwp.UI.Controls.Input/ColorPicker/ColorPickerSlider.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/ColorPicker/ColorPickerSlider.xaml
Labels: bug :bug:, controls :control_knobs:, auto merge :zap:, next preview :airplane:
