Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2021-01, with the labels that each got.

#3648 Type property is now optional for Samples
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/Models/Sample.cs
  Microsoft.Toolkit.Uwp.SampleApp/Pages/SampleController.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Triggers/CompareStateTriggerPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Triggers/CompareStateTriggerPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Triggers/IsEqualStateTriggerPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Triggers/IsEqualStateTriggerPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Triggers/IsNotEqualStateTriggerPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Triggers/IsNullOrEmptyStateTriggerPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Triggers/NetworkConnectionStateTriggerPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Triggers/NetworkConnectionStateTriggerPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Triggers/RegexStateTriggerPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Triggers/RegexStateTriggerPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Triggers/UserHandPreferenceStateTriggerPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Triggers/UserHandPreferenceStateTriggerPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Triggers/UserInteractionModeStateTriggerPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Triggers/UserInteractionModeStateTriggerPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/XamlOnlyPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/XamlOnlyPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
Labels: auto merge :zap:, in progress :construction:, sample app :iphone:

#3637 Replace JsonSerializer with DataContractJsonSerializer in Microsoft.Toolkit.Uwp.
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.UI.Controls/Microsoft.Toolkit.Uwp.UI.Controls.csproj
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/BaseObjectStorageHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/JsonObjectSerializer.cs
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/LocalObjectStorageHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/RoamingObjectStorageHelper.cs
  Microsoft.Toolkit.Uwp/Microsoft.Toolkit.Uwp.csproj
  Microsoft.Toolkit.Uwp/Properties/Microsoft.Toolkit.Uwp.rd.xml
  UnitTests/UnitTests.UWP/Helpers/Test_StorageHelper.cs
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: auto merge :zap:, for-review :book:, improvements :sparkles:, introduce breaking changes :boom:, reviewers wanted :raised_hand:

#3652 fix: Invalid InAppNotification.KeyFrameDuration default value data type
  Microsoft.Toolkit.Uwp.UI.Controls/InAppNotification/InAppNotification.AttachedProperties.cs
Labels: auto merge :zap:, bug :bug:, controls :control_knobs:, in progress :construction:, maintenance :gear:, reviewers wanted :raised_hand:

#3658 Fix SmokeTest Projects to Use Version from CI
  SmokeTests/SmokeTest.csproj
  SmokeTests/SmokeTest.sln
  SmokeTests/SmokeTests.proj
  build/build.cake
Labels: CI/pipeline 🔬, auto merge :zap:, bug :bug:, build :fire:, in progress :construction:, maintenance :gear:, nuget 📦

#3659 Fix spacing in csproj
  Microsoft.Toolkit.Uwp.UI.Controls/Microsoft.Toolkit.Uwp.UI.Controls.csproj
Labels: auto merge :zap:, needs attention :wave:

#3651 Uno Platform Compatibility updates
  Microsoft.Toolkit.Uwp.Connectivity/Microsoft.Toolkit.Uwp.Connectivity.csproj
  Microsoft.Toolkit.Uwp.DeveloperTools/AlignmentGrid/AlignmentGrid.cs
  Microsoft.Toolkit.Uwp.DeveloperTools/FocusTracker/FocusTracker.cs
  Microsoft.Toolkit.Uwp.DeveloperTools/Microsoft.Toolkit.Uwp.DeveloperTools.csproj
  Microsoft.Toolkit.Uwp.UI.Animations/CompositionAnimations/Animations/AnimationBase.cs
  Microsoft.Toolkit.Uwp.UI.Animations/CompositionAnimations/KeyFrames/KeyFrame.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationTools.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Microsoft.Toolkit.Uwp.UI.Animations.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/Microsoft.Toolkit.Uwp.UI.Controls.DataGrid.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/Microsoft.Toolkit.Uwp.UI.Controls.Layout.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Markdown/Microsoft.Toolkit.Uwp.UI.Controls.Markdown.csproj
  Microsoft.Toolkit.Uwp.UI.Controls/Carousel/Carousel.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Carousel/CarouselItem.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Carousel/CarouselPanel.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ColorPicker/ColorPickerButton.cs
  Microsoft.Toolkit.Uwp.UI.Controls/HeaderedContentControl/HeaderedContentControl.cs
  Microsoft.Toolkit.Uwp.UI.Controls/HeaderedItemsControl/HeaderedItemsControl.cs
  Microsoft.Toolkit.Uwp.UI.Controls/LayoutTransformControl/PropertyChangeEventSource.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Microsoft.Toolkit.Uwp.UI.Controls.csproj
  Microsoft.Toolkit.Uwp.UI.Controls/OrbitView/OrbitView.cs
  Microsoft.Toolkit.Uwp.UI.Controls/OrbitView/OrbitViewDataItem.cs
  Microsoft.Toolkit.Uwp.UI.Controls/OrbitView/OrbitViewItem.cs
  Microsoft.Toolkit.Uwp.UI.Controls/RadialProgressBar/RadialProgressBar.cs
  Microsoft.Toolkit.Uwp.UI.Controls/RemoteDevicePicker/RemoteDevicePicker.cs
  Microsoft.Toolkit.Uwp.UI.Controls/RotatorTile/RotatorTile.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ScrollHeader/ScrollHeader.cs
  Microsoft.Toolkit.Uwp.UI.Controls/SwitchPresenter/Case.cs
  Microsoft.Toolkit.Uwp.UI.Controls/SwitchPresenter/SwitchPresenter.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TextToolbar/Symbols/List.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TextToolbar/Symbols/NumberedList.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TextToolbar/Symbols/Symbol.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TextToolbar/ToolbarItems/DefaultButton.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TextToolbar/ToolbarItems/ToolbarButton.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TextToolbar/ToolbarItems/ToolbarSeparator.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TokenizingTextBox/PretokenStringContainer.cs
  Microsoft.Toolkit.Uwp.UI/Behaviors/FocusBehavior.cs
  Microsoft.Toolkit.Uwp.UI/Converters/BoolToObjectConverter.cs
  Microsoft.Toolkit.Uwp.UI/Converters/DoubleToObjectConverter.cs
  Microsoft.Toolkit.Uwp.UI/Converters/EmptyObjectToObjectConverter.cs
  Microsoft.Toolkit.Uwp.UI/Converters/TypeToObjectConverter.cs
  Microsoft.Toolkit.Uwp.UI/Helpers/BindableValueHolder.cs
  Microsoft.Toolkit.Uwp.UI/Microsoft.Toolkit.Uwp.UI.csproj
  Microsoft.Toolkit.Uwp/Microsoft.Toolkit.Uwp.csproj
Labels: auto merge :zap:, build :fire:

#3666 Remove MyGet Package Source and Update with Azure Source
  nuget.config
Labels: auto merge :zap:

#3653 refactor: Adjust DataGrid Debug.Assert for Uno Platform compatibility
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/CollectionViews/ListCollectionView.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/Automation/DataGridAutomationPeer.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/Automation/DataGridGroupItemAutomationPeer.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGrid.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridCell.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridCellsPresenter.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridColumn.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridColumnHeader.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridColumnHeadersPresenter.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridColumns.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridDataConnection.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridDisplayData.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridFillerColumn.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridRow.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridRowGroupHeader.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridRowHeader.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridRows.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridRowsPresenter.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGridSelectedItemsCollection.cs
Labels: auto merge :zap:, in progress :construction:, maintenance :gear:

#3632 Loop codegen improvements
  Microsoft.Toolkit.HighPerformance/Helpers/ParallelHelper.ForEach.IInAction.cs
  Microsoft.Toolkit.HighPerformance/Helpers/ParallelHelper.ForEach.IInAction2D.cs
  Microsoft.Toolkit.HighPerformance/Helpers/ParallelHelper.ForEach.IRefAction.cs
  Microsoft.Toolkit.HighPerformance/Helpers/ParallelHelper.ForEach.IRefAction2D.cs
  Microsoft.Toolkit.HighPerformance/Memory/ReadOnlySpan2D{T}.cs
  Microsoft.Toolkit.HighPerformance/Memory/Span2D{T}.cs
Labels: auto merge :zap:, high-performance 🚂, in progress :construction:, optimization ☄

#3675 Fixes #3673 and resolves issues with some samples not working correctly
  Microsoft.Toolkit.Uwp.SampleApp/Pages/SampleController.xaml.cs
Labels: auto merge :zap:, bug :bug:, sample app :iphone:, sample bug :bug:

#3677 Update nuget.config for best practices
  nuget.config
Labels: auto merge :zap:, improvements :sparkles:, in progress :construction:, maintenance :gear:

#3483 Add lazy loading threshold for ImageEx control
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ImageEx/ImageExLazyLoadingControl.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageEx.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageExBase.Members.cs
  Microsoft.Toolkit.Uwp.UI.Controls/ImageEx/ImageExBase.cs
  Microsoft.Toolkit.Uwp/Extensions/RectExtensions.cs
  UnitTests/UnitTests.UWP/Extensions/Test_RectExtensions.cs
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: auto merge :zap:, bug :bug:, doc-provided :heavy_check_mark:

#3567 Win32 scheduled notification and Setting fixes
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/Win32AppInfo.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/ToastNotificationHistoryCompat.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/ToastNotificationManagerCompat.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/ToastNotifierCompat.cs
  Microsoft.Toolkit.Win32.WpfCore.SampleApp/MainWindow.xaml
  Microsoft.Toolkit.Win32.WpfCore.SampleApp/MainWindow.xaml.cs
  Microsoft.Toolkit.Win32.WpfCore.SampleApp/Microsoft.Toolkit.Win32.WpfCore.SampleApp.csproj
Labels: auto merge :zap:, bug :bug:, in progress :construction:, notifications :bell:

#3622 .NET 5 support for Notifications package
  Directory.Build.targets
  Microsoft.Toolkit.Uwp.Notifications/Microsoft.Toolkit.Uwp.Notifications.csproj
  Microsoft.Toolkit.Uwp.Notifications/Microsoft.Toolkit.Uwp.Notifications.nuspec
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/DesktopBridgeHelpers.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/DesktopNotificationManagerCompat.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/Native/NativeMethods.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/Win32AppInfo.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/ToastNotificationManagerCompat.cs
  global.json
Labels: bug :bug:, improvements :sparkles:, introduce breaking changes :boom:, notifications :bell:

#3573 Guard overloads for nint/nuint, codegen improvements
  Microsoft.Toolkit/Diagnostics/Generated/Guard.Comparable.Numeric.g.cs
  Microsoft.Toolkit/Diagnostics/Generated/Guard.Comparable.Numeric.tt
  Microsoft.Toolkit/Diagnostics/Generated/ThrowHelper.Collection.g.cs
  Microsoft.Toolkit/Diagnostics/Generated/ThrowHelper.Collection.tt
  Microsoft.Toolkit/Diagnostics/Generated/TypeInfo.ttinclude
  Microsoft.Toolkit/Diagnostics/Guard.Comparable.Numeric.cs
  Microsoft.Toolkit/Diagnostics/Internals/Guard.Collection.Generic.ThrowHelper.cs
  Microsoft.Toolkit/Diagnostics/Internals/Guard.Comparable.Generic.ThrowHelper.cs
  Microsoft.Toolkit/Diagnostics/Internals/Guard.Comparable.Numeric.ThrowHelper.cs
  Microsoft.Toolkit/Diagnostics/Internals/Guard.IO.ThrowHelper.cs
  Microsoft.Toolkit/Diagnostics/Internals/Guard.String.ThrowHelper.cs
  Microsoft.Toolkit/Diagnostics/Internals/Guard.Tasks.ThrowHelper.cs
  Microsoft.Toolkit/Diagnostics/Internals/Guard.ThrowHelper.cs
  Microsoft.Toolkit/Diagnostics/Internals/ThrowHelper.Guard.Collection.Generic.cs
  Microsoft.Toolkit/Diagnostics/Internals/ThrowHelper.Guard.Comparable.Generic.cs
  Microsoft.Toolkit/Diagnostics/Internals/ThrowHelper.Guard.Comparable.Numeric.cs
  Microsoft.Toolkit/Diagnostics/Internals/ThrowHelper.Guard.IO.cs
  Microsoft.Toolkit/Diagnostics/Internals/ThrowHelper.Guard.String.cs
  Microsoft.Toolkit/Diagnostics/Internals/ThrowHelper.Guard.Tasks.cs
  Microsoft.Toolkit/Diagnostics/Internals/ThrowHelper.Guard.cs
  UnitTests/UnitTests.Shared/Diagnostics/Test_Guard.Comparable.Numeric.cs
Labels: .NET Standard, auto merge :zap:, feature :bulb:, in progress :construction:, optimization ☄

#3702 SystemSerializer update for BaseObjectStorageHelper
  GazeInputTest/GazeInputTest.csproj
  Microsoft.Toolkit.Uwp.SampleApp/Controls/SampleAppMarkdownRenderer.cs
  Microsoft.Toolkit.Uwp.SampleApp/Models/Sample.cs
  Microsoft.Toolkit.Uwp.SampleApp/Models/Samples.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Object Storage/ObjectStoragePage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Object Storage/ObjectStoragePage.xaml.cs
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/BaseObjectStorageHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/IObjectSerializer.cs
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/JsonObjectSerializer.cs
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/LocalObjectStorageHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/RoamingObjectStorageHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/SystemSerializer.cs
  Microsoft.Toolkit.Uwp/Helpers/SystemInformation.cs
  UnitTests/UnitTests.UWP/Helpers/JsonObjectSerializer.cs
  UnitTests/UnitTests.UWP/Helpers/SystemTextJsonSerializer.cs
  UnitTests/UnitTests.UWP/Helpers/Test_StorageHelper.cs
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: auto merge :zap:, helpers :raised_hand:, in progress :construction:, introduce breaking changes :boom:, optimization ☄
