Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2021-02, with the labels that each got.

#3503 Added the Win2d Path Geometry parser.
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CanvasPathGeometry/CanvasPathGeometry.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CanvasPathGeometry/CanvasPathGeometryPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CanvasPathGeometry/CanvasPathGeometryPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CanvasPathGeometry/GeometryStreamReader.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/CanvasDrawingSessionExtensions.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/CanvasPathBuilderExtensions.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/CanvasPathGeometry.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/CanvasStroke.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/CompositorGeometryExtensions.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Core/CanvasRoundRect.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Core/GeometryTypeDefinitions.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Core/PathElementFactory.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Core/RegexFactory.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/CultureShield.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Brush/AbstractCanvasBrushElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Brush/ICanvasBrushElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Brush/LinearGradientBrushElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Brush/LinearGradientHdrBrushElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Brush/RadialGradientBrushElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Brush/RadialGradientHdrBrushElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Brush/SolidColorBrushElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/AbstractPathElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/ArcElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/CanvasEllipseFigure.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/CanvasPathFigure.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/CanvasPolygonFigure.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/CanvasRectangleFigure.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/CanvasRoundRectangleFigure.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/ClosePathElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/CubicBezierElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/FillRuleElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/HorizontalLineElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/ICanvasPathElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/LineElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/MoveToElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/QuadraticBezierElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/SmoothCubicBezierElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/SmoothQuadraticBezierElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Path/VerticalLineElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Stroke/AbstractCanvasStrokeElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Stroke/CanvasStrokeElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Stroke/CanvasStrokeStyleElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Stroke/ICanvasStrokeElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Elements/Stroke/ICanvasStrokeStyleElement.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/ICanvasStroke.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Parsers/CanvasBrushParser.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Parsers/CanvasGeometryParser.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Parsers/CanvasStrokeParser.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Parsers/CanvasStrokeStyleParser.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Parsers/ColorParser.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Scalar.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Utils.cs
  Microsoft.Toolkit.Uwp.UI.Media/Microsoft.Toolkit.Uwp.UI.Media.csproj
  UITests/UITests.App/UITests.App.csproj
  UnitTests/UnitTests.UWP/Geometry/Test_CanvasPathGeometry.cs
  UnitTests/UnitTests.UWP/Geometry/Test_RegexFactory.cs
  UnitTests/UnitTests.UWP/Geometry/Test_Utils.cs
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: doc-InDraft :hourglass_flowing_sand:, feature :bulb:

#3703 Support for UWP .NET Native even if devs modified their Default.rd.xml
  Microsoft.Toolkit.Uwp.Notifications/Microsoft.Toolkit.Uwp.Notifications.csproj
  Microsoft.Toolkit.Uwp.Notifications/Properties/Microsoft.Toolkit.Uwp.Notifications.rd.xml
Labels: auto merge :zap:, bug :bug:

#3687 Simplified namespaces in HighPerformance package
  Microsoft.Toolkit.HighPerformance/Extensions/ArrayExtensions.2D.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ArrayExtensions.3D.cs
  Microsoft.Toolkit.HighPerformance/Extensions/BoolExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/MemoryExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ReadOnlyMemoryExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ReadOnlySpanExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/SpanExtensions.cs
  Microsoft.Toolkit.HighPerformance/Helpers/BitHelper.cs
  Microsoft.Toolkit.HighPerformance/Helpers/ParallelHelper.ForEach.IInAction2D.cs
  Microsoft.Toolkit.HighPerformance/Helpers/ParallelHelper.ForEach.IRefAction2D.cs
  Microsoft.Toolkit.HighPerformance/Memory/Memory2D{T}.cs
  Microsoft.Toolkit.HighPerformance/Memory/ReadOnlyMemory2D{T}.cs
  Microsoft.Toolkit.HighPerformance/Memory/ReadOnlySpan2D{T}.Enumerator.cs
  Microsoft.Toolkit.HighPerformance/Memory/ReadOnlySpan2D{T}.cs
  Microsoft.Toolkit.HighPerformance/Memory/Span2D{T}.Enumerator.cs
  Microsoft.Toolkit.HighPerformance/Memory/Span2D{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Extensions/Test_ArrayExtensions.2D.cs
  UnitTests/UnitTests.HighPerformance.Shared/Helpers/Test_ParallelHelper.ForEach.In2D.cs
  UnitTests/UnitTests.HighPerformance.Shared/Helpers/Test_ParallelHelper.ForEach.Ref2D.cs
  UnitTests/UnitTests.HighPerformance.Shared/Memory/Test_Memory2D{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Memory/Test_ReadOnlyMemory2D{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Memory/Test_ReadOnlySpan2D{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Memory/Test_Span2D{T}.cs
Labels: .NET Standard, auto merge :zap:, high-performance 🚂, improvements :sparkles:, in progress :construction:, optimization ☄

#3647 [Bug fix] Inverted horizontalChange when in RTL FlowDirection
  Microsoft.Toolkit.Uwp.UI.Controls/GridSplitter/GridSplitter.Events.cs
Labels: auto merge :zap:, bug :bug:, controls :control_knobs:, in progress :construction:

#3740 Smaple.cs LookForTypeByName(string) add assmbiles to search for types.
  Microsoft.Toolkit.Uwp.SampleApp/Models/Sample.cs
Labels: auto merge :zap:, bug :bug:, in progress :construction:, sample app :iphone:

#3715 Move DispatcherQueueTimerExtensions to Microsoft.Toolkit.Uwp
  Microsoft.Toolkit.Uwp.UI.Controls/RangeSelector/RangeSelector.cs
  Microsoft.Toolkit.Uwp/Extensions/DispatcherQueueTimerExtensions.cs
Labels: auto merge :zap:, extensions :zap:, in progress :construction:, introduce breaking changes :boom:, maintenance :gear:, next preview :airplane:

#3694 Snooze/dismiss support in toast button builders
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Builder/ToastContentBuilder.Actions.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/ToastButton.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Toast/ToastCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Toast/ToastPage.xaml.cs
  UnitTests/UnitTests.Notifications.Shared/TestToastContentBuilder.cs
  UnitTests/UnitTests.Notifications.Shared/Test_Toast_Xml.cs
Labels: auto merge :zap:, improvements :sparkles:, next preview :airplane:, notifications :bell:

#3734 Minor API tweaks to the Animations package
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Blur.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/CompositionBehaviorBase.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/CompositionBehaviorBase.nongeneric.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Fade.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Light.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Offset.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Rotate.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Saturation.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Behaviors/Scale.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Effects/AnimationEffect.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Effects/Blur.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Effects/Saturation.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Microsoft.Toolkit.Uwp.UI.Animations.csproj
  Microsoft.Toolkit.Uwp.UI.Animations/Xaml/AnimationSet.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Xaml/Interfaces/IActivity.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Xaml/Interfaces/ITimeline.cs
  Microsoft.Toolkit.Uwp.UI.Behaviors/Animations/AnimationCompletedTriggerBehavior.cs
  Microsoft.Toolkit.Uwp.UI.Behaviors/Animations/AnimationStartedTriggerBehavior.cs
Labels: auto merge :zap:, improvements :sparkles:, in progress :construction:, next preview :airplane:

#3748 Fix smaple: using new namesapce for DispatcherQueueTimerExtensions
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CanvasPathGeometry/CanvasPathGeometryPage.xaml.cs
Labels: bug :bug:

#3556 [Feature] Add TabbedCommandBar (ribbon) control
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TabbedCommandBar/TabbedCommandBar.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TabbedCommandBar/TabbedCommandBar.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/XamlOnlyPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI.Controls.Design/Controls/TabbedCommandBar.Metadata.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Design/Controls/TabbedCommandBar.Typedata.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Design/Controls/TabbedCommandBarItem.Metadata.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Design/Controls/TabbedCommandBarItem.Typedata.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Design/Microsoft.Toolkit.Uwp.UI.Controls.DesignTools.csproj
  Microsoft.Toolkit.Uwp.UI.Controls/Microsoft.Toolkit.Uwp.UI.Controls.csproj
  Microsoft.Toolkit.Uwp.UI.Controls/TabbedCommandBar/TabbedCommandBar.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TabbedCommandBar/TabbedCommandBar.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/TabbedCommandBar/TabbedCommandBarItem.cs
  Microsoft.Toolkit.Uwp.UI.Controls/TabbedCommandBar/TabbedCommandBarItem.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/TabbedCommandBar/TabbedCommandBarItemTemplateSelector.cs
  Microsoft.Toolkit.Uwp.UI.Controls/Themes/Generic.xaml
  Microsoft.Toolkit.Uwp.UI.Controls/VisualStudioToolsManifest.xml
Labels: auto merge :zap:, controls :control_knobs:, feature :bulb:, feature request :mailbox_with_mail:, in progress :construction:, needs attention :wave:, next preview :airplane:, reviewers wanted :raised_hand:

#3689 Aggregate packages
  Microsoft.Toolkit.Uwp.UI.Controls/Microsoft.Toolkit.Uwp.UI.Controls.csproj
  SmokeTests/Microsoft.Toolkit.Uwp.UI.Controls/MainPage.xaml
  SmokeTests/Microsoft.Toolkit.Uwp.UI.Controls/MainPage.xaml.cs
  SmokeTests/SmokeTest.csproj
  SmokeTests/SmokeTests.proj
  Windows Community Toolkit.sln
Labels: auto merge :zap:, build :fire:, controls :control_knobs:, for-review :book:, functional testing required :pushpin:, next preview :airplane:, reviewers wanted :raised_hand:

#3645 [ReadOnly]RefEnumerable<T>.DangerousCreate static constructors
  .editorconfig
  Microsoft.Toolkit.HighPerformance/Buffers/MemoryOwner{T}.cs
  Microsoft.Toolkit.HighPerformance/Buffers/SpanOwner{T}.cs
  Microsoft.Toolkit.HighPerformance/Buffers/StringPool.cs
  Microsoft.Toolkit.HighPerformance/Enumerables/ReadOnlyRefEnumerable{T}.cs
  Microsoft.Toolkit.HighPerformance/Enumerables/RefEnumerable{T}.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ArrayExtensions.1D.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ArrayExtensions.2D.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ArrayExtensions.3D.cs
  Microsoft.Toolkit.HighPerformance/Extensions/MemoryExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ReadOnlyMemoryExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ReadOnlySpanExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/SpanExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/SpinLockExtensions.cs
  Microsoft.Toolkit.HighPerformance/Extensions/StringExtensions.cs
  Microsoft.Toolkit.HighPerformance/Memory/Memory2D{T}.cs
  Microsoft.Toolkit.HighPerformance/Memory/ReadOnlyMemory2D{T}.cs
  Microsoft.Toolkit.HighPerformance/Memory/ReadOnlySpan2D{T}.Enumerator.cs
  Microsoft.Toolkit.HighPerformance/Memory/ReadOnlySpan2D{T}.cs
  Microsoft.Toolkit.HighPerformance/Memory/Span2D{T}.Enumerator.cs
  Microsoft.Toolkit.HighPerformance/Memory/Span2D{T}.cs
  Microsoft.Toolkit.HighPerformance/NullableReadOnlyRef{T}.cs
  Microsoft.Toolkit.HighPerformance/NullableRef{T}.cs
  Microsoft.Toolkit.HighPerformance/ReadOnlyRef{T}.cs
  Microsoft.Toolkit.HighPerformance/Streams/Sources/ArrayOwner.cs
  UnitTests/UnitTests.HighPerformance.Shared/Enumerables/Test_ReadOnlyRefEnumerable{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Enumerables/Test_RefEnumerable{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/UnitTests.HighPerformance.Shared.projitems
Labels: auto merge :zap:, feature :bulb:, high-performance 🚂, in progress :construction:, next preview :airplane:

#3562 [Feature] Microsoft.Toolkit.Mvvm package (Preview 5)
  Microsoft.Toolkit.Mvvm/ComponentModel/ObservableObject.cs
  Microsoft.Toolkit.Mvvm/ComponentModel/ObservableRecipient.cs
  Microsoft.Toolkit.Mvvm/ComponentModel/ObservableValidator.cs
  Microsoft.Toolkit.Mvvm/DependencyInjection/Ioc.cs
  Microsoft.Toolkit.Mvvm/Input/AsyncRelayCommand.cs
  Microsoft.Toolkit.Mvvm/Input/AsyncRelayCommand{T}.cs
  Microsoft.Toolkit.Mvvm/Input/Interfaces/IAsyncRelayCommand{T}.cs
  Microsoft.Toolkit.Mvvm/Input/Interfaces/IRelayCommand{T}.cs
  Microsoft.Toolkit.Mvvm/Input/RelayCommand{T}.cs
  Microsoft.Toolkit.Mvvm/Messaging/IMessengerExtensions.cs
  Microsoft.Toolkit.Mvvm/Messaging/Internals/Microsoft.Collections.Extensions/DictionarySlim{TKey,TValue}.cs
  Microsoft.Toolkit.Mvvm/Messaging/Messages/AsyncCollectionRequestMessage{T}.cs
  Microsoft.Toolkit.Mvvm/Messaging/Messages/CollectionRequestMessage{T}.cs
  Microsoft.Toolkit.Mvvm/Messaging/StrongReferenceMessenger.cs
  Microsoft.Toolkit.Mvvm/Messaging/WeakReferenceMessenger.cs
  Microsoft.Toolkit.Mvvm/Microsoft.Toolkit.Mvvm.csproj
  UnitTests/UnitTests.NetCore/UnitTests.NetCore.csproj
  UnitTests/UnitTests.Shared/Mvvm/Test_AsyncRelayCommand{T}.cs
  UnitTests/UnitTests.Shared/Mvvm/Test_ObservableValidator.cs
  UnitTests/UnitTests.Shared/Mvvm/Test_RelayCommand{T}.cs
Labels: .NET Standard, auto merge :zap:, feature :bulb:, improvements :sparkles:, in progress :construction:, mvvm-toolkit :toolbox:, next preview :airplane:, optimization ☄

#3746 Setup Unit Test Infrastructure for VisualTree related tests
  Microsoft.Toolkit.Uwp.UI/Extensions/Tree/LogicalTree.cs
  Microsoft.Toolkit.Uwp.UI/Helpers/CompositionTargetHelper.cs
  UnitTests/UnitTests.UWP/Extensions/Test_LogicalTreeExtensions.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_TextToolbar_Localization.cs
  UnitTests/UnitTests.UWP/UnitTestApp.xaml.cs
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
  UnitTests/UnitTests.UWP/VisualUITestBase.cs
Labels: auto merge :zap:, improvements :sparkles:, next preview :airplane:, testing :building_construction:

#3754 Update sample.json
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
Labels: auto merge :zap:, documentation :page_with_curl:, for-review :book:, sample app :iphone:

#3755 Fix ToastContentBuilder audio ms-winsoundevent and ms-appx
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Builder/ToastContentBuilder.cs
  UnitTests/UnitTests.Notifications.Shared/TestToastContentBuilder.cs
Labels: auto merge :zap:, bug :bug:, notifications :bell:

#3760 Refactor ObjectExtensions -> ObjectMarshal
  Microsoft.Toolkit.HighPerformance/Buffers/Internals/RawObjectMemoryManager{T}.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ArrayExtensions.1D.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ArrayExtensions.2D.cs
  Microsoft.Toolkit.HighPerformance/Extensions/ArrayExtensions.3D.cs
  Microsoft.Toolkit.HighPerformance/Extensions/BoolExtensions.cs
  Microsoft.Toolkit.HighPerformance/Helpers/Internals/RuntimeHelpers.cs
  Microsoft.Toolkit.HighPerformance/Helpers/ObjectMarshal.cs
  Microsoft.Toolkit.HighPerformance/Memory/Memory2D{T}.cs
  Microsoft.Toolkit.HighPerformance/Memory/ReadOnlyMemory2D{T}.cs
  Microsoft.Toolkit.HighPerformance/Memory/ReadOnlySpan2D{T}.cs
  Microsoft.Toolkit.HighPerformance/Memory/Span2D{T}.cs
  Microsoft.Toolkit.HighPerformance/ReadOnlyRef{T}.cs
  Microsoft.Toolkit.HighPerformance/Ref{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Helpers/Test_ObjectMarshal.cs
  UnitTests/UnitTests.HighPerformance.Shared/UnitTests.HighPerformance.Shared.projitems
Labels: .NET Standard, auto merge :zap:, high-performance 🚂, improvements :sparkles:, in progress :construction:, introduce breaking changes :boom:, next preview :airplane:

#3736 Remove Custom Cache in ImageEx to evaluate binary impact size
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ImageEx/ImageExLazyLoadingControl.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ImageEx/ImageExPage.xaml.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Core/ImageEx/CachingStrategy.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Core/ImageEx/ImageEx.Members.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Core/ImageEx/ImageExBase.Members.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Core/ImageEx/ImageExBase.Source.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Core/ImageEx/ImageExBase.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Core/Microsoft.Toolkit.Uwp.UI.Controls.Core.csproj
Labels: auto merge :zap:, bug :bug:, next preview :airplane:

#3758 Upgrade to WinUI 2.5 and other Dependencies - Deprecate RadialProgressBar
  GazeInputTest/GazeInputTest.csproj
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.Samples.BackgroundTasks/Microsoft.Toolkit.Uwp.Samples.BackgroundTasks.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Core/RadialProgressBar/RadialProgressBar.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/Microsoft.Toolkit.Uwp.UI.Controls.Primitives.csproj
  UITests/UITests.App/UITests.App.csproj
  UITests/UITests.Tests.TAEF/UITests.App.dependencies.Debug.txt
  UITests/UITests.Tests.TAEF/UITests.App.dependencies.Release.txt
  UnitTests/UnitTests.HighPerformance.NetCore/UnitTests.HighPerformance.NetCore.csproj
  UnitTests/UnitTests.HighPerformance.UWP/UnitTests.HighPerformance.UWP.csproj
  UnitTests/UnitTests.NetCore/UnitTests.NetCore.csproj
  UnitTests/UnitTests.Notifications.NetCore/UnitTests.Notifications.NetCore.csproj
  UnitTests/UnitTests.Notifications.UWP/UnitTests.Notifications.UWP.csproj
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
  UnitTests/UnitTests.XamlIslands.UWPApp/UnitTests.XamlIslands.UWPApp.csproj
Labels: auto merge :zap:, maintenance :gear:, next preview :airplane:

#3723 Update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: auto merge :zap:, documentation :page_with_curl:

#3769 #3070 Stretch the content of the expander header
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/Expander/Expander.xaml
Labels: auto merge :zap:, bug :bug:, next preview :airplane:

#3762 Move Deferred helpers to Microsoft.Toolkit
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenItemAddingEventArgs.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenItemRemovingEventArgs.cs
  Microsoft.Toolkit.Uwp/Extensions/TypedEventHandlerExtensions.cs
  Microsoft.Toolkit/Deferred/DeferredCancelEventArgs.cs
  Microsoft.Toolkit/Deferred/DeferredEventArgs.cs
  Microsoft.Toolkit/Deferred/EventDeferral.cs
  Microsoft.Toolkit/Extensions/EventHandlerExtensions.cs
  ThirdPartyNotices.txt
  UnitTests/UnitTests.Shared/Extensions/Test_EventHandlerExtensions.cs
  UnitTests/UnitTests.Shared/UnitTests.Shared.projitems
Labels: .NET Standard, auto merge :zap:, extensions :zap:, introduce breaking changes :boom:, next preview :airplane:

#3764 Bug fixes to ObservableValidator
  Microsoft.Toolkit.Mvvm/ComponentModel/ObservableValidator.cs
  UnitTests/UnitTests.Shared/Mvvm/Test_ObservableValidator.cs
Labels: .NET Standard, auto merge :zap:, bug :bug:, bugbash :building_construction:, in progress :construction:, mvvm-toolkit :toolbox:, next preview :airplane:

#3778 Update InAppNotification style to match WinUI InfoBar
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/InAppNotification/InAppNotificationCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/InAppNotification/InAppNotificationPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/InAppNotification/InAppNotificationXaml.bind
  Microsoft.Toolkit.Uwp.UI.Controls.Core/InAppNotification/InAppNotification.xaml
  Microsoft.Toolkit.Uwp.UI.Controls.Core/InAppNotification/Styles/MSEdgeNotificationStyle.xaml
Labels: controls :control_knobs:, improvements :sparkles:

#3776 Changed to Cake.GitVersioning and added 'nbgv cloud' on smoke test job.
  Directory.Build.props
  azure-pipelines.yml
  build/build.cake
Labels: CI/pipeline 🔬, auto merge :zap:, testing :building_construction:

#3777 Update license and icon based on @kyaa-dost's investigation
  Directory.Build.props
  Microsoft.Toolkit.Uwp.Notifications/Microsoft.Toolkit.Uwp.Notifications.nuspec
Labels: build :fire:, next preview :airplane:, nuget 📦

#3507 Added automation peer class for carousel and item
  Microsoft.Toolkit.Uwp.SampleApp/Data/PhotoDataItem.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/BladeView/BladeItemAutomationPeer.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/Carousel/Carousel.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/Carousel/CarouselAutomationPeer.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/Carousel/CarouselItem.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/Carousel/CarouselItemAutomationPeer.cs
  UnitTests/UnitTests.UWP/Properties/UnitTestApp.rd.xml
  UnitTests/UnitTests.UWP/UI/Controls/Test_Carousel.cs
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: accessibility :wheelchair:, auto merge :zap:, bug :bug:
