Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2021-06, with the labels that each got.

#4054 Cleanup samples.json: Update faulty links, remove obsolete comment
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
Labels: bug :bug:, sample app :iphone:, sample bug :bug:

#4013 Update PR-Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: auto merge :zap:, documentation :page_with_curl:, improvements :sparkles:

#3686 Add `MetadataControl`
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/MetadataControl/MetadataControl.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/MetadataControl/MetadataControlCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/MetadataControl/MetadataControlPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/MetadataControl/MetadataControlPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI.Controls.Core/MetadataControl/MetadataControl.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Core/MetadataControl/MetadataControl.xaml
  Microsoft.Toolkit.Uwp.UI.Controls.Core/MetadataControl/MetadataItem.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Core/Themes/Generic.xaml
Labels: auto merge :zap:, controls :control_knobs:, feature :bulb:, need documentation :page_with_curl:, priority 🚩

#4061 Fix error message display for InAppNotification used in Sample App
  Microsoft.Toolkit.Uwp.SampleApp/Pages/SampleController.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/Styles/Generic.xaml
Labels: auto merge :zap:, sample app :iphone:

#3786 Add AutoSelectBehavior
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/AutoSelectBehavior/AutoSelectBehaviorXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/XamlOnlyPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI.Behaviors/Select/AutoSelectBehavior.cs
  UnitTests/UnitTests.UWP/Behaviors/Test_AutoSelectBehavior.cs
  UnitTests/UnitTests.UWP/UnitTestApp.xaml
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: auto merge :zap:, controls :control_knobs:, doc-provided :heavy_check_mark:, feature request :mailbox_with_mail:, priority 🚩

#4007 Fix issues with mutiple UI Tests
  UITests/UITests.App/App.AppService.xaml.cs
  UITests/UITests.App/HomePage.xaml
  UITests/UITests.App/HomePage.xaml.cs
  UITests/UITests.App/MainTestHost.xaml
  UITests/UITests.App/MainTestHost.xaml.cs
  UITests/UITests.App/UITests.App.csproj
  UITests/UITests.Tests.MSTest/UITests.Tests.MSTest.csproj
  UITests/UITests.Tests.Shared/Controls/RangeSelectorTest.cs
  UITests/UITests.Tests.Shared/Controls/RangeSelectorTestPage.xaml
  UITests/UITests.Tests.Shared/Controls/RangeSelectorTestPage.xaml.cs
  UITests/UITests.Tests.Shared/Controls/TextBoxMaskTest.cs
  UITests/UITests.Tests.Shared/Examples/SimpleTest.cs
  UITests/UITests.Tests.Shared/TestAssembly.cs
  UITests/UITests.Tests.Shared/UITestBase.cs
  UITests/UITests.Tests.TAEF/UITests.Tests.TAEF.csproj
  azure-pipelines.yml
Labels: CI/pipeline 🔬, auto merge :zap:, testing :building_construction:

#4000 Add "PreviousVersionInstalled" to SystemInformation
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/SystemInformation/SystemInformationCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/SystemInformation/SystemInformationPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/SystemInformation/SystemInformationPage.xaml.cs
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/BaseObjectStorageHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/ObjectStorage/LocalObjectStorageHelper.cs
  Microsoft.Toolkit.Uwp/Helpers/SystemInformation.cs
  Microsoft.Toolkit.Uwp/Microsoft.Toolkit.Uwp.csproj
  UnitTests/UnitTests.UWP/Helpers/Test_SystemInformation.cs
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: auto merge :zap:, doc-provided :heavy_check_mark:, feature :bulb:, helpers :raised_hand:, needs author feedback :memo:, sample app :iphone:

#4089 Small fix for supporting VS2022.
  Microsoft.Toolkit.Uwp.Notifications/Microsoft.Toolkit.Uwp.Notifications.csproj
Labels: auto merge :zap:, bug :bug:

#4064 Fix issue where setting StaggeredLayout.ColumnWidth to NaN would cause an exception
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/StaggeredLayout/StaggeredLayout.cs
Labels: auto merge :zap:, bug :bug:, controls :control_knobs:, sample app :iphone:, sample bug :bug:

#4010 Switch ColorPicker to Derive from WinUI Controls
  Microsoft.Toolkit.Uwp.UI.Controls.Input/ColorPicker/ColorPicker.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/ColorPicker/ColorPicker.xaml
  Microsoft.Toolkit.Uwp.UI.Controls.Input/ColorPicker/ColorPickerButton.cs
Labels: auto merge :zap:, controls :control_knobs:, improvements :sparkles:
