Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2021-04, with the labels that each got.

#3923 Fix few typos in comments
  Microsoft.Toolkit.HighPerformance/Extensions/ArrayExtensions.3D.cs
  Microsoft.Toolkit.HighPerformance/Memory/Memory2D{T}.cs
  Microsoft.Toolkit.HighPerformance/Memory/ReadOnlyMemory2D{T}.cs
  Microsoft.Toolkit.Mvvm/Messaging/WeakReferenceMessenger.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/SwitchPresenter/SwitchPresenter.cs
  Microsoft.Toolkit.Uwp.UI.Media/Geometry/Utils.cs
  Microsoft.Toolkit.Uwp/Extensions/DispatcherQueueTimerExtensions.cs
  UnitTests/UnitTests.UWP/PrivateObject.cs
Labels: auto merge :zap:

#3934 Workaround for "InheritDoc" issue with "Nerdbank.GitVersioning" xml docs
  build/build.cake
Labels: auto merge :zap:

#3939 Fixed TaskExtensions.GetResultOrDefault() for Task.CompletedTask
  Microsoft.Toolkit/Extensions/TaskExtensions.cs
  UnitTests/UnitTests.Shared/Extensions/Test_TaskExtensions.cs
Labels: .NET Standard, auto merge :zap:, bug :bug:, extensions :zap:

#3936 Update ExecuteOnUIThreadAsync to EnqueueAsync
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/DispatcherQueueHelper/DispatcherQueueHelperCode.bind
Labels: auto merge :zap:

#3932 Enabled correct WeakReferenceMessenger path on .NET 5
  Microsoft.Toolkit.Mvvm/Messaging/WeakReferenceMessenger.cs
Labels: auto merge :zap:, improvements :sparkles:, mvvm-toolkit :toolbox:

#3914 Infinite Canvas dropdown font selector 2
  Microsoft.Toolkit.Uwp.UI.Controls.Media/InfiniteCanvas/Commands/InfiniteCanvasCreateTextBoxCommand.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Media/InfiniteCanvas/Controls/InfiniteCanvasVirtualDrawingSurface.Commands.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Media/InfiniteCanvas/InfiniteCanvas.TextBox.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Media/InfiniteCanvas/InfiniteCanvas.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Media/InfiniteCanvas/InfiniteCanvas.xaml
Labels: Completed :fire:, auto merge :zap:, controls :control_knobs:, for-review :book:

#3937 Update Mouse to FrameworkElementExtensions
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Mouse/MouseCursorPage.bind
Labels: auto merge :zap:, documentation :page_with_curl:, extensions :zap:, sample app :iphone:

#3942 Turned off layout rounding for failing tests
  UnitTests/UnitTests.UWP/UI/Controls/Test_WrapPanel_Visibility.cs
Labels: auto merge :zap:, testing :building_construction:

#3906 Added solution filter for .NET projects
  Windows Community Toolkit (NET).slnf
Labels: .NET Standard, auto merge :zap:, maintenance :gear:, visual studio :twisted_rightwards_arrows:

#3929 Added AnimationBuilder.Start(UIElement, Action) overload
  Microsoft.Toolkit.Uwp.UI.Animations/Builders/AnimationBuilder.cs
  UnitTests/UnitTests.UWP/UI/Animations/Test_AnimationBuilderStart.cs
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: animations :izakaya_lantern:, feature request :mailbox_with_mail:, improvements :sparkles:

#3951 Fixed ReadOnlySpan2D<T>.Slice parameters order
  Microsoft.Toolkit.HighPerformance/Memory/ReadOnlySpan2D{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Memory/Test_ReadOnlySpan2D{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Memory/Test_Span2D{T}.cs
Labels: auto merge :zap:, bug :bug:, high-performance 🚂, hotfix 🌶, introduce breaking changes :boom:

#3921 Fixed incorrect timed keyframe expression
  Microsoft.Toolkit.Uwp.UI.Animations/Builders/TimedKeyFrameAnimationBuilder{T}.cs
Labels: animations :izakaya_lantern:, auto merge :zap:, bug :bug:, hotfix 🌶, priority 🚩

#3948 Fix [ReadOnly]Span2D<T>.TryGetSpan on legacy frameworks
  Microsoft.Toolkit.HighPerformance/Memory/ReadOnlySpan2D{T}.cs
  Microsoft.Toolkit.HighPerformance/Memory/Span2D{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Memory/Test_ReadOnlySpan2D{T}.cs
  UnitTests/UnitTests.HighPerformance.Shared/Memory/Test_Span2D{T}.cs
Labels: auto merge :zap:, bug :bug:, high-performance 🚂, hotfix 🌶

#3956 Added VisualExtensions.Translation attached property
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Visual Extensions/VisualExtensionsCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Visual Extensions/VisualExtensionsPage.xaml
  Microsoft.Toolkit.Uwp.UI/Extensions/VisualExtensions.cs
  UnitTests/UnitTests.UWP/UI/Extensions/Test_VisualExtensions.cs
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: extensions :zap:, feature :bulb:, priority 🚩

#3994 Fixed NRE when setting text on Wide tile only via TileContentBuilder
  Microsoft.Toolkit.Uwp.Notifications/Tiles/Builder/TileContentBuilder.cs
  UnitTests/UnitTests.Notifications.Shared/TestTileContentBuilder.cs
  UnitTests/UnitTests.Notifications.Shared/UnitTests.Notifications.Shared.projitems
Labels: auto merge :zap:, bug :bug:, hotfix 🌶, notifications :bell:

#4003 Update System.Text.Json version for Controls.Media package
  Microsoft.Toolkit.Uwp.UI.Controls.Media/Microsoft.Toolkit.Uwp.UI.Controls.Media.csproj
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: hotfix 🌶
