Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2021-03, with the labels that each got.

#3724 Add another Baseline for understanding WinUI overhead.
  SmokeTests/SmokeTest.csproj
  SmokeTests/SmokeTests.proj
  SmokeTests/UWPBaselineWinUI/MainPage.xaml
  SmokeTests/UWPBaselineWinUI/MainPage.xaml.cs
Labels: CI/pipeline 🔬, auto merge :zap:, testing :building_construction:

#3783 [Bugfix] Include Microsoft.XamlIslands in UnitTest.XamlIslands.UWPApp
  UnitTests/UnitTests.XamlIslands.UWPApp/UnitTests.XamlIslands.UWPApp.csproj
Labels: XamlIslands :desert_island:, bug :bug:, for-review :book:, reviewers wanted :raised_hand:

#3792 Removed System.ValueTuple package reference from Animations
  Microsoft.Toolkit.Uwp.UI.Animations/Microsoft.Toolkit.Uwp.UI.Animations.csproj
Labels: auto merge :zap:, in progress :construction:, maintenance :gear:, nuget 📦

#3801 Fixed a crash with the items list animations in Sample app
  Microsoft.Toolkit.Uwp.SampleApp/Shell.SamplePicker.cs
Labels: auto merge :zap:, bug :bug:, in progress :construction:, sample app :iphone:, sample bug :bug:

#3793 Refactored Uwp.UI visual extensions
  Microsoft.Toolkit.Uwp.UI/Extensions/StringExtensions.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/VisualExtensions.cs
Labels: improvements :sparkles:, in progress :construction:, introduce breaking changes :boom:, maintenance :gear:, optimization ☄

#3798 Deprecated StringExtensions.AsFormat extension
  Microsoft.Toolkit/Extensions/StringExtensions.cs
Labels: .NET Standard, extensions :zap:, in progress :construction:, maintenance :gear:

#3796 Animations package improvements
  Microsoft.Toolkit.Uwp.UI.Animations/Builders/AnimationBuilder.Default.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Builders/AnimationBuilder.Factories.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Builders/AnimationBuilder.KeyFrames.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Builders/AnimationBuilder.PropertyBuilders.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Builders/AnimationBuilder.Setup.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Builders/Interfaces/IPropertyAnimationBuilder{T}.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Builders/NormalizedKeyFrameAnimationBuilder{T}.Composition.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Builders/NormalizedKeyFrameAnimationBuilder{T}.Xaml.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Builders/TimedKeyFrameAnimationBuilder{T}.Composition.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/AnimationExtensions.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Xaml/Abstract/Animation.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Xaml/Abstract/Animation{TValue,TKeyFrame}.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Xaml/Abstract/CustomAnimation{TValue,TKeyFrame}.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Xaml/Abstract/ImplicitAnimation{TValue,TKeyFrame}.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Xaml/Default/ClipAnimation.cs
  Microsoft.Toolkit.Uwp.UI.Media/Animations/Abstract/EffectAnimation{TEffect,TValue,TKeyFrame}.cs
Labels: animations :izakaya_lantern:, auto merge :zap:, feature :bulb:, in progress :construction:, introduce breaking changes :boom:

#3802 Fixed stack corruption bug in InAppNotification in sample
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/InAppNotification/InAppNotificationPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/InAppNotification/InAppNotificationXaml.bind
  Microsoft.Toolkit.Uwp.UI.Controls.Core/InAppNotification/InAppNotification.cs
Labels: auto merge :zap:, bug :bug:, controls :control_knobs:, sample app :iphone:

#3389 Add NullableHelper
  Microsoft.Toolkit.HighPerformance/Extensions/NullableExtensions.cs
  UnitTests/UnitTests.HighPerformance.Shared/Extensions/Test_NullableExtensions.cs
  UnitTests/UnitTests.HighPerformance.Shared/UnitTests.HighPerformance.Shared.projitems
Labels: auto merge :zap:, feature :bulb:, high-performance 🚂, in progress :construction:, reviewers wanted :raised_hand:

#3761 Fix Visual studio release build
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/Models/Sample.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CanvasPathGeometry/CanvasPathGeometryPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/EnumValuesExtension/Animal.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/EnumValuesExtension/AnimalToColorConverter.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/EnumValuesExtension/EnumValuesExtensionPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ViewportBehavior/ViewportBehaviorPage.xaml.cs
Labels: bug :bug:, build :fire:

#3789 Add basic SwitchPresenter Sample
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/EnumValuesExtension/Animal.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/EnumValuesExtension/AnimalToColorConverter.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Primitives/SwitchPresenter.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Primitives/SwitchPresenter.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/WrapPanel/WrapPanel.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/XamlOnlyPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/SwitchPresenter/Case.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/SwitchPresenter/CaseCollection.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/SwitchPresenter/SwitchPresenter.cs
Labels: auto merge :zap:, bug :bug:, controls :control_knobs:, reviewers wanted :raised_hand:, sample app :iphone:

#3809 Added AnimationBuilder C# sample code
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Animations/Activities/InvokeActionsActivityCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Animations/Activities/StartAnimationActivityCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
Labels: animations :izakaya_lantern:, documentation :page_with_curl:, in progress :construction:, sample app :iphone:

#3810 Changed TextBoxExtensions.PlaceHolder property name
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TextBoxMask/TextBoxMask.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TextBoxMask/TextBoxMaskPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TextBoxRegex/TextBoxRegex.bind
  Microsoft.Toolkit.Uwp.UI/Extensions/TextBox/SurfaceDialOptions.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/TextBox/TextBoxExtensions.Mask.Internals.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/TextBox/TextBoxExtensions.Mask.Properties.cs
Labels: auto merge :zap:, extensions :zap:, improvements :sparkles:, in progress :construction:, introduce breaking changes :boom:

#3816 Added removal for Storyboard completion handler
  Microsoft.Toolkit.Uwp.UI.Animations/Extensions/StoryboardAnimations.cs
Labels: animations :izakaya_lantern:, extensions :zap:, in progress :construction:, optimization ☄

#3817 Fixed unit tests for Point/Rect/Size extensions
  UnitTests/UnitTests.UWP/Extensions/Test_PointExtensions.cs
  UnitTests/UnitTests.UWP/Extensions/Test_RectExtensions.cs
  UnitTests/UnitTests.UWP/Extensions/Test_SizeExtensions.cs
Labels: auto merge :zap:, extensions :zap:, in progress :construction:, testing :building_construction:

#3813 #3779 Fix TabbedCommandBar MinVersion
  Microsoft.Toolkit.Uwp.UI.Controls.Core/TabbedCommandBar/TabbedCommandBar.xaml
Labels: auto merge :zap:, bug :bug:, controls :control_knobs:

#3808 Fixes #3629 TileControl crashes when moving monitors
  Microsoft.Toolkit.Uwp.UI.Controls.Core/TileControl/TileControl.cs
Labels: auto merge :zap:, bug :bug:, controls :control_knobs:

#3821 Update XamlIslandsTest_StringExtensions to fix from Extensions namesp…
  UnitTests/UnitTests.XamlIslands.UWPApp/XamlIslandsTest_StringExtensions.cs
Labels: auto merge :zap:, extensions :zap:, improvements :sparkles:

#3811 Add ContentPresenter to Logical Tree helpers
  Microsoft.Toolkit.Uwp.UI/Extensions/FrameworkElement/FrameworkElementExtensions.LogicalTree.cs
Labels: auto merge :zap:, controls :control_knobs:, extensions :zap:, improvements :sparkles:

#3822 [Refactor] Split up RangeSelector.cs file
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/RangeSelector/RangeSelectorCode.bind
  Microsoft.Toolkit.Uwp.UI.Controls.Input/RangeSelector/RangeSelector.Events.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/RangeSelector/RangeSelector.Input.Drag.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/RangeSelector/RangeSelector.Input.Key.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/RangeSelector/RangeSelector.Input.Pointer.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/RangeSelector/RangeSelector.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/RangeSelector/RangeSelector.cs
Labels: controls :control_knobs:, improvements :sparkles:, in progress :construction:, introduce breaking changes :boom:

#3678 Refine enum conversion logic in IsEqualStateTrigger
  Microsoft.Toolkit.Uwp.UI/Triggers/IsEqualStateTrigger.cs
Labels: helpers :raised_hand:, improvements :sparkles:, reviewers wanted :raised_hand:

#3820 StringExtensions: Switch to italic instead of blue, fix bug with bold effect not being applied
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/StringExtensions/StringExtensionsPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/StringExtensions/StringExtensionsPage.xaml.cs
Labels: accessibility :wheelchair:, bug :bug:, extensions :zap:, sample app :iphone:

#3819 Switch to fast path rendering
  Microsoft.Toolkit.Uwp.SampleApp/Pages/About.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CameraHelper/CameraHelperPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CameraPreview/CameraPreviewCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/CameraPreview/CameraPreviewXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Connected Animations/ConnectedAnimationsCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Connected Animations/Pages/FirstPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Connected Animations/Pages/SecondPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Connected Animations/Pages/ThirdPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/DataGrid/DataGridCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/DockPanel/DockPanel.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/DropShadowPanel/DropShadowPanelXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/FrameworkElementExtensions/FrameworkElementExtensionsCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/GridSplitter/GridSplitter.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ListViewExtensions/ListViewExtensionsCode.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PeoplePicker/PeoplePickerXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Primitives/SwitchPresenter.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PrintHelper/PrintHelperPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/StringExtensions/StringExtensionsPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/TileControl/TileControl.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ViewExtensions/ViewExtensionsCode.bind
  SmokeTests/Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/MainPage.xaml
Labels: optimization ☄, sample app :iphone:

#3823 Don't have the GridSplitterHandle show in UIA tree
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/GridSplitter/GridSplitter.Events.cs
Labels: accessibility :wheelchair:, bug :bug:, controls :control_knobs:

#3830 Using DispatcherQueue instead of CoreDispatcher
  Microsoft.Toolkit.Uwp.DeveloperTools/FocusTracker/FocusTracker.cs
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/GazePointer.cs
  Microsoft.Toolkit.Uwp.UI.Animations/ConnectedAnimations/ConnectedAnimationHelper.cs
  Microsoft.Toolkit.Uwp.UI.Behaviors/Focus/FocusBehavior.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Core/RotatorTile/RotatorTile.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Core/TileControl/TileControl.cs
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGrid.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/ColorPicker/ColorPicker.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenizingTextBox.Selection.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenizingTextBox.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/BladeView/BladeView.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Markdown/MarkdownTextBlock/MarkdownTextBlock.Methods.cs
  Microsoft.Toolkit.Uwp.UI.Media/Brushes/XamlCompositionBrush.cs
  Microsoft.Toolkit.Uwp.UI/Triggers/NetworkConnectionStateTrigger.cs
Labels: bug :bug:

#3829 Add description for Controls meta package
  Microsoft.Toolkit.Uwp.UI.Controls.Core/Microsoft.Toolkit.Uwp.UI.Controls.Core.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/Microsoft.Toolkit.Uwp.UI.Controls.DataGrid.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Input/Microsoft.Toolkit.Uwp.UI.Controls.Input.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/Microsoft.Toolkit.Uwp.UI.Controls.Layout.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Markdown/Microsoft.Toolkit.Uwp.UI.Controls.Markdown.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Media/Microsoft.Toolkit.Uwp.UI.Controls.Media.csproj
  Microsoft.Toolkit.Uwp.UI.Controls/Microsoft.Toolkit.Uwp.UI.Controls.csproj
  Microsoft.Toolkit.Uwp.UI.Controls/readme.txt
Labels: auto merge :zap:, bug :bug:, nuget 📦

#3824 Sample app updates for 7.0
  Microsoft.Toolkit.Uwp.SampleApp/App.xaml
  Microsoft.Toolkit.Uwp.SampleApp/Controls/CodeRenderer.xaml
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/Models/GitHubRelease.cs
  Microsoft.Toolkit.Uwp.SampleApp/Models/Sample.cs
  Microsoft.Toolkit.Uwp.SampleApp/Package.appxmanifest
  Microsoft.Toolkit.Uwp.SampleApp/Pages/About.xaml
  Microsoft.Toolkit.Uwp.SampleApp/Pages/SampleController.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Animations/Effects/EffectAnimations.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ColorPicker/ColorPickerButtonPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ColorPicker/ColorPickerButtonPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ColorPicker/ColorPickerPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ColorPicker/ColorPickerPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Graph/LoginButton.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Graph/LoginButtonXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Graph/PeoplePicker.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Graph/PeoplePickerXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Graph/PersonView.png
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Graph/PersonViewXaml.bind
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/LoginButton/LoginButtonPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/LoginButton/LoginButtonPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PeoplePicker/PeoplePickerPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PeoplePicker/PeoplePickerPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PersonView/PersonViewPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/PersonView/PersonViewPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/RangeSelector/RangeSelectorPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/RangeSelector/RangeSelectorPage.xaml.cs
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/XamlOnlyPage.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  Microsoft.Toolkit.Uwp.SampleApp/Shell.SamplePicker.cs
  Microsoft.Toolkit.Uwp.SampleApp/Shell.xaml
  Microsoft.Toolkit.Uwp.SampleApp/Styles/Generic.xaml
  Microsoft.Toolkit.Uwp.SampleApp/Styles/GithubIcon.xaml
  Microsoft.Toolkit.Uwp.SampleApp/Styles/Themes.xaml
  Microsoft.Toolkit.Uwp.SampleApp/landingPageLinks.json
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/SwitchPresenter/SwitchPresenter.cs
  Microsoft.Toolkit.Uwp/Helpers/PackageVersionHelper.cs
Labels: auto merge :zap:, improvements :sparkles:, sample app :iphone:

#3837 Fix wrong bracket matching when parsing Vectors
  Microsoft.Toolkit.Uwp.UI/Extensions/StringExtensions.cs
Labels: auto merge :zap:, bug :bug:, extensions :zap:, sample app :iphone:, sample bug :bug:

#3854 Added unit tests for Vector2/3/4/Quaternion parsing
  UnitTests/UnitTests.UWP/Extensions/Test_StringExtensions.cs
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: extensions :zap:, testing :building_construction:

#3850 Fixed ListViewExtensionsCode.bind file.
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/ListViewExtensions/ListViewExtensionsCode.bind
  Microsoft.Toolkit.Uwp.UI/Extensions/ListViewBase/ListViewExtensions.cs
Labels: auto merge :zap:, bug :bug:, extensions :zap:, sample app :iphone:

#3836 Fix notification Group property being overwritten in unpackaged apps
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/ToastNotifierCompat.cs
Labels: auto merge :zap:, bug :bug:, notifications :bell:

#3866 Handle Assembly being null
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/Win32AppInfo.cs
Labels: auto merge :zap:, bug :bug:

#3863 Fix Package tags to better SEO on Nuget
  Microsoft.Toolkit.Diagnostics/Microsoft.Toolkit.Diagnostics.csproj
  Microsoft.Toolkit.HighPerformance/Microsoft.Toolkit.HighPerformance.csproj
  Microsoft.Toolkit.Mvvm/Microsoft.Toolkit.Mvvm.csproj
  Microsoft.Toolkit.Uwp.Connectivity/Microsoft.Toolkit.Uwp.Connectivity.csproj
  Microsoft.Toolkit.Uwp.DeveloperTools/Microsoft.Toolkit.Uwp.DeveloperTools.csproj
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/Microsoft.Toolkit.Uwp.Input.GazeInteraction.csproj
  Microsoft.Toolkit.Uwp.UI.Animations/Microsoft.Toolkit.Uwp.UI.Animations.csproj
  Microsoft.Toolkit.Uwp.UI.Behaviors/Microsoft.Toolkit.Uwp.UI.Behaviors.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Core/Microsoft.Toolkit.Uwp.UI.Controls.Core.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/Microsoft.Toolkit.Uwp.UI.Controls.DataGrid.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Input/Microsoft.Toolkit.Uwp.UI.Controls.Input.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/Microsoft.Toolkit.Uwp.UI.Controls.Layout.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Markdown/Microsoft.Toolkit.Uwp.UI.Controls.Markdown.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Media/Microsoft.Toolkit.Uwp.UI.Controls.Media.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/Microsoft.Toolkit.Uwp.UI.Controls.Primitives.csproj
  Microsoft.Toolkit.Uwp.UI.Media/Microsoft.Toolkit.Uwp.UI.Media.csproj
  Microsoft.Toolkit.Uwp.UI/Microsoft.Toolkit.Uwp.UI.csproj
  Microsoft.Toolkit.Uwp/Microsoft.Toolkit.Uwp.csproj
  Microsoft.Toolkit/Microsoft.Toolkit.csproj
Labels: improvements :sparkles:, nuget 📦

#3880 Merge Dev/7.0.1 into main
  Microsoft.Toolkit.Diagnostics/Microsoft.Toolkit.Diagnostics.csproj
  Microsoft.Toolkit.HighPerformance/Microsoft.Toolkit.HighPerformance.csproj
  Microsoft.Toolkit.Mvvm/Microsoft.Toolkit.Mvvm.csproj
  Microsoft.Toolkit.Uwp.Connectivity/Microsoft.Toolkit.Uwp.Connectivity.csproj
  Microsoft.Toolkit.Uwp.DeveloperTools/Microsoft.Toolkit.Uwp.DeveloperTools.csproj
  Microsoft.Toolkit.Uwp.Input.GazeInteraction/Microsoft.Toolkit.Uwp.Input.GazeInteraction.csproj
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/ToastNotifierCompat.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Microsoft.Toolkit.Uwp.UI.Animations.csproj
  Microsoft.Toolkit.Uwp.UI.Behaviors/Microsoft.Toolkit.Uwp.UI.Behaviors.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Core/Microsoft.Toolkit.Uwp.UI.Controls.Core.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/Microsoft.Toolkit.Uwp.UI.Controls.DataGrid.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Input/Microsoft.Toolkit.Uwp.UI.Controls.Input.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/Microsoft.Toolkit.Uwp.UI.Controls.Layout.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Markdown/Microsoft.Toolkit.Uwp.UI.Controls.Markdown.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Media/Microsoft.Toolkit.Uwp.UI.Controls.Media.csproj
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/Microsoft.Toolkit.Uwp.UI.Controls.Primitives.csproj
  Microsoft.Toolkit.Uwp.UI.Media/Microsoft.Toolkit.Uwp.UI.Media.csproj
  Microsoft.Toolkit.Uwp.UI/Microsoft.Toolkit.Uwp.UI.csproj
  Microsoft.Toolkit.Uwp/Microsoft.Toolkit.Uwp.csproj
  Microsoft.Toolkit/Microsoft.Toolkit.csproj
Labels: auto merge :zap:

#3843 Feature/implicit animation binding
  Microsoft.Toolkit.Uwp.UI.Animations/Implicit.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Xaml/Abstract/Animation.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Xaml/Abstract/ImplicitAnimation{TValue,TKeyFrame}.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Xaml/ImplicitAnimationSet.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Xaml/Interfaces/IImplicitTimeline.cs
Labels: animations :izakaya_lantern:, auto merge :zap:, feature request :mailbox_with_mail:, improvements :sparkles:

#3878 Fix WrapPanel behavior with collapsed children
  Microsoft.Toolkit.Uwp.UI.Controls.Primitives/WrapPanel/WrapPanel.cs
Labels: bug :bug:, controls :control_knobs:

#3881 Fixes #3871 - Can't see InAppNotification border
  Microsoft.Toolkit.Uwp.UI.Controls.Core/InAppNotification/InAppNotification.xaml
Labels: bug :bug:, controls :control_knobs:, improvements :sparkles:

#3887 Fixed crash in InvokeActionsActivity sample page
  Microsoft.Toolkit.Uwp.SampleApp/Properties/Default.rd.xml
Labels: bug :bug:, sample app :iphone:, sample bug :bug:

#3888 Fix for FocusTracker Sample App hang
  Microsoft.Toolkit.Uwp.DeveloperTools/FocusTracker/FocusTracker.cs
  Microsoft.Toolkit.Uwp.SampleApp/App.xaml.cs
Labels: bug :bug:, controls :control_knobs:, improvements :sparkles:, optimization ☄, sample app :iphone:

#3886 Add some basic tests for WrapPanel
  Microsoft.Toolkit.Uwp.SampleApp/Models/Sample.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/UIElementExtensions.cs
  UnitTests/UnitTests.UWP/Extensions/Test_UIElementExtensions_Coordinates.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_WrapPanel_BasicLayout.cs
  UnitTests/UnitTests.UWP/UI/Controls/Test_WrapPanel_Visibility.cs
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
Labels: auto merge :zap:, testing :building_construction:

#3890 Replace remaning references to ribbon to TabbedCommandBar
  .github/ISSUE_TEMPLATE/feature_request.md
  Microsoft.Toolkit.Uwp.UI.Controls.Core/TabbedCommandBar/TabbedCommandBar.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Core/TabbedCommandBar/TabbedCommandBar.xaml
  Microsoft.Toolkit.Uwp.UI.Controls.Core/TabbedCommandBar/TabbedCommandBarItem.cs
Labels: auto merge :zap:, controls :control_knobs:, improvements :sparkles:

#3892 Update ScrollHeader sample docs to /docs/behaviors/HeaderBehaviors.md
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
Labels: auto merge :zap:, bug :bug:, documentation :page_with_curl:, sample app :iphone:

#3895 Fix notification settings disabled for unpackaged apps on 19042 and older
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/Desktop/Win32AppInfo.cs
  Microsoft.Toolkit.Uwp.Notifications/Toasts/Compat/ToastNotificationManagerCompat.cs
Labels: bug :bug:, notifications :bell:

#3901 Fixed exception message and docs for Span2D<T>.CopyTo(Span2D<T>)
  Microsoft.Toolkit.HighPerformance/Memory/Internals/ThrowHelper.cs
  Microsoft.Toolkit.HighPerformance/Memory/ReadOnlySpan2D{T}.cs
  Microsoft.Toolkit.HighPerformance/Memory/Span2D{T}.cs
Labels: auto merge :zap:, documentation :page_with_curl:, high-performance 🚂

#3902 Fix Remote Doc/Image Caching in Sample App
  Microsoft.Toolkit.Uwp.SampleApp/Microsoft.Toolkit.Uwp.SampleApp.csproj
  Microsoft.Toolkit.Uwp.SampleApp/Models/Sample.cs
  Microsoft.Toolkit.Uwp.SampleApp/Pages/SampleController.xaml.cs
Labels: bug :bug:, documentation :page_with_curl:, sample app :iphone:

#3826 Specify DataGridRowHoveredBackgroundColor beyond SystemListLowColor
  Microsoft.Toolkit.Uwp.UI.Controls.DataGrid/DataGrid/DataGrid.xaml
Labels: DataGrid :capital_abcd:, auto merge :zap:
