Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2022-01, with the labels that each got.

#4333 Feature/extended tree helpers
  Microsoft.Toolkit.Uwp.UI/Enums/SearchType.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/DependencyObjectExtensions.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/FrameworkElement/FrameworkElementExtensions.LogicalTree.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/Predicates/PredicateByFunc{T,TState}.cs
  Microsoft.Toolkit.Uwp.UI/Extensions/Predicates/PredicateByFunc{T}.cs
  Microsoft.Toolkit.Uwp.UI/Helpers/Internals/ArrayPoolBufferWriter{T}.cs
  UnitTests/UnitTests.UWP/Extensions/Test_VisualTreeExtensions.cs
Labels: feature :bulb:, improvements :sparkles:, extensions :zap:, feature request :mailbox_with_mail:, needs attention :wave:, partner ⏹

#4397 Optimize Visual size sync through RelativeSizeAdjustment over expression animations
  Microsoft.Toolkit.Uwp.UI.Media/Extensions/UIElementExtensions.cs
  Microsoft.Toolkit.Uwp.UI.Media/Extensions/Windows.UI.Composition/CompositionObjectExtensions.cs
  Microsoft.Toolkit.Uwp.UI.Media/Pipelines/PipelineBuilder.cs
Labels: animations :izakaya_lantern:, functional testing required :pushpin:, brush :paintbrush:, auto merge :zap:, optimization ☄, partner ⏹

#4451 Resolve issue #4432 with release note text overlap
  Microsoft.Toolkit.Uwp.SampleApp/Pages/About.xaml
Labels: bug :bug:, sample app :iphone:, UI issue :goal_net:

#4372 Fix ColorPickerButton SelectedColor bug
  Microsoft.Toolkit.Uwp.UI.Controls.Input/ColorPicker/ColorPickerButton.cs
  UITests/UITests.Tests.Shared/Controls/ColorPickerButtonTest.cs
  UITests/UITests.Tests.Shared/Controls/ColorPickerButtonTestPage.xaml
  UITests/UITests.Tests.Shared/Controls/ColorPickerButtonTestPage.xaml.cs
Labels: bug :bug:, controls :control_knobs:

#4424 Fixed InAppNotification not dismissing programmatically after cancelling closing event
  Microsoft.Toolkit.Uwp.UI.Controls.Core/InAppNotification/InAppNotification.cs
Labels: bug :bug:, controls :control_knobs:, auto merge :zap:, hotfix 🌶

#4466 Fixed DependencyProperty assign exception.
  Microsoft.Toolkit.Uwp.UI.Behaviors/Animations/StopAnimationAction.cs
Labels: bug :bug:, animations :izakaya_lantern:
