Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2022-10, with the labels that each got.

#4756 Fixed expression nodes created with custom param names incorrectly clearing during internal cleanup
  Microsoft.Toolkit.Uwp.UI.Animations/Expressions/ExpressionFunctions.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Expressions/ExpressionNodes/ExpressionNode.cs
  Microsoft.Toolkit.Uwp.UI.Animations/Expressions/ReferenceNodes/ReferenceNode.cs
Labels: bug :bug:, animations :izakaya_lantern:, for-review :book:, hotfix 🌶

#4776 Properly attach / detach events when ObservableGattCharacteristics.Characteristic is changed
  Microsoft.Toolkit.Uwp.Connectivity/BluetoothLEHelper/ObservableGattCharacteristics.cs
Labels: bug :bug:, auto merge :zap:

#4764 Fixed StringFormatConverter ignoring Language parameter, cleanup
  Microsoft.Toolkit.Uwp.UI/Converters/StringFormatConverter.cs
  UnitTests/UnitTests.UWP/Converters/Test_StringFormatConverter.cs
Labels: improvements :sparkles:, feature request :mailbox_with_mail:, for-review :book:, needs attention :wave:

#4787 RadialGauge and WeakEventListener optimizations
  Microsoft.Toolkit.Uwp.UI.Controls.Core/RotatorTile/RotatorTile.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/RadialGauge/RadialGauge.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/InterspersedObservableCollection.cs
  Microsoft.Toolkit.Uwp.UI/AdvancedCollectionView/AdvancedCollectionView.cs
  Microsoft.Toolkit.Uwp.UI/Triggers/FullScreenModeStateTrigger.cs
  Microsoft.Toolkit.Uwp.UI/Triggers/IsNullOrEmptyStateTrigger.cs
  Microsoft.Toolkit.Uwp.UI/Triggers/NetworkConnectionStateTrigger.cs
  Microsoft.Toolkit.Uwp.UI/Triggers/UserInteractionModeStateTrigger.cs
Labels: bug :bug:, controls :control_knobs:, optimization ☄

#4730 fix: Fix color picker button binding failure issue
  Microsoft.Toolkit.Uwp.UI.Controls.Input/ColorPicker/ColorPicker.xaml
  Microsoft.Toolkit.Uwp.UI.Controls.Input/ColorPicker/ColorToSelectedValueConverter.cs
Labels: bug :bug:, controls :control_knobs:, WinUI :diamond_shape_with_a_dot_inside:

#4786 Fix Text initialization and updating for TokenizingTextBox
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenizingTextBox.Properties.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenizingTextBox.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenizingTextBoxItem.AutoSuggestBox.cs
  Microsoft.Toolkit.Uwp.UI.Controls.Input/TokenizingTextBox/TokenizingTextBoxItem.AutoSuggestBox.xaml
  UITests/UITests.Tests.MSTest/UITests.Tests.MSTest.csproj
  UnitTests/UnitTests.Notifications.NetCore/UnitTests.Notifications.NetCore.csproj
  UnitTests/UnitTests.Notifications.UWP/UnitTests.Notifications.UWP.csproj
  UnitTests/UnitTests.UWP/UI/Controls/Test_TokenizingTextBox_General.cs
  UnitTests/UnitTests.UWP/UnitTests.UWP.csproj
  UnitTests/UnitTests.XamlIslands.UWPApp/UnitTests.XamlIslands.UWPApp.csproj
  Windows Community Toolkit.sln
Labels: bug :bug:, controls :control_knobs:

#4789 Update NuGet Version in build pipeline
  azure-pipelines.yml
Labels: build :fire:, CI/pipeline 🔬

#4790 TaskResultConverter returns default value when task not set
  Microsoft.Toolkit.Uwp.UI/Converters/TaskResultConverter.cs
  UnitTests/UnitTests.UWP/Converters/Test_TaskResultConverter.cs
Labels: bug :bug:, helpers :raised_hand:, auto merge :zap:

#4792 ColorPicker Slider Circle Accessibility Fix
  Microsoft.Toolkit.Uwp.UI.Controls.Input/ColorPicker/ColorPickerSlider.cs
Labels: bug :bug:, controls :control_knobs:, accessibility :wheelchair:, auto merge :zap:
