Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2022-05, with the labels that each got.

#4404 Clip inner content from AttachedCardShadow using CompositionMaskBrush
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/Shadows/AttachedShadowWin2DXaml.bind
  Microsoft.Toolkit.Uwp.UI.Media/Enums/InnerContentClipMode.cs
  Microsoft.Toolkit.Uwp.UI.Media/Shadows/AttachedCardShadow.cs
  Microsoft.Toolkit.Uwp.UI/Shadows/AttachedShadowElementContext.cs
Labels: extensions :zap:, priority 🚩, partner ⏹

#4563 Update Readme and add mention of Windows 11 and WinUI 3
  Microsoft.Toolkit.Uwp.SampleApp/Pages/About.xaml
  Microsoft.Toolkit.Uwp.SampleApp/SamplePages/samples.json
  ReadMe.md
Labels: documentation :page_with_curl:, sample app 🖼

#4464 Add tests for toast scenario
  UnitTests/UnitTests.Notifications.Shared/Test_Toast_Xml.cs
Labels: notifications :bell:, testing :building_construction:
