Repository CommunityToolkit/WindowsCommunityToolkit, pull requests merged in 2022-08, with the labels that each got.

#4518 Fixed left/right key input for Carousel in RTL Flow Direction
  Microsoft.Toolkit.Uwp.UI.Controls.Layout/Carousel/Carousel.cs
Labels: bug :bug:, hotfix 🌶

#4727 Fixed StickyHeaderBehavior HeaderElementProperty owner type / summary
  Microsoft.Toolkit.Uwp.UI.Behaviors/Headers/StickyHeaderBehavior.cs
Labels: hotfix 🌶, behaviors ⚙

#4719 Animation action changes
  Microsoft.Toolkit.Uwp.UI.Animations/Xaml/Activities/StopAnimationActivity.cs
  Microsoft.Toolkit.Uwp.UI.Behaviors/Animations/StartAnimationAction.cs
Labels: bug :bug:, animations :izakaya_lantern:

#4588 Ryken100/attached card shadow composition mask brush resize fix
  Microsoft.Toolkit.Uwp.UI.Media/Shadows/AttachedCardShadow.cs
Labels: bug :bug:, hotfix 🌶
